flows (1).json
[{"id":"c74b5e3da28afa27","type":"tab","label":"Flux 1","disabled":false,"info":"","env":[]},{"id":"0dab9b2a757e69a8","type":"http request","z":"c74b5e3da28afa27","name":"","method":"GET","ret":"txt","paytoqs":"ignore","url":"https://colomiers.veocinemas.fr/#a-laffiche","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[],"x":270,"y":200,"wires":[["991dfa700cdd8ee9","ed923cf54cdfadf4"]]},{"id":"991dfa700cdd8ee9","type":"debug","z":"c74b5e3da28afa27","name":"debug 1","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":450,"y":180,"wires":[]},{"id":"f7e39bd686b88986","type":"inject","z":"c74b5e3da28afa27","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":90,"y":200,"wires":[["0dab9b2a757e69a8"]]},{"id":"ed923cf54cdfadf4","type":"html","z":"c74b5e3da28afa27","name":"","property":"payload","outproperty":"payload","tag":"div.css-1ix42qt > a","ret":"attr","as":"single","chr":"_","x":510,"y":260,"wires":[["45972ea9589dcd38"]]},{"id":"cc868c5d5ea8987a","type":"debug","z":"c74b5e3da28afa27","name":"debug 3","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":960,"y":280,"wires":[]},{"id":"8442e9517483e010","type":"function","z":"c74b5e3da28afa27","name":"function 1","func":"var items = msg.payload;\nnode.log(\"paylod function\" + msg.payload + \"item ln \" + items.length);\nvar hrefs = [];\nfor (var i = 0; i < items.length; i++) {\n    // Vérifie si l'objet a la propriété 'href'\n    if (items[i].href) {\n        hrefs.push(items[i].href);\n    }\n}\n// Assignez le tableau des hrefs à msg.payload\nmsg.payload = hrefs;\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":740,"y":320,"wires":[["cc868c5d5ea8987a"]]},{"id":"45972ea9589dcd38","type":"json","z":"c74b5e3da28afa27","name":"","property":"payload","action":"","pretty":false,"x":650,"y":380,"wires":[["8442e9517483e010","7275ca37d362b2f2"]]},{"id":"7275ca37d362b2f2","type":"debug","z":"c74b5e3da28afa27","name":"debug 2","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":820,"y":440,"wires":[]}]