flowsHA.json
[{"id":"c74b5e3da28afa27","type":"tab","label":"Flux 1","disabled":false,"info":"","env":[]},{"id":"9182f0c927a346f1","type":"tab","label":"Flux 2","disabled":false,"info":"","env":[]},{"id":"2bbadc2.622a424","type":"slack-config","name":""},{"id":"2b9404f5b1544277","type":"slack-config","name":"node-red"},{"id":"0dab9b2a757e69a8","type":"http request","z":"c74b5e3da28afa27","name":"","method":"GET","ret":"txt","paytoqs":"ignore","url":"https://colomiers.veocinemas.fr/#a-laffiche","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[],"x":270,"y":200,"wires":[["991dfa700cdd8ee9","ed923cf54cdfadf4"]]},{"id":"991dfa700cdd8ee9","type":"debug","z":"c74b5e3da28afa27","name":"debug 1","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":450,"y":180,"wires":[]},{"id":"f7e39bd686b88986","type":"inject","z":"c74b5e3da28afa27","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":90,"y":200,"wires":[["0dab9b2a757e69a8"]]},{"id":"ed923cf54cdfadf4","type":"html","z":"c74b5e3da28afa27","name":"","property":"payload","outproperty":"payload","tag":"div.css-1ix42qt > a","ret":"attr","as":"single","chr":"_","x":510,"y":260,"wires":[["8442e9517483e010"]]},{"id":"cc868c5d5ea8987a","type":"debug","z":"c74b5e3da28afa27","name":"debug 3","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":960,"y":280,"wires":[]},{"id":"8442e9517483e010","type":"function","z":"c74b5e3da28afa27","name":"function 1","func":"var items = msg.payload;\n//node.log(\"item ln \" + items.length);\nvar hrefs = [];\nvar result = {};\nfor (var i = 0; i < items.length; i++) {\n    // Vérifie si l'objet a la propriété 'href'\n    //node.log(\"item \" + items[i]);\n    if (items[i].href) {\n        hrefs.push(items[i].title);\n    }\n}\n// Assignez le tableau des hrefs à msg.payload\nresult.text = \"Films à l'affiche au cinéma de Colomier : \" + hrefs.join(', ');\nmsg.payload = result;\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":740,"y":320,"wires":[["cc868c5d5ea8987a","3931980913ab78da"]]},{"id":"3931980913ab78da","type":"http request","z":"c74b5e3da28afa27","name":"","method":"POST","ret":"txt","paytoqs":"ignore","url":"https://hooks.slack.com/services/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","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[{"keyType":"Content-Type","keyValue":"","valueType":"application/json","valueValue":""}],"x":790,"y":520,"wires":[["a70d3b9a6479289d"]]},{"id":"a70d3b9a6479289d","type":"debug","z":"c74b5e3da28afa27","name":"debug 2","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1060,"y":520,"wires":[]},{"id":"bc72e315d7233d76","type":"inject","z":"9182f0c927a346f1","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":190,"y":180,"wires":[["b72d79956a682ab7"]]},{"id":"b72d79956a682ab7","type":"http request","z":"9182f0c927a346f1","name":"","method":"GET","ret":"txt","paytoqs":"ignore","url":"https://www.pmu.fr/turf/","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[],"x":450,"y":200,"wires":[["f960f7396d168830"]]},{"id":"dc62125763426458","type":"debug","z":"9182f0c927a346f1","name":"debug 4","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1120,"y":220,"wires":[]},{"id":"f960f7396d168830","type":"html","z":"9182f0c927a346f1","name":"","property":"payload","outproperty":"payload","tag":"div.css-175oi2r","ret":"html","as":"single","chr":"_","x":680,"y":200,"wires":[["6efb9db6cc74fb9e","dc62125763426458"]]},{"id":"8e174c2ba0568ce5","type":"inject","z":"9182f0c927a346f1","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"<div class=\"css-175oi2r r-tskmnb\"><div class=\"css-175oi2r\"><div style=\"padding-right: 16px; padding-left: 16px;\"><div class=\"course-link\" title=\"AUFTAKTRENNEN ZUR 2 EURO-V3-STARTWETTE  ALLEMAGNE\" role=\"link\" aria-label=\"Sélectionnez une course\"><button role=\"button\" tabindex=\"0\" class=\"css-175oi2r r-1loqt21 r-1otgn73 r-14lw9ot r-1q9bdsx r-1dt9a7j r-5oul0u r-13qz1uu\" style=\"opacity: 1;\" type=\"button\"><div class=\"css-175oi2r r-1q9bdsx r-1udh08x\"><div class=\"css-175oi2r r-18u37iz r-xyw6el r-1qhn6m8\" style=\"background-color: rgb(255, 255, 255); height: 106px; user-select: none;\" data-testid=\"CourseCardContainer\"><div class=\"css-175oi2r r-1afez2q r-5t7aoe r-eqz5dr r-102gzdx r-1777fci r-1kz6sp r-88pszg r-1bymd8e\" data-testid=\"courseNumberCard\"><div dir=\"auto\" class=\"css-146c3p1 r-1dnsj32 r-rdjlrx r-adyw6z r-135wba7 r-q4m81j\">R2</div><div dir=\"auto\" class=\"css-146c3p1 r-1dnsj32 r-rdjlrx r-adyw6z r-135wba7 r-q4m81j r-q3we1\">C1</div></div><div class=\"css-175oi2r r-13awgt0 r-eqz5dr\"><div class=\"css-175oi2r r-1habvwh r-13awgt0 r-18u37iz\"><div class=\"css-175oi2r r-eqz5dr r-16y2uox r-1wbh5a2\"><h3 dir=\"auto\" aria-level=\"3\" role=\"heading\" class=\"css-146c3p1 r-dnmrzs r-1udh08x r-1udbk01 r-3s2u2q r-1iln25a r-vnw8o6 r-ubezar r-14yzgew r-1ozqkpa\" style=\"color: rgb(128, 128, 128);\">straubing</h3><h3 dir=\"auto\" aria-level=\"3\" role=\"heading\" class=\"css-146c3p1 r-dnmrzs r-1udh08x r-1udbk01 r-3s2u2q r-1iln25a r-vnw8o6 r-ubezar r-14yzgew r-1ozqkpa\" style=\"color: rgb(128, 128, 128);\">prix auftaktrennen</h3></div><div class=\"css-175oi2r r-1habvwh r-18u37iz r-1q142lx r-17s6mgv r-13hce6t r-1ttlgze\"><div class=\"css-175oi2r r-obd0qt r-eqz5dr r-1777fci\"><div dir=\"auto\" class=\"css-146c3p1 r-dnmrzs r-1udh08x r-1udbk01 r-3s2u2q r-1iln25a r-vnw8o6 r-10x49cs r-1f529hi\" style=\"color: rgb(102, 102, 102);\">10h41 - Arrivée</div><div dir=\"auto\" class=\"css-146c3p1 r-dnmrzs r-1udh08x r-1udbk01 r-3s2u2q r-1iln25a r-vnw8o6 r-1b43r93 r-1cwl3u0\" style=\"color: rgb(102, 102, 102);\">Définitive</div></div></div></div><div class=\"css-175oi2r r-obd0qt r-18u37iz r-1wtj0ep\"><div class=\"css-175oi2r r-eqz5dr r-16y2uox r-1wbh5a2 r-14gqq1x\"><div dir=\"auto\" class=\"css-146c3p1 r-dnmrzs r-1udh08x r-1udbk01 r-3s2u2q r-1iln25a r-vnw8o6 r-1enofrn r-1f529hi\" style=\"color: rgb(128, 128, 128);\">Attelé - 1925m - 8 partants</div><div class=\"css-175oi2r r-18u37iz r-1h8ys4a\"><div class=\"css-175oi2r r-1awozwy r-1afez2q r-z2wwpe r-z80fyv r-1777fci r-1d4mawv r-18c5d7m\"><div dir=\"auto\" class=\"css-146c3p1 r-vnw8o6\">7</div></div><div class=\"css-175oi2r r-1awozwy r-1afez2q r-z2wwpe r-z80fyv r-1777fci r-1d4mawv r-18c5d7m\"><div dir=\"auto\" class=\"css-146c3p1 r-vnw8o6\">5</div></div><div class=\"css-175oi2r r-1awozwy r-1afez2q r-z2wwpe r-z80fyv r-1777fci r-1d4mawv r-18c5d7m\"><div dir=\"auto\" class=\"css-146c3p1 r-vnw8o6\">1</div></div><div class=\"css-175oi2r r-1awozwy r-1afez2q r-z2wwpe r-z80fyv r-1777fci r-1d4mawv r-18c5d7m\"><div dir=\"auto\" class=\"css-146c3p1 r-vnw8o6\">8</div></div><div class=\"css-175oi2r r-1awozwy r-1afez2q r-z2wwpe r-z80fyv r-1777fci r-1d4mawv r-18c5d7m\"><div dir=\"auto\" class=\"css-146c3p1 r-vnw8o6\">6</div></div></div></div><div class=\"css-175oi2r r-1awozwy r-18u37iz r-1q142lx\"></div></div></div></div></div></button></div></div></div><div class=\"css-175oi2r\"><div style=\"padding-right: 16px; padding-left: 16px;\"><div class=\"course-link\" title=\"AUFTAKTRENNEN ZUR 50 CENT-V5-WETTE MIT  ALLEMAGNE\" role=\"link\" aria-label=\"Sélectionnez une course\"><button role=\"button\" tabindex=\"0\" class=\"css-175oi2r r-1loqt21 r-1otgn73 r-14lw9ot r-1q9bdsx r-1dt9a7j r-5oul0u r-13qz1uu\" style=\"opacity: 1;\" type=\"button\"><div class=\"css-175oi2r r-1q9bdsx r-1udh08x\"><div class=\"css-175oi2r r-18u37iz r-xyw6el r-1qhn6m8\" style=\"background-color: rgb(255, 255, 255); height: 106px; user-select: none;\" data-testid=\"CourseCardContainer\"><div class=\"css-175oi2r r-1afez2q r-5t7aoe r-eqz5dr r-102gzdx r-1777fci r-1kz6sp r-88pszg r-1bymd8e\" data-testid=\"courseNumberCard\"><div dir=\"auto\" class=\"css-146c3p1 r-1dnsj32 r-rdjlrx r-adyw6z r-135wba7 r-q4m81j\">R2</div><div dir=\"auto\" class=\"css-146c3p1 r-1dnsj32 r-rdjlrx r-adyw6z r-135wba7 r-q4m81j r-q3we1\">C2</div></div><div class=\"css-175oi2r r-13awgt0 r-eqz5dr\"><div class=\"css-175oi2r r-1habvwh r-13awgt0 r-18u37iz\"><div class=\"css-175oi2r r-eqz5dr r-16y2uox r-1wbh5a2\"><h3 dir=\"auto\" aria-level=\"3\" role=\"heading\" class=\"css-146c3p1 r-dnmrzs r-1udh08x r-1udbk01 r-3s2u2q r-1iln25a r-vnw8o6 r-ubezar r-14yzgew r-1ozqkpa\" style=\"color: rgb(128, 128, 128);\">straubing</h3><h3 dir=\"auto\" aria-level=\"3\" role=\"heading\" class=\"css-146c3p1 r-dnmrzs r-1udh08x r-1udbk01 r-3s2u2q r-1iln25a r-vnw8o6 r-ubezar r-14yzgew r-1ozqkpa\" style=\"color: rgb(128, 128, 128);\">prix auftaktrenn.</h3></div><div class=\"css-175oi2r r-1habvwh r-18u37iz r-1q142lx r-17s6mgv r-13hce6t r-1ttlgze\"><div class=\"css-175oi2r r-obd0qt r-eqz5dr r-1777fci\"><div dir=\"auto\" class=\"css-146c3p1 r-dnmrzs r-1udh08x r-1udbk01 r-3s2u2q r-1iln25a r-vnw8o6 r-10x49cs r-1f529hi\" style=\"color: rgb(102, 102, 102);\">11h08 - Arrivée</div><div dir=\"auto\" class=\"css-146c3p1 r-dnmrzs r-1udh08x r-1udbk01 r-3s2u2q r-1iln25a r-vnw8o6 r-1b43r93 r-1cwl3u0\" style=\"color: rgb(102, 102, 102);\">Définitive</div></div></div></div><div class=\"css-175oi2r r-obd0qt r-18u37iz r-1wtj0ep\"><div class=\"css-175oi2r r-eqz5dr r-16y2uox r-1wbh5a2 r-14gqq1x\"><div dir=\"auto\" class=\"css-146c3p1 r-dnmrzs r-1udh08x r-1udbk01 r-3s2u2q r-1iln25a r-vnw8o6 r-1enofrn r-1f529hi\" style=\"color: rgb(128, 128, 128);\">Attelé - 1925m - 10 partants</div><div class=\"css-175oi2r r-18u37iz r-1h8ys4a\"><div class=\"css-175oi2r r-1awozwy r-1afez2q r-z2wwpe r-z80fyv r-1777fci r-1d4mawv r-18c5d7m\"><div dir=\"auto\" class=\"css-146c3p1 r-vnw8o6\">3</div></div><div class=\"css-175oi2r r-1awozwy r-1afez2q r-z2wwpe r-z80fyv r-1777fci r-1d4mawv r-18c5d7m\"><div dir=\"auto\" class=\"css-146c3p1 r-vnw8o6\">5</div></div><div class=\"css-175oi2r r-1awozwy r-1afez2q r-z2wwpe r-z80fyv r-1777fci r-1d4mawv r-18c5d7m\"><div dir=\"auto\" class=\"css-146c3p1 r-vnw8o6\">8</div></div><div class=\"css-175oi2r r-1awozwy r-1afez2q r-z2wwpe r-z80fyv r-1777fci r-1d4mawv r-18c5d7m\"><div dir=\"auto\" class=\"css-146c3p1 r-vnw8o6\">7</div></div><div class=\"css-175oi2r r-1awozwy r-1afez2q r-z2wwpe r-z80fyv r-1777fci r-1d4mawv r-18c5d7m\"><div dir=\"auto\" class=\"css-146c3p1 r-vnw8o6\">2</div></div></div></div><div class=\"css-175oi2r r-1awozwy r-18u37iz r-1q142lx\"></div></div></div></div></div></button></div><button role=\"button\" tabindex=\"0\" class=\"css-175oi2r r-1loqt21 r-1otgn73 r-14lw9ot r-1q9bdsx r-1dt9a7j r-5oul0u r-13qz1uu\" style=\"opacity: 1;\" type=\"button\"><div class=\"css-175oi2r r-1q9bdsx r-1udh08x\"><a href=\"/turf/question-du-jour/\"><div style=\"background: linear-gradient(to right, rgb(248, 248, 248), rgb(248, 248, 248));\"><div class=\"css-175oi2r r-1awozwy r-18u37iz r-nsbfu8\"><div class=\"css-175oi2r r-1mlwlqe r-1udh08x r-417010 r-1r8g8re r-88pszg r-1gymjhz\" style=\"opacity: 0.5;\"><div class=\"css-175oi2r r-1niwhzg r-vvn4in r-u6sd8q r-1p0dtai r-1pi2tsx r-1d2f490 r-u8s1d r-zchlnj r-ipm5af r-13qz1uu r-1wyyakw r-x3cy2q\" style=\"background-image: url(&quot;/_next/static/images/QDJBig-f2de1c8b80012f50.png&quot;);\"></div><img alt=\"\" draggable=\"false\" src=\"/_next/static/images/QDJBig-f2de1c8b80012f50.png\" class=\"css-9pa8cd\"></div><div class=\"css-175oi2r r-13awgt0 r-1777fci\"><div dir=\"auto\" class=\"css-146c3p1 r-vnw8o6 r-o5z9tx r-ubezar\">La question du jour est terminée. <span class=\"css-1jxf684 r-o5z9tx r-150tq8z r-ubezar\">Découvrez la réponse</span></div></div></div></div></a></div></button></div></div><div class=\"css-175oi2r\"><div style=\"padding-right: 16px; padding-left: 16px;\"><a href=\"/turf/big5/r1/\"><button role=\"button\" tabindex=\"0\" class=\"css-175oi2r r-1loqt21 r-1otgn73 r-14lw9ot r-1q9bdsx r-1dt9a7j r-5oul0u r-13qz1uu\" style=\"opacity: 1;\" type=\"button\"><div class=\"css-175oi2r r-1q9bdsx r-1udh08x r-18u37iz r-xyw6el r-1qhn6m8\"><div class=\"css-175oi2r r-1awozwy r-5t7aoe r-102gzdx r-1777fci r-1kz6sp\" style=\"background-color: rgb(46, 58, 216);\"><svg width=\"36\" height=\"20\" fill=\"none\" viewBox=\"0 0 36 20\" color=\"#ffffff\" data-testid=\"PictoBig5\"><g clip-path=\"url(#picto-big5_svg__clip0_1621_73664)\"><path fill-rule=\"evenodd\" clip-rule=\"evenodd\" d=\"M29.968 4.851h4.417L35 2.667h-7.004l-1.34 6.617 1.293.462s1.151-.717 2.177-.717c.899 0 1.34.367 1.34 1.228 0 1.212-.583 1.881-1.435 2.376-1.088.605-2.571.829-3.975.829l-.347 1.993c1.893 0 4.038-.255 5.679-1.116 1.546-.814 2.65-2.233 2.65-4.385 0-2.153-1.357-2.95-2.745-2.95-1.151 0-1.909.462-1.909.462l.584-2.615zm-15.993 1.39c-.724 0-1.278-.608-1.278-1.326 0-.718.554-1.327 1.278-1.327.723 0 1.277.609 1.277 1.327s-.554 1.327-1.277 1.327zm-.664 9.367h-2.29l1.432-8.274h2.29l-1.432 8.274zM8.706 9.914a4.882 4.882 0 01-.407.144c.146.052.284.114.415.187.402.214.707.52.916.916.21.396.295.872.256 1.428-.055.859-.305 1.552-.751 2.08a3.844 3.844 0 01-1.709 1.156 6.45 6.45 0 01-2.204.355H.616l2.08-12.02 3.946.009a6.761 6.761 0 011.503.181c.484.116.913.298 1.287.545.374.248.663.575.867.983.209.407.294.908.256 1.502-.039.65-.226 1.183-.561 1.602a3.12 3.12 0 01-1.288.932zm-1.882-.85a3.558 3.558 0 01-.89.146l-1.688-.005.539-3.104 1.783.008c.341.005.636.058.883.157a.99.99 0 01.553.462c.116.215.149.509.1.883-.061.396-.207.713-.438.95a1.973 1.973 0 01-.842.503zM3.37 14.25l.58-3.344 2.28.007c.34.017.613.094.817.231.209.133.352.322.429.57.077.242.09.526.041.85-.055.386-.19.702-.404.95a2.032 2.032 0 01-.801.56 2.795 2.795 0 01-1.015.183L3.37 14.25zm21.143-7.289h-2.146l-.306 1.091a2.581 2.581 0 00-.71-.808c-.37-.283-.856-.432-1.455-.449-.65-.016-1.218.108-1.706.374a3.793 3.793 0 00-1.24 1.08 5.778 5.778 0 00-.806 1.52 7.532 7.532 0 00-.4 1.679l-.024.174c-.05.504-.04 1.02.033 1.546.072.52.219 1.002.44 1.445.228.438.539.795.932 1.072.4.277.902.424 1.506.44.583.017 1.101-.108 1.556-.373.188-.11.365-.233.531-.371l-.049.287a2.613 2.613 0 01-.432 1.089c-.216.305-.49.54-.824.706a2.395 2.395 0 01-1.148.233 2.4 2.4 0 01-1.106-.291 2.642 2.642 0 01-.865-.748l-1.157 1.38c.25.315.544.578.882.789.338.216.702.38 1.09.49.388.11.782.172 1.181.183.821.016 1.567-.125 2.238-.424.677-.3 1.234-.74 1.672-1.321.438-.582.713-1.285.824-2.11l1.489-8.683zm-2.829 2.745l-.635 3.73c-.159.209-.349.386-.57.53-.311.204-.686.296-1.124.274-.333-.012-.593-.103-.782-.275a1.511 1.511 0 01-.408-.673 3.56 3.56 0 01-.133-.847c-.005-.3.006-.573.034-.823l.025-.182c.033-.305.102-.62.207-.948.106-.326.247-.628.425-.905.177-.283.4-.51.665-.682.272-.171.594-.249.965-.232.322.005.58.077.774.216.2.138.35.318.45.54.041.089.077.18.107.277z\" fill=\"#ffffff\"></path></g><defs><clipPath id=\"picto-big5_svg__clip0_1621_73664\"><path fill=\"#ffffff\" transform=\"translate(0 .5)\" d=\"M0 0h36v19H0z\"></path></clipPath></defs></svg></div><div class=\"css-175oi2r\" style=\"width: 16px;\"></div><div class=\"css-175oi2r r-13awgt0 r-eqz5dr r-1wtj0ep\"><div class=\"css-175oi2r r-18u37iz r-1wtj0ep\"><div class=\"css-175oi2r r-eqz5dr r-1wtj0ep\"><div dir=\"auto\" class=\"css-146c3p1 r-vnw8o6 r-ubezar r-rjixqe r-1ozqkpa\" style=\"color: rgb(21, 41, 40);\">R1 vincennes</div><div class=\"css-175oi2r\" style=\"height: 4px;\"></div><div class=\"css-175oi2r r-18u37iz\"><div class=\"css-175oi2r r-1awozwy r-z2wwpe r-76blku r-1777fci r-cacpof\" style=\"background-color: rgb(0, 8, 9);\"><div dir=\"auto\" class=\"css-146c3p1 r-150tq8z r-1enofrn r-1cwl3u0\" style=\"color: rgb(255, 255, 255);\">C4</div></div><div class=\"css-175oi2r\" style=\"width: 4px;\"></div><div class=\"css-175oi2r r-1awozwy r-z2wwpe r-76blku r-1777fci r-cacpof\" style=\"background-color: rgb(0, 8, 9);\"><div dir=\"auto\" class=\"css-146c3p1 r-150tq8z r-1enofrn r-1cwl3u0\" style=\"color: rgb(255, 255, 255);\">C5</div></div><div class=\"css-175oi2r\" style=\"width: 4px;\"></div><div class=\"css-175oi2r r-1awozwy r-z2wwpe r-76blku r-1777fci r-cacpof\" style=\"background-color: rgb(0, 8, 9);\"><div dir=\"auto\" class=\"css-146c3p1 r-150tq8z r-1enofrn r-1cwl3u0\" style=\"color: rgb(255, 255, 255);\">C6</div></div><div class=\"css-175oi2r\" style=\"width: 4px;\"></div><div class=\"css-175oi2r r-1awozwy r-z2wwpe r-76blku r-1777fci r-cacpof\" style=\"background-color: rgb(0, 8, 9);\"><div dir=\"auto\" class=\"css-146c3p1 r-150tq8z r-1enofrn r-1cwl3u0\" style=\"color: rgb(255, 255, 255);\">C7</div></div><div class=\"css-175oi2r\" style=\"width: 4px;\"></div><div class=\"css-175oi2r r-1awozwy r-z2wwpe r-76blku r-1777fci r-cacpof\" style=\"background-color: rgb(0, 8, 9);\"><div dir=\"auto\" class=\"css-146c3p1 r-150tq8z r-1enofrn r-1cwl3u0\" style=\"color: rgb(255, 255, 255);\">C8</div></div><div class=\"css-175oi2r\" style=\"width: 4px;\"></div></div><div class=\"css-175oi2r\" style=\"height: 8px;\"></div></div><div class=\"css-175oi2r\"><div dir=\"auto\" class=\"css-146c3p1 r-vnw8o6\" style=\"color: rgb(102, 102, 102); font-size: 14px; line-height: 16px;\">15h15</div></div></div><svg width=\"204.3\" height=\"20\" fill=\"none\" data-testid=\"PictoBig5Montant\"><rect width=\"204.3\" height=\"20\" rx=\"4\" fill=\"#2E3AD8\"></rect><rect x=\"1\" y=\"1\" width=\"202.3\" height=\"18\" rx=\"3\" fill=\"#fff\"></rect><rect x=\"2\" y=\"2\" width=\"27\" height=\"16\" rx=\"2\" fill=\"#2E3AD8\"></rect><path fill-rule=\"evenodd\" clip-rule=\"evenodd\" d=\"M22.18 6.907h2.277l.317-1.153h-3.611l-.692 3.493.667.245s.594-.38 1.123-.38c.464 0 .691.194.691.649 0 .64-.3.993-.74 1.254-.561.32-1.326.438-2.05.438l-.179 1.052c.976 0 2.083-.135 2.929-.59.797-.428 1.366-1.178 1.366-2.314 0-1.136-.7-1.557-1.415-1.557-.594 0-.984.244-.984.244l.3-1.38zm-9.065.803a.67.67 0 01-.659-.683.67.67 0 01.659-.683.67.67 0 01.659.683.67.67 0 01-.659.683zm-.342 4.824h-1.18l.737-4.26h1.181l-.738 4.26zm-2.375-3.227a2.531 2.531 0 01-.21.074 1.4 1.4 0 01.214.096c.208.11.365.268.473.472.108.204.152.45.132.736-.029.442-.158.8-.388 1.071-.23.272-.523.47-.88.595a3.33 3.33 0 01-1.137.183H6.227l1.072-6.19 2.035.004c.267.003.525.034.775.093.25.06.47.153.664.28.193.128.342.297.447.507.107.21.151.468.132.774-.02.334-.117.61-.29.825a1.608 1.608 0 01-.664.48zm-.97-.438c-.147.044-.3.07-.46.075l-.87-.002.278-1.6.92.005c.176.003.327.03.455.08a.51.51 0 01.285.239c.06.11.077.262.051.455a.865.865 0 01-.225.489 1.018 1.018 0 01-.434.26zM7.647 11.54l.299-1.722 1.175.004a.815.815 0 01.421.119.516.516 0 01.222.293c.04.125.047.27.021.438a.928.928 0 01-.208.489c-.111.128-.249.224-.413.29a1.442 1.442 0 01-.524.093l-.993-.004zM18.55 7.787h-1.107l-.158.562a1.33 1.33 0 00-.366-.417c-.191-.145-.442-.222-.75-.23a1.717 1.717 0 00-.88.192 1.955 1.955 0 00-.639.556 2.976 2.976 0 00-.416.783 3.88 3.88 0 00-.206.865l-.013.09c-.026.26-.02.524.017.796.037.268.113.516.228.744.117.226.277.41.48.552.206.143.465.218.777.227.3.009.567-.056.802-.193.097-.056.188-.12.274-.19l-.025.148a1.344 1.344 0 01-.224.56 1.135 1.135 0 01-.424.364 1.236 1.236 0 01-.592.12 1.238 1.238 0 01-.57-.15 1.362 1.362 0 01-.447-.385l-.596.71c.128.163.28.298.454.407.175.111.362.195.563.252.2.057.403.089.609.095.423.008.808-.065 1.154-.219a2.15 2.15 0 00.862-.68c.226-.3.367-.662.425-1.087l.768-4.472zm-1.46 1.413l-.326 1.921c-.082.108-.18.2-.295.273a.939.939 0 01-.58.142.609.609 0 01-.402-.142.778.778 0 01-.21-.346 1.832 1.832 0 01-.07-.437 3.286 3.286 0 01.018-.423l.013-.095c.017-.157.053-.32.107-.487.054-.169.127-.324.219-.467.091-.145.206-.262.343-.35a.84.84 0 01.498-.12c.165.002.298.04.398.11.104.072.18.165.232.279.022.045.04.093.056.142z\" fill=\"#fff\"></path><text x=\"34\" y=\"14\" font-family=\"Roboto-BlackItalic\" font-size=\"12\" fill=\"#2E3AD8\">20&nbsp;000&nbsp;€ minimum à partager* </text></svg></div></div></button></a><div class=\"course-link\" title=\"PETER &quot;BADA&quot; KASTNER-RENNEN             ALLEMAGNE\" role=\"link\" aria-label=\"Sélectionnez une course\"><button role=\"button\" tabindex=\"0\" class=\"css-175oi2r r-1loqt21 r-1otgn73 r-14lw9ot r-1q9bdsx r-1dt9a7j r-5oul0u r-13qz1uu\" style=\"opacity: 1;\" type=\"button\"><div class=\"css-175oi2r r-1q9bdsx r-1udh08x\"><div class=\"css-175oi2r r-yft5bp r-1pi2tsx r-1d2f490 r-u8s1d r-ipm5af r-13qz1uu\" data-testid=\"CourseCardContainer/Gradient\"><svg width=\"100%\" height=\"100%\" fill=\"none\"><rect width=\"100%\" height=\"100%\" fill=\"url(#prefix__paint0_radial_1_431)\"></rect><defs><radialGradient cx=\"0\" cy=\"0\" r=\"1\" gradientUnits=\"userSpaceOnUse\" gradientTransform=\"rotate(-21.575 614.542 1383.196) scale(878.081 625.59)\" id=\"prefix__paint0_radial_1_431\"><stop offset=\"0.248\" stop-color=\"#00B87C\"></stop><stop offset=\"1\" stop-color=\"#00524B\"></stop></radialGradient></defs></svg></div><div class=\"css-175oi2r r-18u37iz r-xyw6el r-1qhn6m8\" style=\"height: 80px; user-select: none;\" data-testid=\"CourseCardContainer\"><div class=\"css-175oi2r r-5t7aoe r-eqz5dr r-102gzdx r-1777fci r-1kz6sp r-vb8uwu r-88pszg r-1bymd8e\" data-testid=\"courseNumberCard\"><div dir=\"auto\" class=\"css-146c3p1 r-rdjlrx r-adyw6z r-135wba7 r-q4m81j r-jwli3a\">R2</div><div dir=\"auto\" class=\"css-146c3p1 r-rdjlrx r-adyw6z r-135wba7 r-q4m81j r-jwli3a r-q3we1\">C3</div></div><div class=\"css-175oi2r r-13awgt0 r-eqz5dr\"><div class=\"css-175oi2r r-1habvwh r-13awgt0 r-18u37iz\"><div class=\"css-175oi2r r-eqz5dr r-16y2uox r-1wbh5a2\"><h3 dir=\"auto\" aria-level=\"3\" role=\"heading\" class=\"css-146c3p1 r-dnmrzs r-1udh08x r-1udbk01 r-3s2u2q r-1iln25a r-vnw8o6 r-ubezar r-14yzgew r-1ozqkpa\" style=\"color: rgb(255, 255, 255);\">straubing</h3><h3 dir=\"auto\" aria-level=\"3\" role=\"heading\" class=\"css-146c3p1 r-dnmrzs r-1udh08x r-1udbk01 r-3s2u2q r-1iln25a r-vnw8o6 r-ubezar r-14yzgew r-1ozqkpa\" style=\"color: rgb(255, 255, 255);\">prix p. bada kastner</h3></div><div class=\"css-175oi2r r-1habvwh r-18u37iz r-1q142lx r-17s6mgv r-13hce6t r-1ttlgze\"><div class=\"css-175oi2r r-obd0qt r-eqz5dr r-1777fci\"><div dir=\"auto\" class=\"css-146c3p1 r-19lzp13 r-rdjlrx r-1b43r93 r-1cwl3u0\">- 00:38</div></div></div></div><div class=\"css-175oi2r r-obd0qt r-18u37iz r-1wtj0ep\"><div class=\"css-175oi2r r-eqz5dr r-16y2uox r-1wbh5a2 r-14gqq1x\"><div dir=\"auto\" class=\"css-146c3p1 r-dnmrzs r-1udh08x r-1udbk01 r-3s2u2q r-1iln25a r-vnw8o6 r-1enofrn r-1f529hi\" style=\"color: rgb(255, 255, 255);\">Attelé - 1925m - 11 partants</div></div><div class=\"css-175oi2r r-1awozwy r-18u37iz r-1q142lx\"></div></div></div></div></div></button></div></div></div><div class=\"css-175oi2r\"><div style=\"padding-right: 16px; padding-left: 16px;\"><div class=\"course-link\" title=\"PRIX LA VEINE\" role=\"link\" aria-label=\"Sélectionnez une course\"><button role=\"button\" tabindex=\"0\" class=\"css-175oi2r r-1loqt21 r-1otgn73 r-14lw9ot r-1q9bdsx r-1dt9a7j r-5oul0u r-13qz1uu\" style=\"opacity: 1;\" type=\"button\"><div class=\"css-175oi2r r-1q9bdsx r-1udh08x\"><div class=\"css-175oi2r r-18u37iz r-xyw6el r-1qhn6m8\" style=\"background-color: rgb(255, 255, 255); height: 80px; user-select: none;\" data-testid=\"CourseCardContainer\"><div class=\"css-175oi2r r-5t7aoe r-eqz5dr r-102gzdx r-1777fci r-1kz6sp r-vb8uwu r-88pszg r-1bymd8e\" data-testid=\"courseNumberCard\"><div dir=\"auto\" class=\"css-146c3p1 r-rdjlrx r-adyw6z r-135wba7 r-q4m81j r-jwli3a\">R3</div><div dir=\"auto\" class=\"css-146c3p1 r-rdjlrx r-adyw6z r-135wba7 r-q4m81j r-jwli3a r-q3we1\">C1</div></div><div class=\"css-175oi2r r-13awgt0 r-eqz5dr\"><div class=\"css-175oi2r r-1habvwh r-13awgt0 r-18u37iz\"><div class=\"css-175oi2r r-eqz5dr r-16y2uox r-1wbh5a2\"><h3 dir=\"auto\" aria-level=\"3\" role=\"heading\" class=\"css-146c3p1 r-dnmrzs r-1udh08x r-1udbk01 r-3s2u2q r-1iln25a r-vnw8o6 r-ubezar r-14yzgew r-1ozqkpa\" style=\"color: rgb(21, 41, 40);\">auteuil</h3><h3 dir=\"auto\" aria-level=\"3\" role=\"heading\" class=\"css-146c3p1 r-dnmrzs r-1udh08x r-1udbk01 r-3s2u2q r-1iln25a r-vnw8o6 r-ubezar r-14yzgew r-1ozqkpa\" style=\"color: rgb(21, 41, 40);\">prix la veine</h3></div><div class=\"css-175oi2r r-1habvwh r-18u37iz r-1q142lx r-17s6mgv r-13hce6t r-1ttlgze\"><div class=\"css-175oi2r r-obd0qt r-eqz5dr r-1777fci\"><div dir=\"auto\" class=\"css-146c3p1 r-vnw8o6 r-djgu52 r-1b43r93 r-1cwl3u0\">11h53</div></div></div></div><div class=\"css-175oi2r r-obd0qt r-18u37iz r-1wtj0ep\"><div class=\"css-175oi2r r-eqz5dr r-16y2uox r-1wbh5a2 r-14gqq1x\"><div dir=\"auto\" class=\"css-146c3p1 r-dnmrzs r-1udh08x r-1udbk01 r-3s2u2q r-1iln25a r-vnw8o6 r-1enofrn r-1f529hi\" style=\"color: rgb(128, 128, 128);\">Steeple - 4400m - 6 partants</div></div><div class=\"css-175oi2r r-1awozwy r-18u37iz r-1q142lx\"></div></div></div></div></div></button></div></div></div><div class=\"css-175oi2r\"><div style=\"padding-right: 16px; padding-left: 16px;\"><div class=\"course-link\" title=\"AUFTAKTRENNEN ZUR 2 EURO V3-FINISHWETTE ALLEMAGNE\" role=\"link\" aria-label=\"Sélectionnez une course\"><button role=\"button\" tabindex=\"0\" class=\"css-175oi2r r-1loqt21 r-1otgn73 r-14lw9ot r-1q9bdsx r-1dt9a7j r-5oul0u r-13qz1uu\" style=\"opacity: 1;\" type=\"button\"><div class=\"css-175oi2r r-1q9bdsx r-1udh08x\"><div class=\"css-175oi2r r-18u37iz r-xyw6el r-1qhn6m8\" style=\"background-color: rgb(255, 255, 255); height: 80px; user-select: none;\" data-testid=\"CourseCardContainer\"><div class=\"css-175oi2r r-5t7aoe r-eqz5dr r-102gzdx r-1777fci r-1kz6sp r-vb8uwu r-88pszg r-1bymd8e\" data-testid=\"courseNumberCard\"><div dir=\"auto\" class=\"css-146c3p1 r-rdjlrx r-adyw6z r-135wba7 r-q4m81j r-jwli3a\">R2</div><div dir=\"auto\" class=\"css-146c3p1 r-rdjlrx r-adyw6z r-135wba7 r-q4m81j r-jwli3a r-q3we1\">C4</div></div><div class=\"css-175oi2r r-13awgt0 r-eqz5dr\"><div class=\"css-175oi2r r-1habvwh r-13awgt0 r-18u37iz\"><div class=\"css-175oi2r r-eqz5dr r-16y2uox r-1wbh5a2\"><h3 dir=\"auto\" aria-level=\"3\" role=\"heading\" class=\"css-146c3p1 r-dnmrzs r-1udh08x r-1udbk01 r-3s2u2q r-1iln25a r-vnw8o6 r-ubezar r-14yzgew r-1ozqkpa\" style=\"color: rgb(21, 41, 40);\">straubing</h3><h3 dir=\"auto\" aria-level=\"3\" role=\"heading\" class=\"css-146c3p1 r-dnmrzs r-1udh08x r-1udbk01 r-3s2u2q r-1iln25a r-vnw8o6 r-ubezar r-14yzgew r-1ozqkpa\" style=\"color: rgb(21, 41, 40);\">prix auftaktr.</h3></div><div class=\"css-175oi2r r-1habvwh r-18u37iz r-1q142lx r-17s6mgv r-13hce6t r-1ttlgze\"><div class=\"css-175oi2r r-obd0qt r-eqz5dr r-1777fci\"><div dir=\"auto\" class=\"css-146c3p1 r-vnw8o6 r-djgu52 r-1b43r93 r-1cwl3u0\">12h10</div></div></div></div><div class=\"css-175oi2r r-obd0qt r-18u37iz r-1wtj0ep\"><div class=\"css-175oi2r r-eqz5dr r-16y2uox r-1wbh5a2 r-14gqq1x\"><div dir=\"auto\" class=\"css-146c3p1 r-dnmrzs r-1udh08x r-1udbk01 r-3s2u2q r-1iln25a r-vnw8o6 r-1enofrn r-1f529hi\" style=\"color: rgb(128, 128, 128);\">Attelé - 1925m - 12 partants</div></div><div class=\"css-175oi2r r-1awozwy r-18u37iz r-1q142lx\"></div></div></div></div></div></button></div></div></div><div class=\"css-175oi2r\"><div style=\"padding-right: 16px; padding-left: 16px;\"><div class=\"course-link\" title=\"PRIX D'ARLES\" role=\"link\" aria-label=\"Sélectionnez une course\"><button role=\"button\" tabindex=\"0\" class=\"css-175oi2r r-1loqt21 r-1otgn73 r-14lw9ot r-1q9bdsx r-1dt9a7j r-5oul0u r-13qz1uu\" style=\"opacity: 1;\" type=\"button\"><div class=\"css-175oi2r r-1q9bdsx r-1udh08x\"><div class=\"css-175oi2r r-18u37iz r-xyw6el r-1qhn6m8\" style=\"background-color: rgb(255, 255, 255); height: 80px; user-select: none;\" data-testid=\"CourseCardContainer\"><div class=\"css-175oi2r r-5t7aoe r-eqz5dr r-102gzdx r-1777fci r-1kz6sp r-vb8uwu r-88pszg r-1bymd8e\" data-testid=\"courseNumberCard\"><div dir=\"auto\" class=\"css-146c3p1 r-rdjlrx r-adyw6z r-135wba7 r-q4m81j r-jwli3a\">R3</div><div dir=\"auto\" class=\"css-146c3p1 r-rdjlrx r-adyw6z r-135wba7 r-q4m81j r-jwli3a r-q3we1\">C2</div></div><div class=\"css-175oi2r r-13awgt0 r-eqz5dr\"><div class=\"css-175oi2r r-1habvwh r-13awgt0 r-18u37iz\"><div class=\"css-175oi2r r-eqz5dr r-16y2uox r-1wbh5a2\"><h3 dir=\"auto\" aria-level=\"3\" role=\"heading\" class=\"css-146c3p1 r-dnmrzs r-1udh08x r-1udbk01 r-3s2u2q r-1iln25a r-vnw8o6 r-ubezar r-14yzgew r-1ozqkpa\" style=\"color: rgb(21, 41, 40);\">auteuil</h3><h3 dir=\"auto\" aria-level=\"3\" role=\"heading\" class=\"css-146c3p1 r-dnmrzs r-1udh08x r-1udbk01 r-3s2u2q r-1iln25a r-vnw8o6 r-ubezar r-14yzgew r-1ozqkpa\" style=\"color: rgb(21, 41, 40);\">prix d'arles</h3></div><div class=\"css-175oi2r r-1habvwh r-18u37iz r-1q142lx r-17s6mgv r-13hce6t r-1ttlgze\"><div class=\"css-175oi2r r-obd0qt r-eqz5dr r-1777fci\"><div dir=\"auto\" class=\"css-146c3p1 r-vnw8o6 r-djgu52 r-1b43r93 r-1cwl3u0\">12h28</div></div></div></div><div class=\"css-175oi2r r-obd0qt r-18u37iz r-1wtj0ep\"><div class=\"css-175oi2r r-eqz5dr r-16y2uox r-1wbh5a2 r-14gqq1x\"><div dir=\"auto\" class=\"css-146c3p1 r-dnmrzs r-1udh08x r-1udbk01 r-3s2u2q r-1iln25a r-vnw8o6 r-1enofrn r-1f529hi\" style=\"color: rgb(128, 128, 128);\">Haies - 3600m - 7 partants</div></div><div class=\"css-175oi2r r-1awozwy r-18u37iz r-1q142lx\"></div></div></div></div></div></button></div></div></div><div class=\"css-175oi2r\"><div style=\"padding-right: 16px; padding-left: 16px;\"><div class=\"course-link\" title=\"NIEDERBAYERNTV-RENNEN                   ALLEMAGNE\" role=\"link\" aria-label=\"Sélectionnez une course\"><button role=\"button\" tabindex=\"0\" class=\"css-175oi2r r-1loqt21 r-1otgn73 r-14lw9ot r-1q9bdsx r-1dt9a7j r-5oul0u r-13qz1uu\" style=\"opacity: 1;\" type=\"button\"><div class=\"css-175oi2r r-1q9bdsx r-1udh08x\"><div class=\"css-175oi2r r-18u37iz r-xyw6el r-1qhn6m8\" style=\"background-color: rgb(255, 255, 255); height: 80px; user-select: none;\" data-testid=\"CourseCardContainer\"><div class=\"css-175oi2r r-5t7aoe r-eqz5dr r-102gzdx r-1777fci r-1kz6sp r-vb8uwu r-88pszg r-1bymd8e\" data-testid=\"courseNumberCard\"><div dir=\"auto\" class=\"css-146c3p1 r-rdjlrx r-adyw6z r-135wba7 r-q4m81j r-jwli3a\">R2</div><div dir=\"auto\" class=\"css-146c3p1 r-rdjlrx r-adyw6z r-135wba7 r-q4m81j r-jwli3a r-q3we1\">C5</div></div><div class=\"css-175oi2r r-13awgt0 r-eqz5dr\"><div class=\"css-175oi2r r-1habvwh r-13awgt0 r-18u37iz\"><div class=\"css-175oi2r r-eqz5dr r-16y2uox r-1wbh5a2\"><h3 dir=\"auto\" aria-level=\"3\" role=\"heading\" class=\"css-146c3p1 r-dnmrzs r-1udh08x r-1udbk01 r-3s2u2q r-1iln25a r-vnw8o6 r-ubezar r-14yzgew r-1ozqkpa\" style=\"color: rgb(21, 41, 40);\">straubing</h3><h3 dir=\"auto\" aria-level=\"3\" role=\"heading\" class=\"css-146c3p1 r-dnmrzs r-1udh08x r-1udbk01 r-3s2u2q r-1iln25a r-vnw8o6 r-ubezar r-14yzgew r-1ozqkpa\" style=\"color: rgb(21, 41, 40);\">prix niederbayerntv</h3></div><div class=\"css-175oi2r r-1habvwh r-18u37iz r-1q142lx r-17s6mgv r-13hce6t r-1ttlgze\"><div class=\"css-175oi2r r-obd0qt r-eqz5dr r-1777fci\"><div dir=\"auto\" class=\"css-146c3p1 r-vnw8o6 r-djgu52 r-1b43r93 r-1cwl3u0\">12h45</div></div></div></div><div class=\"css-175oi2r r-obd0qt r-18u37iz r-1wtj0ep\"><div class=\"css-175oi2r r-eqz5dr r-16y2uox r-1wbh5a2 r-14gqq1x\"><div dir=\"auto\" class=\"css-146c3p1 r-dnmrzs r-1udh08x r-1udbk01 r-3s2u2q r-1iln25a r-vnw8o6 r-1enofrn r-1f529hi\" style=\"color: rgb(128, 128, 128);\">Attelé - 2400m - 10 partants</div></div><div class=\"css-175oi2r r-1awozwy r-18u37iz r-1q142lx\"></div></div></div></div></div></button></div></div></div><div class=\"css-175oi2r\"><div style=\"padding-right: 16px; padding-left: 16px;\"><div class=\"course-link\" title=\"PRIX RIGOLETTO\" role=\"link\" aria-label=\"Sélectionnez une course\"><button role=\"button\" tabindex=\"0\" class=\"css-175oi2r r-1loqt21 r-1otgn73 r-14lw9ot r-1q9bdsx r-1dt9a7j r-5oul0u r-13qz1uu\" style=\"opacity: 1;\" type=\"button\"><div class=\"css-175oi2r r-1q9bdsx r-1udh08x\"><div class=\"css-175oi2r r-18u37iz r-xyw6el r-1qhn6m8\" style=\"background-color: rgb(255, 255, 255); height: 80px; user-select: none;\" data-testid=\"CourseCardContainer\"><div class=\"css-175oi2r r-5t7aoe r-eqz5dr r-102gzdx r-1777fci r-1kz6sp r-vb8uwu r-88pszg r-1bymd8e\" data-testid=\"courseNumberCard\"><div dir=\"auto\" class=\"css-146c3p1 r-rdjlrx r-adyw6z r-135wba7 r-q4m81j r-jwli3a\">R3</div><div dir=\"auto\" class=\"css-146c3p1 r-rdjlrx r-adyw6z r-135wba7 r-q4m81j r-jwli3a r-q3we1\">C3</div></div><div class=\"css-175oi2r r-13awgt0 r-eqz5dr\"><div class=\"css-175oi2r r-1habvwh r-13awgt0 r-18u37iz\"><div class=\"css-175oi2r r-eqz5dr r-16y2uox r-1wbh5a2\"><h3 dir=\"auto\" aria-level=\"3\" role=\"heading\" class=\"css-146c3p1 r-dnmrzs r-1udh08x r-1udbk01 r-3s2u2q r-1iln25a r-vnw8o6 r-ubezar r-14yzgew r-1ozqkpa\" style=\"color: rgb(21, 41, 40);\">auteuil</h3><h3 dir=\"auto\" aria-level=\"3\" role=\"heading\" class=\"css-146c3p1 r-dnmrzs r-1udh08x r-1udbk01 r-3s2u2q r-1iln25a r-vnw8o6 r-ubezar r-14yzgew r-1ozqkpa\" style=\"color: rgb(21, 41, 40);\">prix rigoletto</h3></div><div class=\"css-175oi2r r-1habvwh r-18u37iz r-1q142lx r-17s6mgv r-13hce6t r-1ttlgze\"><div class=\"css-175oi2r r-obd0qt r-eqz5dr r-1777fci\"><div dir=\"auto\" class=\"css-146c3p1 r-vnw8o6 r-djgu52 r-1b43r93 r-1cwl3u0\">13h03</div></div></div></div><div class=\"css-175oi2r r-obd0qt r-18u37iz r-1wtj0ep\"><div class=\"css-175oi2r r-eqz5dr r-16y2uox r-1wbh5a2 r-14gqq1x\"><div dir=\"auto\" class=\"css-146c3p1 r-dnmrzs r-1udh08x r-1udbk01 r-3s2u2q r-1iln25a r-vnw8o6 r-1enofrn r-1f529hi\" style=\"color: rgb(128, 128, 128);\">Steeple - 4400m - 7 partants</div></div><div class=\"css-175oi2r r-1awozwy r-18u37iz r-1q142lx\"></div></div></div></div></div></button></div></div></div><div class=\"css-175oi2r\"><div style=\"padding-right: 16px; padding-left: 16px;\"><div class=\"course-link\" title=\"PRIX DE MARCQ-EN-BAROEUL\" role=\"link\" aria-label=\"Sélectionnez une course\"><button role=\"button\" tabindex=\"0\" class=\"css-175oi2r r-1loqt21 r-1otgn73 r-14lw9ot r-1q9bdsx r-1dt9a7j r-5oul0u r-13qz1uu\" style=\"opacity: 1;\" type=\"button\"><div class=\"css-175oi2r r-1q9bdsx r-1udh08x\"><div class=\"css-175oi2r r-18u37iz r-xyw6el r-1qhn6m8\" style=\"background-color: rgb(255, 255, 255); height: 80px; user-select: none;\" data-testid=\"CourseCardContainer\"><div class=\"css-175oi2r r-5t7aoe r-eqz5dr r-102gzdx r-1777fci r-1kz6sp r-vb8uwu r-88pszg r-1bymd8e\" data-testid=\"courseNumberCard\"><div dir=\"auto\" class=\"css-146c3p1 r-rdjlrx r-adyw6z r-135wba7 r-q4m81j r-jwli3a\">R1</div><div dir=\"auto\" class=\"css-146c3p1 r-rdjlrx r-adyw6z r-135wba7 r-q4m81j r-jwli3a r-q3we1\">C1</div></div><div class=\"css-175oi2r r-13awgt0 r-eqz5dr\"><div class=\"css-175oi2r r-1habvwh r-13awgt0 r-18u37iz\"><div class=\"css-175oi2r r-eqz5dr r-16y2uox r-1wbh5a2\"><h3 dir=\"auto\" aria-level=\"3\" role=\"heading\" class=\"css-146c3p1 r-dnmrzs r-1udh08x r-1udbk01 r-3s2u2q r-1iln25a r-vnw8o6 r-ubezar r-14yzgew r-1ozqkpa\" style=\"color: rgb(21, 41, 40);\">vincennes</h3><h3 dir=\"auto\" aria-level=\"3\" role=\"heading\" class=\"css-146c3p1 r-dnmrzs r-1udh08x r-1udbk01 r-3s2u2q r-1iln25a r-vnw8o6 r-ubezar r-14yzgew r-1ozqkpa\" style=\"color: rgb(21, 41, 40);\">prix marcq-en-bar.</h3></div><div class=\"css-175oi2r r-1habvwh r-18u37iz r-1q142lx r-17s6mgv r-13hce6t r-1ttlgze\"><div class=\"css-175oi2r r-obd0qt r-eqz5dr r-1777fci\"><div dir=\"auto\" class=\"css-146c3p1 r-vnw8o6 r-djgu52 r-1b43r93 r-1cwl3u0\">13h23</div></div></div></div><div class=\"css-175oi2r r-obd0qt r-18u37iz r-1wtj0ep\"><div class=\"css-175oi2r r-eqz5dr r-16y2uox r-1wbh5a2 r-14gqq1x\"><div dir=\"auto\" class=\"css-146c3p1 r-dnmrzs r-1udh08x r-1udbk01 r-3s2u2q r-1iln25a r-vnw8o6 r-1enofrn r-1f529hi\" style=\"color: rgb(128, 128, 128);\">Attelé - 2700m - 8 partants</div></div><div class=\"css-175oi2r r-1awozwy r-18u37iz r-1q142lx\"></div></div></div></div></div></button></div></div></div><div class=\"css-175oi2r\"><div style=\"padding-right: 16px; padding-left: 16px;\"><div class=\"course-link\" title=\"PRIX DE LA VANOISE\" role=\"link\" aria-label=\"Sélectionnez une course\"><button role=\"button\" tabindex=\"0\" class=\"css-175oi2r r-1loqt21 r-1otgn73 r-14lw9ot r-1q9bdsx r-1dt9a7j r-5oul0u r-13qz1uu\" style=\"opacity: 1;\" type=\"button\"><div class=\"css-175oi2r r-1q9bdsx r-1udh08x\"><div class=\"css-175oi2r r-18u37iz r-xyw6el r-1qhn6m8\" style=\"background-color: rgb(255, 255, 255); height: 80px; user-select: none;\" data-testid=\"CourseCardContainer\"><div class=\"css-175oi2r r-5t7aoe r-eqz5dr r-102gzdx r-1777fci r-1kz6sp r-vb8uwu r-88pszg r-1bymd8e\" data-testid=\"courseNumberCard\"><div dir=\"auto\" class=\"css-146c3p1 r-rdjlrx r-adyw6z r-135wba7 r-q4m81j r-jwli3a\">R3</div><div dir=\"auto\" class=\"css-146c3p1 r-rdjlrx r-adyw6z r-135wba7 r-q4m81j r-jwli3a r-q3we1\">C4</div></div><div class=\"css-175oi2r r-13awgt0 r-eqz5dr\"><div class=\"css-175oi2r r-1habvwh r-13awgt0 r-18u37iz\"><div class=\"css-175oi2r r-eqz5dr r-16y2uox r-1wbh5a2\"><h3 dir=\"auto\" aria-level=\"3\" role=\"heading\" class=\"css-146c3p1 r-dnmrzs r-1udh08x r-1udbk01 r-3s2u2q r-1iln25a r-vnw8o6 r-ubezar r-14yzgew r-1ozqkpa\" style=\"color: rgb(21, 41, 40);\">auteuil</h3><h3 dir=\"auto\" aria-level=\"3\" role=\"heading\" class=\"css-146c3p1 r-dnmrzs r-1udh08x r-1udbk01 r-3s2u2q r-1iln25a r-vnw8o6 r-ubezar r-14yzgew r-1ozqkpa\" style=\"color: rgb(21, 41, 40);\">prix de la vanoise</h3></div><div class=\"css-175oi2r r-1habvwh r-18u37iz r-1q142lx r-17s6mgv r-13hce6t r-1ttlgze\"><div class=\"css-175oi2r r-obd0qt r-eqz5dr r-1777fci\"><div dir=\"auto\" class=\"css-146c3p1 r-vnw8o6 r-djgu52 r-1b43r93 r-1cwl3u0\">13h40</div></div></div></div><div class=\"css-175oi2r r-obd0qt r-18u37iz r-1wtj0ep\"><div class=\"css-175oi2r r-eqz5dr r-16y2uox r-1wbh5a2 r-14gqq1x\"><div dir=\"auto\" class=\"css-146c3p1 r-dnmrzs r-1udh08x r-1udbk01 r-3s2u2q r-1iln25a r-vnw8o6 r-1enofrn r-1f529hi\" style=\"color: rgb(128, 128, 128);\">Haies - 3000m - 10 partants</div></div><div class=\"css-175oi2r r-1awozwy r-18u37iz r-1q142lx\"></div></div></div></div></div></button></div></div></div><div class=\"css-175oi2r\"><div style=\"padding-right: 16px; padding-left: 16px;\"><div class=\"course-link\" title=\"PRIX DE CHATEAU-DU-LOIR\" role=\"link\" aria-label=\"Sélectionnez une course\"><button role=\"button\" tabindex=\"0\" class=\"css-175oi2r r-1loqt21 r-1otgn73 r-14lw9ot r-1q9bdsx r-1dt9a7j r-5oul0u r-13qz1uu\" style=\"opacity: 1;\" type=\"button\"><div class=\"css-175oi2r r-1q9bdsx r-1udh08x\"><div class=\"css-175oi2r r-18u37iz r-xyw6el r-1qhn6m8\" style=\"background-color: rgb(255, 255, 255); height: 80px; user-select: none;\" data-testid=\"CourseCardContainer\"><div class=\"css-175oi2r r-5t7aoe r-eqz5dr r-102gzdx r-1777fci r-1kz6sp r-vb8uwu r-88pszg r-1bymd8e\" data-testid=\"courseNumberCard\"><div dir=\"auto\" class=\"css-146c3p1 r-rdjlrx r-adyw6z r-135wba7 r-q4m81j r-jwli3a\">R1</div><div dir=\"auto\" class=\"css-146c3p1 r-rdjlrx r-adyw6z r-135wba7 r-q4m81j r-jwli3a r-q3we1\">C2</div></div><div class=\"css-175oi2r r-13awgt0 r-eqz5dr\"><div class=\"css-175oi2r r-1habvwh r-13awgt0 r-18u37iz\"><div class=\"css-175oi2r r-eqz5dr r-16y2uox r-1wbh5a2\"><h3 dir=\"auto\" aria-level=\"3\" role=\"heading\" class=\"css-146c3p1 r-dnmrzs r-1udh08x r-1udbk01 r-3s2u2q r-1iln25a r-vnw8o6 r-ubezar r-14yzgew r-1ozqkpa\" style=\"color: rgb(21, 41, 40);\">vincennes</h3><h3 dir=\"auto\" aria-level=\"3\" role=\"heading\" class=\"css-146c3p1 r-dnmrzs r-1udh08x r-1udbk01 r-3s2u2q r-1iln25a r-vnw8o6 r-ubezar r-14yzgew r-1ozqkpa\" style=\"color: rgb(21, 41, 40);\">prix chateau-du-loir</h3></div><div class=\"css-175oi2r r-1habvwh r-18u37iz r-1q142lx r-17s6mgv r-13hce6t r-1ttlgze\"><div class=\"css-175oi2r r-obd0qt r-eqz5dr r-1777fci\"><div dir=\"auto\" class=\"css-146c3p1 r-vnw8o6 r-djgu52 r-1b43r93 r-1cwl3u0\">13h58</div></div></div></div><div class=\"css-175oi2r r-obd0qt r-18u37iz r-1wtj0ep\"><div class=\"css-175oi2r r-eqz5dr r-16y2uox r-1wbh5a2 r-14gqq1x\"><div dir=\"auto\" class=\"css-146c3p1 r-dnmrzs r-1udh08x r-1udbk01 r-3s2u2q r-1iln25a r-vnw8o6 r-1enofrn r-1f529hi\" style=\"color: rgb(128, 128, 128);\">Attelé - 2850m - 16 partants</div></div><div class=\"css-175oi2r r-1awozwy r-18u37iz r-1q142lx\"></div></div></div></div></div></button></div></div></div><div class=\"css-175oi2r\"><div style=\"padding-right: 16px; padding-left: 16px;\"><div class=\"course-link\" title=\"PRIX ANDREA\" role=\"link\" aria-label=\"Sélectionnez une course\"><button role=\"button\" tabindex=\"0\" class=\"css-175oi2r r-1loqt21 r-1otgn73 r-14lw9ot r-1q9bdsx r-1dt9a7j r-5oul0u r-13qz1uu\" style=\"opacity: 1;\" type=\"button\"><div class=\"css-175oi2r r-1q9bdsx r-1udh08x\"><div class=\"css-175oi2r r-18u37iz r-xyw6el r-1qhn6m8\" style=\"background-color: rgb(255, 255, 255); height: 80px; user-select: none;\" data-testid=\"CourseCardContainer\"><div class=\"css-175oi2r r-5t7aoe r-eqz5dr r-102gzdx r-1777fci r-1kz6sp r-vb8uwu r-88pszg r-1bymd8e\" data-testid=\"courseNumberCard\"><div dir=\"auto\" class=\"css-146c3p1 r-rdjlrx r-adyw6z r-135wba7 r-q4m81j r-jwli3a\">R3</div><div dir=\"auto\" class=\"css-146c3p1 r-rdjlrx r-adyw6z r-135wba7 r-q4m81j r-jwli3a r-q3we1\">C5</div></div><div class=\"css-175oi2r r-13awgt0 r-eqz5dr\"><div class=\"css-175oi2r r-1habvwh r-13awgt0 r-18u37iz\"><div class=\"css-175oi2r r-eqz5dr r-16y2uox r-1wbh5a2\"><h3 dir=\"auto\" aria-level=\"3\" role=\"heading\" class=\"css-146c3p1 r-dnmrzs r-1udh08x r-1udbk01 r-3s2u2q r-1iln25a r-vnw8o6 r-ubezar r-14yzgew r-1ozqkpa\" style=\"color: rgb(21, 41, 40);\">auteuil</h3><h3 dir=\"auto\" aria-level=\"3\" role=\"heading\" class=\"css-146c3p1 r-dnmrzs r-1udh08x r-1udbk01 r-3s2u2q r-1iln25a r-vnw8o6 r-ubezar r-14yzgew r-1ozqkpa\" style=\"color: rgb(21, 41, 40);\">prix andrea</h3></div><div class=\"css-175oi2r r-1habvwh r-18u37iz r-1q142lx r-17s6mgv r-13hce6t r-1ttlgze\"><div class=\"css-175oi2r r-obd0qt r-eqz5dr r-1777fci\"><div dir=\"auto\" class=\"css-146c3p1 r-vnw8o6 r-djgu52 r-1b43r93 r-1cwl3u0\">14h15</div></div></div></div><div class=\"css-175oi2r r-obd0qt r-18u37iz r-1wtj0ep\"><div class=\"css-175oi2r r-eqz5dr r-16y2uox r-1wbh5a2 r-14gqq1x\"><div dir=\"auto\" class=\"css-146c3p1 r-dnmrzs r-1udh08x r-1udbk01 r-3s2u2q r-1iln25a r-vnw8o6 r-1enofrn r-1f529hi\" style=\"color: rgb(128, 128, 128);\">Steeple - 4400m - 8 partants</div></div><div class=\"css-175oi2r r-1awozwy r-18u37iz r-1q142lx\"></div></div></div></div></div></button></div></div></div><div class=\"css-175oi2r\"><div style=\"padding-right: 16px; padding-left: 16px;\"><div class=\"course-link\" title=\"PRIX DU VAUCLUSE\" role=\"link\" aria-label=\"Sélectionnez une course\"><button role=\"button\" tabindex=\"0\" class=\"css-175oi2r r-1loqt21 r-1otgn73 r-14lw9ot r-1q9bdsx r-1dt9a7j r-5oul0u r-13qz1uu\" style=\"opacity: 1;\" type=\"button\"><div class=\"css-175oi2r r-1q9bdsx r-1udh08x\"><div class=\"css-175oi2r r-18u37iz r-xyw6el r-1qhn6m8\" style=\"background-color: rgb(255, 255, 255); height: 80px; user-select: none;\" data-testid=\"CourseCardContainer\"><div class=\"css-175oi2r r-5t7aoe r-eqz5dr r-102gzdx r-1777fci r-1kz6sp r-vb8uwu r-88pszg r-1bymd8e\" data-testid=\"courseNumberCard\"><div dir=\"auto\" class=\"css-146c3p1 r-rdjlrx r-adyw6z r-135wba7 r-q4m81j r-jwli3a\">R1</div><div dir=\"auto\" class=\"css-146c3p1 r-rdjlrx r-adyw6z r-135wba7 r-q4m81j r-jwli3a r-q3we1\">C3</div></div><div class=\"css-175oi2r r-13awgt0 r-eqz5dr\"><div class=\"css-175oi2r r-1habvwh r-13awgt0 r-18u37iz\"><div class=\"css-175oi2r r-eqz5dr r-16y2uox r-1wbh5a2\"><h3 dir=\"auto\" aria-level=\"3\" role=\"heading\" class=\"css-146c3p1 r-dnmrzs r-1udh08x r-1udbk01 r-3s2u2q r-1iln25a r-vnw8o6 r-ubezar r-14yzgew r-1ozqkpa\" style=\"color: rgb(21, 41, 40);\">vincennes</h3><h3 dir=\"auto\" aria-level=\"3\" role=\"heading\" class=\"css-146c3p1 r-dnmrzs r-1udh08x r-1udbk01 r-3s2u2q r-1iln25a r-vnw8o6 r-ubezar r-14yzgew r-1ozqkpa\" style=\"color: rgb(21, 41, 40);\">prix du vaucluse</h3></div><div class=\"css-175oi2r r-1habvwh r-18u37iz r-1q142lx r-17s6mgv r-13hce6t r-1ttlgze\"><div class=\"css-175oi2r r-obd0qt r-eqz5dr r-1777fci\"><div dir=\"auto\" class=\"css-146c3p1 r-vnw8o6 r-djgu52 r-1b43r93 r-1cwl3u0\">14h33</div></div></div></div><div class=\"css-175oi2r r-obd0qt r-18u37iz r-1wtj0ep\"><div class=\"css-175oi2r r-eqz5dr r-16y2uox r-1wbh5a2 r-14gqq1x\"><div dir=\"auto\" class=\"css-146c3p1 r-dnmrzs r-1udh08x r-1udbk01 r-3s2u2q r-1iln25a r-vnw8o6 r-1enofrn r-1f529hi\" style=\"color: rgb(128, 128, 128);\">Attelé - 2700m - 13 partants</div></div><div class=\"css-175oi2r r-1awozwy r-18u37iz r-1q142lx\"></div></div></div></div></div></button></div></div></div><div class=\"css-175oi2r\"><div style=\"padding-right: 16px; padding-left: 16px;\"><div class=\"course-link\" title=\"PRIX BURGRAVE II\" role=\"link\" aria-label=\"Sélectionnez une course\"><button role=\"button\" tabindex=\"0\" class=\"css-175oi2r r-1loqt21 r-1otgn73 r-14lw9ot r-1q9bdsx r-1dt9a7j r-5oul0u r-13qz1uu\" style=\"opacity: 1;\" type=\"button\"><div class=\"css-175oi2r r-1q9bdsx r-1udh08x\"><div class=\"css-175oi2r r-18u37iz r-xyw6el r-1qhn6m8\" style=\"background-color: rgb(255, 255, 255); height: 80px; user-select: none;\" data-testid=\"CourseCardContainer\"><div class=\"css-175oi2r r-5t7aoe r-eqz5dr r-102gzdx r-1777fci r-1kz6sp r-vb8uwu r-88pszg r-1bymd8e\" data-testid=\"courseNumberCard\"><div dir=\"auto\" class=\"css-146c3p1 r-rdjlrx r-adyw6z r-135wba7 r-q4m81j r-jwli3a\">R3</div><div dir=\"auto\" class=\"css-146c3p1 r-rdjlrx r-adyw6z r-135wba7 r-q4m81j r-jwli3a r-q3we1\">C6</div></div><div class=\"css-175oi2r r-13awgt0 r-eqz5dr\"><div class=\"css-175oi2r r-1habvwh r-13awgt0 r-18u37iz\"><div class=\"css-175oi2r r-eqz5dr r-16y2uox r-1wbh5a2\"><h3 dir=\"auto\" aria-level=\"3\" role=\"heading\" class=\"css-146c3p1 r-dnmrzs r-1udh08x r-1udbk01 r-3s2u2q r-1iln25a r-vnw8o6 r-ubezar r-14yzgew r-1ozqkpa\" style=\"color: rgb(21, 41, 40);\">auteuil</h3><h3 dir=\"auto\" aria-level=\"3\" role=\"heading\" class=\"css-146c3p1 r-dnmrzs r-1udh08x r-1udbk01 r-3s2u2q r-1iln25a r-vnw8o6 r-ubezar r-14yzgew r-1ozqkpa\" style=\"color: rgb(21, 41, 40);\">prix burgrave ii</h3></div><div class=\"css-175oi2r r-1habvwh r-18u37iz r-1q142lx r-17s6mgv r-13hce6t r-1ttlgze\"><div class=\"css-175oi2r r-obd0qt r-eqz5dr r-1777fci\"><div dir=\"auto\" class=\"css-146c3p1 r-vnw8o6 r-djgu52 r-1b43r93 r-1cwl3u0\">14h50</div></div></div></div><div class=\"css-175oi2r r-obd0qt r-18u37iz r-1wtj0ep\"><div class=\"css-175oi2r r-eqz5dr r-16y2uox r-1wbh5a2 r-14gqq1x\"><div dir=\"auto\" class=\"css-146c3p1 r-dnmrzs r-1udh08x r-1udbk01 r-3s2u2q r-1iln25a r-vnw8o6 r-1enofrn r-1f529hi\" style=\"color: rgb(128, 128, 128);\">Haies - 3000m - 10 partants</div></div><div class=\"css-175oi2r r-1awozwy r-18u37iz r-1q142lx\"></div></div></div></div></div></button></div></div></div><div class=\"css-175oi2r\"><div style=\"padding-right: 16px; padding-left: 16px;\"><div class=\"course-link\" title=\"PRIX ALBERT DEMARCQ\" role=\"link\" aria-label=\"Sélectionnez une course\"><button role=\"button\" tabindex=\"0\" class=\"css-175oi2r r-1loqt21 r-1otgn73 r-14lw9ot r-1q9bdsx r-1dt9a7j r-5oul0u r-13qz1uu\" style=\"opacity: 1;\" type=\"button\"><div class=\"css-175oi2r r-1q9bdsx r-1udh08x\"><div class=\"css-175oi2r r-18u37iz r-xyw6el r-1qhn6m8\" style=\"background-color: rgb(255, 255, 255); height: 106px; user-select: none;\" data-testid=\"CourseCardContainer\"><div class=\"css-175oi2r r-5t7aoe r-eqz5dr r-102gzdx r-1777fci r-1kz6sp r-vb8uwu r-88pszg r-1bymd8e\" data-testid=\"courseNumberCard\"><div dir=\"auto\" class=\"css-146c3p1 r-rdjlrx r-adyw6z r-135wba7 r-q4m81j r-jwli3a\">R1</div><div dir=\"auto\" class=\"css-146c3p1 r-rdjlrx r-adyw6z r-135wba7 r-q4m81j r-jwli3a r-q3we1\">C4</div></div><div class=\"css-175oi2r r-13awgt0 r-eqz5dr\"><div class=\"css-175oi2r r-1habvwh r-13awgt0 r-18u37iz\"><div class=\"css-175oi2r r-eqz5dr r-16y2uox r-1wbh5a2\"><h3 dir=\"auto\" aria-level=\"3\" role=\"heading\" class=\"css-146c3p1 r-dnmrzs r-1udh08x r-1udbk01 r-3s2u2q r-1iln25a r-vnw8o6 r-ubezar r-14yzgew r-1ozqkpa\" style=\"color: rgb(21, 41, 40);\">vincennes</h3><h3 dir=\"auto\" aria-level=\"3\" role=\"heading\" class=\"css-146c3p1 r-dnmrzs r-1udh08x r-1udbk01 r-3s2u2q r-1iln25a r-vnw8o6 r-ubezar r-14yzgew r-1ozqkpa\" style=\"color: rgb(21, 41, 40);\">prix albert demarcq</h3></div><div class=\"css-175oi2r r-1habvwh r-18u37iz r-1q142lx r-17s6mgv r-13hce6t r-1ttlgze\"><div class=\"css-175oi2r r-obd0qt r-eqz5dr r-1777fci\"><div dir=\"auto\" class=\"css-146c3p1 r-vnw8o6 r-djgu52 r-1b43r93 r-1cwl3u0\">15h15</div></div></div></div><div class=\"css-175oi2r r-obd0qt r-18u37iz r-1wtj0ep\"><div class=\"css-175oi2r r-eqz5dr r-16y2uox r-1wbh5a2 r-14gqq1x\"><div dir=\"auto\" class=\"css-146c3p1 r-dnmrzs r-1udh08x r-1udbk01 r-3s2u2q r-1iln25a r-vnw8o6 r-1enofrn r-1f529hi\" style=\"color: rgb(128, 128, 128);\">Attelé - 2850m - 13 partants</div><div class=\"css-175oi2r r-1habvwh r-tskmnb\"><div class=\"css-175oi2r\" style=\"width: 116.8px;\"><svg height=\"20\" width=\"118.80000000000001\" viewBox=\"0 0 118.80000000000001 20\" fill=\"none\" montant=\"7&nbsp;000€\"><rect x=\"1\" y=\"1\" width=\"95.5%\" height=\"18\" rx=\"1\" fill=\"#fff\"></rect><rect x=\"0.5\" y=\"0.5\" width=\"96%\" height=\"19\" rx=\"3\" stroke=\"#009DC5\"></rect><rect x=\"2\" y=\"2\" width=\"40\" height=\"16\" rx=\"2\" fill=\"#009DC5\"></rect><g clip-path=\"url(#clip0_4488_4596)\"><path d=\"M7.79474 9.56074V9.67184C7.79474 10.6108 8.1725 10.7716 8.83005 10.7716C9.55762 10.7716 10.7465 10.3513 10.7465 10.3513L10.4808 11.7229C10.4808 11.7229 9.58557 12.0565 8.56438 12.0565C7.54318 12.0565 6.01831 11.871 6.01831 9.73356C6.01831 7.1882 7.19337 5.26059 9.45965 5.26059C10.8165 5.26059 11.6839 5.82897 11.6839 7.13882C11.6839 8.84396 9.86536 9.4864 7.79474 9.56074ZM9.31961 6.34797C8.59204 6.34797 8.06041 7.27461 7.87859 8.44867C9.15163 8.38695 9.9351 8.10276 9.9351 7.04007C9.9351 6.54575 9.72532 6.34825 9.31961 6.34825V6.34797Z\" fill=\"white\"></path><path d=\"M12.753 12.074C12.2395 12.074 11.8586 11.6719 11.8586 11.1926C11.8586 10.7134 12.2482 10.32 12.753 10.32C13.2579 10.32 13.6387 10.7222 13.6387 11.1926C13.6387 11.6631 13.2669 12.074 12.753 12.074Z\" fill=\"white\"></path><path d=\"M22.6222 12.9008C22.6222 13.1312 22.5864 13.3616 22.5147 13.5921C22.4429 13.8225 22.3179 14.0241 22.1397 14.1969C21.9746 14.3582 21.769 14.4734 21.5234 14.5426C21.2778 14.6117 20.9918 14.6501 20.6657 14.6578L20.4113 15.9366H19.7331L20.5352 11.9042H21.3896C21.8373 11.9042 22.1547 11.9917 22.3419 12.1662C22.5288 12.3409 22.6222 12.5859 22.6222 12.9008ZM21.9441 12.9238C21.9441 12.7203 21.8983 12.5782 21.8071 12.4975C21.7159 12.4169 21.5528 12.3766 21.3181 12.3766H21.116L20.7507 14.2315C21.1679 14.2084 21.4616 14.099 21.6312 13.9031C21.679 13.8494 21.7224 13.7822 21.7617 13.7015C21.8009 13.6209 21.8334 13.5364 21.8594 13.448C21.8853 13.3597 21.9059 13.2695 21.9212 13.1773C21.9364 13.0851 21.9441 13.0006 21.9441 12.9238Z\" fill=\"white\"></path><path d=\"M23.0917 15.9366H22.4136L23.2419 11.789H23.9201L23.0917 15.9366Z\" fill=\"white\"></path><path d=\"M26.0266 15.9366H25.5308L25.4916 15.5161C25.4306 15.6083 25.3611 15.6889 25.2829 15.758C25.2132 15.8195 25.1274 15.8744 25.0254 15.9221C24.9232 15.9701 24.8027 15.994 24.6635 15.994C24.5503 15.994 24.4427 15.9767 24.3408 15.9421C24.2386 15.9076 24.1494 15.8499 24.0734 15.7693C23.9972 15.6886 23.9365 15.5811 23.8907 15.4467C23.845 15.3123 23.8221 15.1472 23.8221 14.9513C23.8221 14.7247 23.8504 14.4866 23.9068 14.237C23.9633 13.9874 24.0536 13.758 24.1776 13.5487C24.3015 13.3394 24.4613 13.1666 24.657 13.0303C24.8526 12.8939 25.0895 12.8256 25.3679 12.8256C25.4808 12.8256 25.5777 12.8391 25.6581 12.866C25.7386 12.8928 25.8049 12.9216 25.8572 12.9524C25.9182 12.9908 25.9681 13.0311 26.0071 13.0733L26.1963 12.8832H26.6333L26.0269 15.9364L26.0266 15.9366ZM25.8374 13.4538C25.8114 13.4269 25.7764 13.4039 25.733 13.3847C25.6982 13.3655 25.6525 13.3493 25.596 13.3356C25.5396 13.3221 25.4743 13.3156 25.4004 13.3156C25.2352 13.3156 25.096 13.3751 24.9831 13.4941C24.8699 13.6132 24.7775 13.7572 24.7058 13.9262C24.6341 14.0952 24.5819 14.2748 24.5494 14.4647C24.517 14.6548 24.5006 14.8191 24.5006 14.9573C24.5006 15.1532 24.5288 15.2945 24.5853 15.3809C24.6417 15.4673 24.718 15.5103 24.8134 15.5103C24.9088 15.5103 25.0026 15.4769 25.0938 15.4097C25.1849 15.3425 25.2654 15.2684 25.3351 15.188C25.4134 15.092 25.4893 14.9826 25.5636 14.8597L25.8374 13.4541V13.4538Z\" fill=\"white\"></path><path d=\"M28.9157 13.5057C28.8547 13.4711 28.7917 13.4404 28.7265 13.4135C28.67 13.3904 28.6079 13.3693 28.5407 13.3501C28.4733 13.3309 28.4092 13.3213 28.3485 13.3213C28.2573 13.3213 28.1768 13.3367 28.1071 13.3674C28.0376 13.3981 27.9721 13.4461 27.9114 13.5114C27.8592 13.5652 27.807 13.6458 27.755 13.7534C27.7028 13.8609 27.6562 13.9799 27.6147 14.1105C27.5735 14.2411 27.5396 14.3755 27.5136 14.5138C27.4876 14.652 27.4744 14.7807 27.4744 14.8997C27.4744 15.1263 27.506 15.281 27.569 15.3636C27.6319 15.4462 27.7265 15.4873 27.8527 15.4873C27.9267 15.4873 28.0049 15.4785 28.0876 15.4612C28.17 15.444 28.2463 15.4259 28.3157 15.4064C28.3939 15.3833 28.4744 15.3545 28.5571 15.32L28.4527 15.873C28.3962 15.8999 28.331 15.921 28.257 15.9364C28.196 15.9517 28.122 15.9652 28.0354 15.9767C27.9484 15.9882 27.8504 15.994 27.742 15.994C27.6463 15.994 27.5419 15.9805 27.4289 15.9536C27.3157 15.9268 27.2115 15.8749 27.1158 15.7981C27.0201 15.7213 26.9408 15.6149 26.8778 15.4782C26.8148 15.3419 26.7832 15.1644 26.7832 14.9455C26.7832 14.8111 26.7931 14.6729 26.8126 14.5308C26.8321 14.3887 26.8614 14.2477 26.9007 14.1075C26.9399 13.9673 26.9896 13.8329 27.0506 13.7043C27.1116 13.5756 27.181 13.4596 27.2592 13.3556C27.3984 13.1713 27.5582 13.0369 27.7386 12.9524C27.919 12.8679 28.1136 12.8256 28.3222 12.8256C28.4351 12.8256 28.5331 12.8363 28.6158 12.8574C28.6983 12.8786 28.77 12.9008 28.831 12.9238C28.9004 12.9546 28.9614 12.9872 29.0136 13.0218L28.916 13.5057H28.9157Z\" fill=\"white\"></path><path d=\"M31.2895 13.6727C31.2895 13.8916 31.2285 14.074 31.1069 14.22C30.9852 14.3659 30.8338 14.4819 30.6537 14.5686C30.4733 14.655 30.2776 14.7157 30.0667 14.7502C29.8558 14.7848 29.6591 14.804 29.4764 14.8078C29.4719 14.9461 29.4798 15.0605 29.4993 15.1507C29.5187 15.241 29.5492 15.312 29.5904 15.3639C29.6317 15.4157 29.685 15.4514 29.7502 15.4703C29.8155 15.4895 29.8914 15.4991 29.9784 15.4991C30.0608 15.4991 30.1512 15.4895 30.2491 15.4703C30.3468 15.4511 30.4394 15.43 30.5264 15.4069C30.6263 15.38 30.7285 15.3474 30.833 15.309L30.722 15.8447C30.6438 15.8755 30.5588 15.9004 30.4677 15.9196C30.3894 15.9388 30.3002 15.9561 30.2003 15.9715C30.1003 15.9868 29.9936 15.9945 29.8807 15.9945C29.7678 15.9945 29.6416 15.983 29.5153 15.9599C29.3891 15.9369 29.274 15.8889 29.1698 15.8159C29.0653 15.743 28.9795 15.6374 28.9123 15.4991C28.8448 15.3608 28.8112 15.1746 28.8112 14.9403C28.8112 14.6792 28.8417 14.4219 28.9024 14.1684C28.9631 13.9149 29.0566 13.6894 29.1828 13.4917C29.3087 13.2939 29.4665 13.1337 29.6557 13.0105C29.8448 12.8876 30.0698 12.8262 30.3307 12.8262C30.6308 12.8262 30.8655 12.8945 31.0351 13.0308C31.2048 13.1672 31.2895 13.3814 31.2895 13.6733V13.6727ZM30.6373 13.6381C30.6373 13.377 30.5241 13.2464 30.2983 13.2464C30.1983 13.2464 30.1049 13.2782 30.0179 13.3413C29.9309 13.4047 29.8539 13.4892 29.7864 13.5948C29.7189 13.7004 29.6613 13.8214 29.6136 13.9577C29.5656 14.0941 29.5331 14.2334 29.5159 14.3752C29.6636 14.3714 29.8062 14.3571 29.9431 14.3319C30.08 14.3069 30.1994 14.2677 30.3019 14.2139C30.4041 14.1602 30.4854 14.0864 30.5464 13.9923C30.6071 13.8982 30.6376 13.7802 30.6376 13.6379L30.6373 13.6381ZM30.6766 12.3651H30.0179L30.82 11.4722H31.7658L30.6766 12.3651Z\" fill=\"white\"></path><path d=\"M18.1024 6.35072C18.1024 6.35072 17.6086 6.08573 17.1233 6.08573C16.6117 6.08573 16.3471 6.36608 16.3471 6.81815C16.3471 7.09082 16.5323 7.31685 16.7706 7.54261L17.1235 7.87755C17.4674 8.20481 17.7763 8.59433 17.7763 9.24857C17.7763 10.3938 17.0707 10.8846 15.9329 10.8846C15.1568 10.8846 14.5131 10.6119 14.5131 10.6119L14.6808 9.77059C14.6808 9.77059 15.4304 10.0433 15.8361 10.0433C16.3299 10.0433 16.6035 9.80954 16.6035 9.26421C16.6035 8.96822 16.4095 8.73451 16.1625 8.50079L15.8361 8.19685C15.5275 7.90855 15.1924 7.48802 15.1924 6.89578C15.1924 5.76615 15.9332 5.2754 17.1063 5.2754C17.8206 5.2754 18.2616 5.55575 18.2616 5.55575L18.1029 6.35044L18.1024 6.35072Z\" fill=\"white\"></path><path d=\"M19.3319 10.807H18.1854L19.0056 6.67797H20.1521L19.3319 10.807Z\" fill=\"white\"></path><path d=\"M25.8498 10.807H24.7033L25.2677 7.95573C25.3205 7.67538 25.3383 7.47266 25.1618 7.47266C24.6943 7.47266 24.1827 8.35294 24.1827 8.35294L23.6889 10.807H22.5423L23.1067 7.95573C23.1595 7.67538 23.1773 7.47266 23.0008 7.47266C22.5333 7.47266 22.0217 8.35294 22.0217 8.35294L21.5279 10.807H20.3814L21.2015 6.67797H22.101L22.1629 7.41807C22.1629 7.41807 22.692 6.60007 23.5124 6.60007C24.0858 6.60007 24.3326 6.92732 24.3326 7.40244C24.4119 7.29326 24.9148 6.60007 25.6731 6.60007C26.3786 6.60007 26.5904 7.09877 26.458 7.75301L25.8493 10.807H25.8498Z\" fill=\"white\"></path><path d=\"M30.2178 10.1291C29.715 10.8379 29.0272 10.8849 28.6215 10.8849C28.2158 10.8849 27.9425 10.7524 27.9425 10.7524L27.6785 12.0658H26.532L27.6074 6.67797H28.4453L28.5424 7.26226C28.5424 7.26226 28.9747 6.60007 29.7421 6.60007C30.3417 6.60007 30.8358 6.87274 30.8358 7.94777C30.8358 8.68019 30.5978 9.59146 30.2184 10.1291H30.2178ZM29.4064 7.3868C28.9479 7.3868 28.445 8.25144 28.445 8.25144L28.0921 10.0356C28.0921 10.0356 28.3744 10.1368 28.5772 10.1368C28.7977 10.1368 29.0535 10.0276 29.274 9.62274C29.4857 9.23321 29.6975 8.39957 29.6975 7.96341C29.6975 7.52725 29.6003 7.3868 29.4064 7.3868Z\" fill=\"white\"></path><path d=\"M32.3028 10.807H31.1563L32.2602 5.27294H33.4067L32.3028 10.807Z\" fill=\"white\"></path><path d=\"M34.5344 9.31112V9.38134C34.5344 9.97331 34.7726 10.0748 35.1871 10.0748C35.6459 10.0748 36.3955 9.80982 36.3955 9.80982L36.2278 10.6745C36.2278 10.6745 35.6634 10.8849 35.0194 10.8849C34.3754 10.8849 33.4141 10.768 33.4141 9.42029C33.4141 7.81555 34.1549 6.60007 35.5838 6.60007C36.4392 6.60007 36.9861 6.95832 36.9861 7.78428C36.9861 8.85932 35.8396 9.26448 34.5341 9.31112H34.5344ZM35.4957 7.28558C35.0369 7.28558 34.7018 7.86987 34.5872 8.60997C35.3898 8.57102 35.8836 8.39189 35.8836 7.72174C35.8836 7.41012 35.7512 7.28558 35.4954 7.28558H35.4957Z\" fill=\"white\"></path><path d=\"M19.7537 6.22535C20.0966 6.22535 20.3746 5.95529 20.3746 5.62214C20.3746 5.28899 20.0966 5.01892 19.7537 5.01892C19.4109 5.01892 19.1329 5.28899 19.1329 5.62214C19.1329 5.95529 19.4109 6.22535 19.7537 6.22535Z\" fill=\"white\"></path></g><g clip-path=\"url(#clip1_4488_4596)\"><path d=\"M47.7957 13.9935C47.8378 13.9953 47.8663 13.9977 47.8946 13.9977C48.0188 13.9977 48.143 13.9977 48.267 13.9977C48.4661 13.9977 48.6652 13.9977 48.8644 13.9977C48.886 13.9977 48.9106 13.9901 48.9312 14.0133C48.9312 14.045 48.9115 14.0713 48.8981 14.0993C48.6214 14.6792 48.3446 15.259 48.0679 15.8389C47.8961 16.1994 47.7244 16.56 47.553 16.9206C47.5425 16.9425 47.5245 16.963 47.5299 16.9991C47.5588 16.9723 47.5824 16.9512 47.6051 16.9295L50.6012 14.0495C50.6259 14.0258 50.6521 14.0035 50.6705 13.9868C50.8329 13.972 50.9854 13.9582 51.1376 13.9441C51.3301 13.9273 51.5213 13.8976 51.7099 13.8551C52.0095 13.7859 52.2975 13.6851 52.5628 13.5275C53.031 13.2493 53.357 12.8536 53.5241 12.3316C53.6057 12.0761 53.64 11.8119 53.6475 11.5446C53.6515 11.4087 53.6459 11.2728 53.6445 11.1257C53.6613 11.1088 53.6851 11.084 53.7098 11.0601L55.485 9.35193C55.6476 9.19561 55.81 9.03917 55.9723 8.88262C55.985 8.87048 56.0084 8.86196 55.9963 8.8308H54.0589C54.0329 8.8308 54.0069 8.8308 53.9809 8.8308C53.9643 8.8308 53.9448 8.83261 53.934 8.80869C53.9372 8.79292 53.9405 8.77245 53.9452 8.75433C53.9712 8.65043 53.9899 8.54484 54.0013 8.43832C54.028 8.17757 54.028 7.91773 53.9782 7.65916C53.9121 7.31615 53.7567 7.02134 53.5026 6.78089C53.3755 6.66247 53.2313 6.56399 53.0749 6.48879C53.0494 6.47629 53.0247 6.46234 52.9956 6.44694C53.0108 6.41323 53.0232 6.38442 53.0368 6.35634C53.2967 5.81346 53.5567 5.27065 53.8168 4.7279C54.0305 4.28167 54.2441 3.83531 54.4575 3.38884C54.4675 3.36818 54.4866 3.34807 54.4787 3.31165C53.48 4.27055 52.4849 5.22596 51.4933 6.17786H51.4146C51.1433 6.17786 50.872 6.17786 50.6008 6.17786C50.1533 6.17786 49.706 6.17786 49.2587 6.17786C49.228 6.17786 49.1961 6.17278 49.1613 6.1871C49.0024 7.0824 48.8485 7.97771 48.692 8.86051C48.6828 8.87338 48.6812 8.87591 48.6794 8.87863C48.6778 8.88107 48.676 8.88331 48.674 8.88534L46.0281 11.4276C46.0239 11.4315 46.0196 11.4355 46.0156 11.4397C46.0114 11.4436 46.0075 11.4478 46.0037 11.4522C46.0019 11.4545 46.0008 11.4573 46.0003 11.4602C45.9999 11.4649 45.9999 11.4696 46.0003 11.4743C46.0284 11.4841 46.0597 11.4797 46.0905 11.4797H48.0997C48.1257 11.4797 48.1516 11.4787 48.1775 11.4797C48.1958 11.4825 48.2139 11.4865 48.2316 11.4919C48.1594 11.9097 48.0856 12.3225 48.0141 12.7355C47.9419 13.1506 47.8661 13.5659 47.7957 13.9935Z\" fill=\"white\"></path><path d=\"M47.7959 13.9936C47.8663 13.5659 47.9421 13.1506 48.0143 12.7344C48.0865 12.3215 48.1587 11.9087 48.2318 11.4908C48.2141 11.4855 48.196 11.4814 48.1776 11.4787C48.1518 11.4769 48.1258 11.4787 48.0999 11.4787H46.0913C46.0608 11.4787 46.0295 11.4831 46.001 11.4733C46.0006 11.4686 46.0006 11.4638 46.001 11.4591C46.0015 11.4562 46.0027 11.4535 46.0044 11.4512C46.0082 11.4468 46.0122 11.4426 46.0164 11.4387C46.0203 11.4345 46.0247 11.4305 46.0288 11.4265L48.6743 8.88339C48.6764 8.88136 48.6782 8.87911 48.6798 8.87668C48.6816 8.87451 48.6832 8.87197 48.6924 8.85856C48.8489 7.97576 49.0028 7.08045 49.1616 6.18515C49.1965 6.17083 49.2284 6.1759 49.2591 6.1759C49.7066 6.1759 50.1539 6.1759 50.6012 6.1759C50.8724 6.1759 51.1436 6.1759 51.415 6.1759H51.4937C52.4878 5.22159 53.4829 4.26618 54.479 3.30969C54.487 3.34593 54.4678 3.36623 54.4579 3.38688C54.245 3.83384 54.0314 4.2802 53.8172 4.72595C53.5571 5.26882 53.2971 5.81163 53.0372 6.35439C53.0236 6.38283 53.0112 6.41164 52.996 6.44499C53.0251 6.46039 53.0502 6.47434 53.0752 6.48684C53.2317 6.56204 53.3759 6.66052 53.503 6.77894C53.7571 7.01939 53.9125 7.3142 53.9786 7.65721C54.0284 7.91542 54.0284 8.17526 54.0017 8.43637C53.9903 8.54289 53.9715 8.64848 53.9455 8.75238C53.9408 8.77177 53.9376 8.79152 53.9343 8.80674C53.9459 8.83066 53.9647 8.8283 53.9813 8.82885C54.0073 8.82993 54.0332 8.82885 54.0592 8.82885H55.9965C56.0092 8.86001 55.9852 8.86853 55.9725 8.88067C55.8102 9.03771 55.6478 9.19414 55.4852 9.34997L53.7098 11.0603C53.6851 11.0842 53.6613 11.1091 53.6445 11.1259C53.6459 11.2729 53.6515 11.4089 53.6476 11.5448C53.64 11.8121 53.6057 12.0763 53.5241 12.3318C53.3572 12.8542 53.031 13.2499 52.5628 13.5277C52.2975 13.6854 52.0095 13.7861 51.7099 13.8553C51.5213 13.8978 51.3301 13.9275 51.1376 13.9443C50.9854 13.9584 50.8333 13.9722 50.6705 13.987C50.6524 14.0037 50.6259 14.026 50.6012 14.0497L47.6061 16.9303C47.5833 16.952 47.5597 16.973 47.5308 16.9999C47.5254 16.9636 47.5434 16.9433 47.5539 16.9214C47.7252 16.5606 47.8969 16.2 48.0688 15.8396C48.3456 15.2598 48.6223 14.68 48.899 14.1001C48.9124 14.072 48.9319 14.0458 48.9321 14.014C48.9115 13.9909 48.8869 13.9986 48.8653 13.9985C48.6662 13.9985 48.467 13.9985 48.2679 13.9985C48.1439 13.9985 48.0197 13.9985 47.8956 13.9985C47.8665 13.9977 47.838 13.9948 47.7959 13.9936ZM52.0526 9.97094C52.0799 9.96207 52.0983 9.95428 52.1172 9.95011C52.2722 9.91681 52.4234 9.86782 52.5684 9.80388C53.0705 9.581 53.4055 9.20592 53.5575 8.67609C53.6391 8.39125 53.6452 8.09843 53.6033 7.80634C53.5431 7.38432 53.3248 7.07121 52.95 6.86972C52.7811 6.78104 52.601 6.71611 52.4145 6.67674C52.104 6.60967 51.7873 6.57554 51.4697 6.57491C50.832 6.57019 50.1944 6.57309 49.5565 6.57328C49.537 6.57415 49.5174 6.57603 49.4981 6.57889C49.4924 6.59022 49.4878 6.60205 49.4843 6.61423C49.0791 8.9314 48.6738 11.2491 48.2684 13.5672C48.2683 13.5761 48.2694 13.5851 48.2719 13.5937C48.3049 13.6094 48.3401 13.6031 48.374 13.6033C48.9275 13.6033 49.4815 13.6033 50.0361 13.6033C50.3391 13.6033 50.6418 13.5962 50.9437 13.567C51.1332 13.5489 51.3227 13.5297 51.5097 13.4945C51.7916 13.4402 52.0636 13.3548 52.3154 13.2146C52.759 12.9678 53.0527 12.6011 53.1805 12.1051C53.2176 11.9561 53.2408 11.804 53.2496 11.6507C53.2637 11.4392 53.2664 11.2276 53.222 11.0188C53.1498 10.684 52.9801 10.4149 52.6944 10.2228C52.5784 10.1467 52.4518 10.0881 52.3188 10.0489C52.2336 10.0224 52.1477 9.99831 52.0526 9.97022V9.97094Z\" fill=\"#009DC5\"></path><path d=\"M52.0525 9.97049C52.1476 9.99858 52.233 10.0227 52.3187 10.0491C52.4517 10.0884 52.5783 10.147 52.6943 10.2231C52.98 10.4152 53.1506 10.6842 53.2219 11.0191C53.2663 11.2278 53.2636 11.4395 53.2495 11.6509C53.2407 11.8043 53.2175 11.9564 53.1804 12.1054C53.0526 12.6013 52.7589 12.9681 52.3153 13.2149C52.0626 13.3551 51.7919 13.4406 51.5096 13.4948C51.3225 13.5311 51.1331 13.5492 50.9436 13.5673C50.6417 13.5961 50.339 13.6035 50.036 13.6035C49.4819 13.6035 48.9279 13.6035 48.3739 13.6035C48.34 13.6035 48.3048 13.6097 48.2718 13.5939C48.2693 13.5853 48.2682 13.5764 48.2683 13.5675C48.6737 11.2495 49.0793 8.93137 49.4851 6.61323C49.4886 6.60105 49.4932 6.58922 49.4989 6.5779C49.5182 6.57503 49.5378 6.57315 49.5573 6.57228C50.1952 6.57228 50.8328 6.5692 51.4705 6.57391C51.7881 6.57454 52.1048 6.60867 52.4153 6.67574C52.6021 6.71503 52.7826 6.77997 52.9517 6.86872C53.3265 7.07021 53.5448 7.38333 53.605 7.80534C53.6469 8.09798 53.6411 8.3908 53.5592 8.6751C53.4072 9.20565 53.0719 9.58001 52.5701 9.80288C52.4251 9.86682 52.2739 9.91581 52.1189 9.94911C52.0982 9.95437 52.0798 9.96161 52.0525 9.97049ZM49.8564 12.5616C49.882 12.5638 49.9042 12.5671 49.9264 12.5671C50.0534 12.5671 50.1802 12.5671 50.3071 12.5671C50.5205 12.5679 50.7337 12.551 50.9444 12.5165C51.1016 12.4926 51.2527 12.4382 51.3892 12.3563C51.6058 12.2228 51.7484 12.0329 51.8109 11.7854C51.8574 11.6009 51.8608 11.4128 51.8394 11.2248C51.8314 11.1499 51.8163 11.076 51.7944 11.0041C51.7313 10.8011 51.5995 10.6598 51.3995 10.5846C51.3699 10.5735 51.3394 10.5645 51.3093 10.5552C51.2118 10.5288 51.1117 10.513 51.0108 10.5083C50.7633 10.4889 50.5153 10.4902 50.2672 10.4923C50.2495 10.4945 50.2321 10.4984 50.2152 10.5039C50.0961 11.1756 49.9774 11.8456 49.8591 12.514C49.8573 12.5296 49.8564 12.5454 49.8564 12.5611V12.5616ZM50.4009 9.4789C50.4352 9.48071 50.4635 9.48361 50.4912 9.48379C50.5834 9.48379 50.6756 9.48488 50.7678 9.48379C50.9066 9.48471 51.0453 9.47611 51.1829 9.45806C51.355 9.43197 51.521 9.38775 51.6755 9.30513C51.8833 9.19817 52.041 9.01357 52.1146 8.79106C52.1754 8.60655 52.201 8.41215 52.1899 8.21811C52.1875 8.13985 52.1732 8.06242 52.1475 7.98853C52.1027 7.86477 52.0229 7.77508 51.9007 7.72525C51.8663 7.71112 51.8309 7.69843 51.7951 7.6872C51.6685 7.64735 51.5371 7.62498 51.4044 7.6207C51.1941 7.61436 50.9837 7.61581 50.7727 7.6149C50.7544 7.61651 50.7362 7.61991 50.7186 7.62505C50.6485 7.94758 50.4004 9.38902 50.4009 9.47835V9.4789Z\" fill=\"white\"></path><path d=\"M49.8562 12.5611C49.8562 12.5453 49.8571 12.5295 49.8589 12.5138C49.9773 11.8447 50.096 11.1747 50.215 10.5038C50.2319 10.4982 50.2493 10.4944 50.267 10.4922C50.5151 10.4896 50.7631 10.4887 51.0106 10.5081C51.1115 10.5129 51.2116 10.5286 51.3091 10.5551C51.3392 10.5643 51.3697 10.5732 51.3993 10.5844C51.5993 10.6594 51.7311 10.8019 51.7942 11.0039C51.8161 11.0759 51.8312 11.1498 51.8392 11.2246C51.8606 11.4127 51.8572 11.6008 51.8107 11.7852C51.7482 12.0327 51.6051 12.2226 51.389 12.3562C51.2525 12.4381 51.1014 12.4925 50.9442 12.5164C50.7335 12.5509 50.5203 12.5678 50.3069 12.5669C50.1799 12.5669 50.053 12.5669 49.9262 12.5669C49.904 12.5666 49.8818 12.5637 49.8562 12.5611Z\" fill=\"#009DC5\"></path><path d=\"M50.4009 9.47844C50.4009 9.38911 50.6485 7.94767 50.7182 7.62514C50.7358 7.62 50.754 7.6166 50.7723 7.61499C50.9826 7.6159 51.193 7.61499 51.404 7.62079C51.5367 7.62507 51.6681 7.64744 51.7948 7.68729C51.8308 7.69852 51.8659 7.71121 51.9003 7.72534C52.0225 7.77517 52.1023 7.86486 52.1471 7.98862C52.1728 8.06251 52.1872 8.13994 52.1895 8.2182C52.2006 8.41224 52.175 8.60664 52.1142 8.79115C52.0406 9.01366 51.8829 9.19826 51.6751 9.30522C51.5206 9.38784 51.3546 9.43206 51.1826 9.45815C51.045 9.476 50.9065 9.48442 50.7678 9.48334C50.6756 9.48442 50.5833 9.48334 50.4911 9.48334C50.4635 9.48334 50.4352 9.48026 50.4009 9.47844Z\" fill=\"#009DC5\"></path></g></svg><div class=\"css-175oi2r r-1p0dtai r-1777fci r-u8s1d r-ipm5af r-1tyicy7\"><div dir=\"auto\" class=\"css-146c3p1 r-rdjlrx r-1b43r93\" style=\"color: rgb(0, 157, 197);\">7&nbsp;000€*</div></div></div></div></div><div class=\"css-175oi2r r-1awozwy r-18u37iz r-1q142lx\"><div class=\"css-175oi2r r-13hce6t\"><div class=\"css-175oi2r\" style=\"aspect-ratio: 1.70588 / 1;\"><svg height=\"20\" viewBox=\"0 0 29 17\" fill=\"none\" title=\"e_quinte_plus\" data-testid=\"E_QUINTE_PLUS_mini\"><path fill=\"#D40227\" fill-rule=\"evenodd\" d=\"M8.565 16.233c-4.296 0-7.792-3.47-7.792-7.733C.773 4.236 4.27.768 8.565.768h11.87c4.297 0 7.792 3.468 7.792 7.732s-3.495 7.733-7.792 7.733H8.565z\" clip-rule=\"evenodd\"></path><path fill=\"#fff\" fill-rule=\"evenodd\" d=\"M18.628 4.949c-1.341 0-1.803 3.345-1.803 4.23 0 1.118.376 1.31.891 1.31 1.396 0 1.793-3.356 1.793-4.294 0-1.033-.312-1.246-.88-1.246zm1.375 5.39c-.473.682-1.042 1.066-1.922 1.183l1.696 1.95h-1.825l-1.041-1.96c-.805-.129-1.589-.64-1.589-2.366 0-2.195.773-3.824 1.342-4.4.419-.426 1.041-.863 2.18-.863.89 0 2.146.288 2.146 2.472 0 1.62-.483 3.239-.987 3.984zm5.117-4.511h-1.189l-.218 1.213h-.925l.218-1.213h-1.189l.152-.852h1.19l.21-1.213h.926l-.212 1.213h1.19l-.153.852zm-.845 4.11h-1.598l-.212.93s.278-.163.694-.163c.502 0 .997.282.997 1.049 0 .76-.403 1.272-.964 1.56-.595.308-1.374.4-2.061.4l.125-.708c.509 0 1.05-.079 1.44-.295.31-.177.522-.413.522-.846 0-.308-.158-.439-.488-.439-.37 0-.793.256-.793.256l-.47-.164.49-2.36H24.5l-.225.78zM5.507 8.301c.184-1.687 1-2.68 1.967-2.68.634 0 .934.348.934.96 0 1.538-1.484 1.67-2.9 1.72zm2.284-4.35c-1.167 0-2.2.347-2.984 1.108-1.017.976-1.65 2.564-1.65 4.517 0 2.811 1.6 3.473 3.384 3.473 1.684 0 2.868-.628 2.868-.628l.25-1.903s-1.602.695-2.752.695c-.983 0-1.433-.347-1.45-1.44 2.718-.049 5.251-.512 5.251-3.258 0-1.688-1.434-2.564-2.917-2.564zm4.173 9.12a1.169 1.169 0 01-1.172-1.186c0-.644.51-1.174 1.172-1.174.672 0 1.16.541 1.16 1.174 0 .633-.488 1.186-1.16 1.186z\" clip-rule=\"evenodd\"></path></svg></div></div><div class=\"css-175oi2r r-13hce6t\"><svg width=\"30\" height=\"20\" fill=\"none\"><rect width=\"30\" height=\"20\" rx=\"4\" fill=\"#2E3AD8\"></rect><path fill-rule=\"evenodd\" clip-rule=\"evenodd\" d=\"M23.008 6.293h2.731l.38-1.383h-4.33l-.83 4.189.8.293s.713-.455 1.346-.455c.556 0 .83.233.83.778 0 .767-.361 1.19-.888 1.503-.673.384-1.59.525-2.458.525l-.214 1.262c1.17 0 2.497-.162 3.51-.707.957-.514 1.64-1.413 1.64-2.775 0-1.363-.84-1.867-1.698-1.867-.712 0-1.18.292-1.18.292l.361-1.655zm-10.868.963c-.447 0-.79-.376-.79-.82 0-.443.343-.819.79-.819s.79.376.79.82c0 .443-.343.819-.79.819zm-.41 5.784h-1.416l.885-5.11h1.416l-.885 5.11zM8.882 9.17a3.032 3.032 0 01-.251.09c.09.031.176.07.256.114.249.133.438.322.567.566.13.245.182.539.158.882-.034.53-.189.959-.464 1.285a2.378 2.378 0 01-1.057.714c-.425.15-.88.222-1.362.219H3.88l1.286-7.423 2.44.005c.32.004.629.041.928.112.3.072.565.184.796.337.232.153.41.355.536.607.13.251.182.56.159.927-.024.401-.14.731-.347.99a1.929 1.929 0 01-.797.575zM7.72 8.645c-.176.053-.36.083-.55.09l-1.044-.003.333-1.917 1.103.005c.21.004.393.036.546.097.156.058.27.153.342.286.071.132.091.314.06.545-.037.245-.127.44-.27.586a1.22 1.22 0 01-.52.311zm-2.136 3.203l.36-2.065 1.408.004c.211.01.38.058.506.143.129.082.217.199.265.352.048.15.056.324.025.525a1.112 1.112 0 01-.25.586 1.256 1.256 0 01-.495.347 1.73 1.73 0 01-.627.112l-1.192-.004zm13.073-4.502h-1.327l-.19.674a1.594 1.594 0 00-.438-.5c-.23-.174-.53-.266-.9-.276a2.059 2.059 0 00-1.054.23 2.346 2.346 0 00-.767.668c-.209.28-.375.593-.499.939a4.655 4.655 0 00-.247 1.036l-.015.108c-.03.311-.024.63.02.954.045.322.136.62.273.893.14.27.333.49.576.662.247.17.558.261.931.272.36.01.68-.067.962-.231.117-.067.226-.144.329-.229l-.03.178c-.045.26-.134.484-.268.672a1.36 1.36 0 01-.51.436c-.205.102-.442.15-.71.144a1.486 1.486 0 01-.683-.18 1.633 1.633 0 01-.535-.462l-.715.852c.154.195.336.357.545.487.21.134.434.235.674.303a3.204 3.204 0 002.114-.149 2.576 2.576 0 001.034-.816c.27-.359.44-.793.509-1.303l.92-5.362zm-1.75 1.695l-.392 2.304c-.098.129-.216.238-.353.327a1.126 1.126 0 01-.694.17c-.206-.008-.367-.064-.484-.17a.933.933 0 01-.252-.416 2.198 2.198 0 01-.082-.523 3.944 3.944 0 01.02-.508l.016-.113c.02-.188.063-.383.128-.585a2.39 2.39 0 01.263-.56c.11-.174.247-.314.411-.42.168-.106.367-.154.597-.144a.834.834 0 01.478.134.798.798 0 01.278.333c.026.055.048.112.067.171z\" fill=\"#fff\"></path></svg></div></div></div></div></div></div></button></div></div></div><div class=\"css-175oi2r\"><div style=\"padding-right: 16px; padding-left: 16px;\"><div class=\"course-link\" title=\"PRIX QUOMODO\" role=\"link\" aria-label=\"Sélectionnez une course\"><button role=\"button\" tabindex=\"0\" class=\"css-175oi2r r-1loqt21 r-1otgn73 r-14lw9ot r-1q9bdsx r-1dt9a7j r-5oul0u r-13qz1uu\" style=\"opacity: 1;\" type=\"button\"><div class=\"css-175oi2r r-1q9bdsx r-1udh08x\"><div class=\"css-175oi2r r-18u37iz r-xyw6el r-1qhn6m8\" style=\"background-color: rgb(255, 255, 255); height: 80px; user-select: none;\" data-testid=\"CourseCardContainer\"><div class=\"css-175oi2r r-5t7aoe r-eqz5dr r-102gzdx r-1777fci r-1kz6sp r-vb8uwu r-88pszg r-1bymd8e\" data-testid=\"courseNumberCard\"><div dir=\"auto\" class=\"css-146c3p1 r-rdjlrx r-adyw6z r-135wba7 r-q4m81j r-jwli3a\">R3</div><div dir=\"auto\" class=\"css-146c3p1 r-rdjlrx r-adyw6z r-135wba7 r-q4m81j r-jwli3a r-q3we1\">C7</div></div><div class=\"css-175oi2r r-13awgt0 r-eqz5dr\"><div class=\"css-175oi2r r-1habvwh r-13awgt0 r-18u37iz\"><div class=\"css-175oi2r r-eqz5dr r-16y2uox r-1wbh5a2\"><h3 dir=\"auto\" aria-level=\"3\" role=\"heading\" class=\"css-146c3p1 r-dnmrzs r-1udh08x r-1udbk01 r-3s2u2q r-1iln25a r-vnw8o6 r-ubezar r-14yzgew r-1ozqkpa\" style=\"color: rgb(21, 41, 40);\">auteuil</h3><h3 dir=\"auto\" aria-level=\"3\" role=\"heading\" class=\"css-146c3p1 r-dnmrzs r-1udh08x r-1udbk01 r-3s2u2q r-1iln25a r-vnw8o6 r-ubezar r-14yzgew r-1ozqkpa\" style=\"color: rgb(21, 41, 40);\">prix quomodo</h3></div><div class=\"css-175oi2r r-1habvwh r-18u37iz r-1q142lx r-17s6mgv r-13hce6t r-1ttlgze\"><div class=\"css-175oi2r r-obd0qt r-eqz5dr r-1777fci\"><div dir=\"auto\" class=\"css-146c3p1 r-vnw8o6 r-djgu52 r-1b43r93 r-1cwl3u0\">15h32</div></div></div></div><div class=\"css-175oi2r r-obd0qt r-18u37iz r-1wtj0ep\"><div class=\"css-175oi2r r-eqz5dr r-16y2uox r-1wbh5a2 r-14gqq1x\"><div dir=\"auto\" class=\"css-146c3p1 r-dnmrzs r-1udh08x r-1udbk01 r-3s2u2q r-1iln25a r-vnw8o6 r-1enofrn r-1f529hi\" style=\"color: rgb(128, 128, 128);\">Haies - 3600m - 12 partants</div></div><div class=\"css-175oi2r r-1awozwy r-18u37iz r-1q142lx\"></div></div></div></div></div></button></div></div></div><div class=\"css-175oi2r\"><div style=\"padding-right: 16px; padding-left: 16px;\"><div class=\"course-link\" title=\"PRIX ROGER LEDOYEN\" role=\"link\" aria-label=\"Sélectionnez une course\"><button role=\"button\" tabindex=\"0\" class=\"css-175oi2r r-1loqt21 r-1otgn73 r-14lw9ot r-1q9bdsx r-1dt9a7j r-5oul0u r-13qz1uu\" style=\"opacity: 1;\" type=\"button\"><div class=\"css-175oi2r r-1q9bdsx r-1udh08x\"><div class=\"css-175oi2r r-18u37iz r-xyw6el r-1qhn6m8\" style=\"background-color: rgb(255, 255, 255); height: 80px; user-select: none;\" data-testid=\"CourseCardContainer\"><div class=\"css-175oi2r r-5t7aoe r-eqz5dr r-102gzdx r-1777fci r-1kz6sp r-vb8uwu r-88pszg r-1bymd8e\" data-testid=\"courseNumberCard\"><div dir=\"auto\" class=\"css-146c3p1 r-rdjlrx r-adyw6z r-135wba7 r-q4m81j r-jwli3a\">R1</div><div dir=\"auto\" class=\"css-146c3p1 r-rdjlrx r-adyw6z r-135wba7 r-q4m81j r-jwli3a r-q3we1\">C5</div></div><div class=\"css-175oi2r r-13awgt0 r-eqz5dr\"><div class=\"css-175oi2r r-1habvwh r-13awgt0 r-18u37iz\"><div class=\"css-175oi2r r-eqz5dr r-16y2uox r-1wbh5a2\"><h3 dir=\"auto\" aria-level=\"3\" role=\"heading\" class=\"css-146c3p1 r-dnmrzs r-1udh08x r-1udbk01 r-3s2u2q r-1iln25a r-vnw8o6 r-ubezar r-14yzgew r-1ozqkpa\" style=\"color: rgb(21, 41, 40);\">vincennes</h3><h3 dir=\"auto\" aria-level=\"3\" role=\"heading\" class=\"css-146c3p1 r-dnmrzs r-1udh08x r-1udbk01 r-3s2u2q r-1iln25a r-vnw8o6 r-ubezar r-14yzgew r-1ozqkpa\" style=\"color: rgb(21, 41, 40);\">prix roger ledoyen</h3></div><div class=\"css-175oi2r r-1habvwh r-18u37iz r-1q142lx r-17s6mgv r-13hce6t r-1ttlgze\"><div class=\"css-175oi2r r-obd0qt r-eqz5dr r-1777fci\"><div dir=\"auto\" class=\"css-146c3p1 r-vnw8o6 r-djgu52 r-1b43r93 r-1cwl3u0\">15h50</div></div></div></div><div class=\"css-175oi2r r-obd0qt r-18u37iz r-1wtj0ep\"><div class=\"css-175oi2r r-eqz5dr r-16y2uox r-1wbh5a2 r-14gqq1x\"><div dir=\"auto\" class=\"css-146c3p1 r-dnmrzs r-1udh08x r-1udbk01 r-3s2u2q r-1iln25a r-vnw8o6 r-1enofrn r-1f529hi\" style=\"color: rgb(128, 128, 128);\">Monté - 2850m - 10 partants</div></div><div class=\"css-175oi2r r-1awozwy r-18u37iz r-1q142lx\"><div class=\"css-175oi2r r-13hce6t\"><svg width=\"30\" height=\"20\" fill=\"none\"><rect width=\"30\" height=\"20\" rx=\"4\" fill=\"#2E3AD8\"></rect><path fill-rule=\"evenodd\" clip-rule=\"evenodd\" d=\"M23.008 6.293h2.731l.38-1.383h-4.33l-.83 4.189.8.293s.713-.455 1.346-.455c.556 0 .83.233.83.778 0 .767-.361 1.19-.888 1.503-.673.384-1.59.525-2.458.525l-.214 1.262c1.17 0 2.497-.162 3.51-.707.957-.514 1.64-1.413 1.64-2.775 0-1.363-.84-1.867-1.698-1.867-.712 0-1.18.292-1.18.292l.361-1.655zm-10.868.963c-.447 0-.79-.376-.79-.82 0-.443.343-.819.79-.819s.79.376.79.82c0 .443-.343.819-.79.819zm-.41 5.784h-1.416l.885-5.11h1.416l-.885 5.11zM8.882 9.17a3.032 3.032 0 01-.251.09c.09.031.176.07.256.114.249.133.438.322.567.566.13.245.182.539.158.882-.034.53-.189.959-.464 1.285a2.378 2.378 0 01-1.057.714c-.425.15-.88.222-1.362.219H3.88l1.286-7.423 2.44.005c.32.004.629.041.928.112.3.072.565.184.796.337.232.153.41.355.536.607.13.251.182.56.159.927-.024.401-.14.731-.347.99a1.929 1.929 0 01-.797.575zM7.72 8.645c-.176.053-.36.083-.55.09l-1.044-.003.333-1.917 1.103.005c.21.004.393.036.546.097.156.058.27.153.342.286.071.132.091.314.06.545-.037.245-.127.44-.27.586a1.22 1.22 0 01-.52.311zm-2.136 3.203l.36-2.065 1.408.004c.211.01.38.058.506.143.129.082.217.199.265.352.048.15.056.324.025.525a1.112 1.112 0 01-.25.586 1.256 1.256 0 01-.495.347 1.73 1.73 0 01-.627.112l-1.192-.004zm13.073-4.502h-1.327l-.19.674a1.594 1.594 0 00-.438-.5c-.23-.174-.53-.266-.9-.276a2.059 2.059 0 00-1.054.23 2.346 2.346 0 00-.767.668c-.209.28-.375.593-.499.939a4.655 4.655 0 00-.247 1.036l-.015.108c-.03.311-.024.63.02.954.045.322.136.62.273.893.14.27.333.49.576.662.247.17.558.261.931.272.36.01.68-.067.962-.231.117-.067.226-.144.329-.229l-.03.178c-.045.26-.134.484-.268.672a1.36 1.36 0 01-.51.436c-.205.102-.442.15-.71.144a1.486 1.486 0 01-.683-.18 1.633 1.633 0 01-.535-.462l-.715.852c.154.195.336.357.545.487.21.134.434.235.674.303a3.204 3.204 0 002.114-.149 2.576 2.576 0 001.034-.816c.27-.359.44-.793.509-1.303l.92-5.362zm-1.75 1.695l-.392 2.304c-.098.129-.216.238-.353.327a1.126 1.126 0 01-.694.17c-.206-.008-.367-.064-.484-.17a.933.933 0 01-.252-.416 2.198 2.198 0 01-.082-.523 3.944 3.944 0 01.02-.508l.016-.113c.02-.188.063-.383.128-.585a2.39 2.39 0 01.263-.56c.11-.174.247-.314.411-.42.168-.106.367-.154.597-.144a.834.834 0 01.478.134.798.798 0 01.278.333c.026.055.048.112.067.171z\" fill=\"#fff\"></path></svg></div></div></div></div></div></div></button></div></div></div><div class=\"css-175oi2r\"><div style=\"padding-right: 16px; padding-left: 16px;\"><div class=\"course-link\" title=\"PRIX ARTHUR VEIL-PICARD\" role=\"link\" aria-label=\"Sélectionnez une course\"><button role=\"button\" tabindex=\"0\" class=\"css-175oi2r r-1loqt21 r-1otgn73 r-14lw9ot r-1q9bdsx r-1dt9a7j r-5oul0u r-13qz1uu\" style=\"opacity: 1;\" type=\"button\"><div class=\"css-175oi2r r-1q9bdsx r-1udh08x\"><div class=\"css-175oi2r r-18u37iz r-xyw6el r-1qhn6m8\" style=\"background-color: rgb(255, 255, 255); height: 80px; user-select: none;\" data-testid=\"CourseCardContainer\"><div class=\"css-175oi2r r-5t7aoe r-eqz5dr r-102gzdx r-1777fci r-1kz6sp r-vb8uwu r-88pszg r-1bymd8e\" data-testid=\"courseNumberCard\"><div dir=\"auto\" class=\"css-146c3p1 r-rdjlrx r-adyw6z r-135wba7 r-q4m81j r-jwli3a\">R3</div><div dir=\"auto\" class=\"css-146c3p1 r-rdjlrx r-adyw6z r-135wba7 r-q4m81j r-jwli3a r-q3we1\">C8</div></div><div class=\"css-175oi2r r-13awgt0 r-eqz5dr\"><div class=\"css-175oi2r r-1habvwh r-13awgt0 r-18u37iz\"><div class=\"css-175oi2r r-eqz5dr r-16y2uox r-1wbh5a2\"><h3 dir=\"auto\" aria-level=\"3\" role=\"heading\" class=\"css-146c3p1 r-dnmrzs r-1udh08x r-1udbk01 r-3s2u2q r-1iln25a r-vnw8o6 r-ubezar r-14yzgew r-1ozqkpa\" style=\"color: rgb(21, 41, 40);\">auteuil</h3><h3 dir=\"auto\" aria-level=\"3\" role=\"heading\" class=\"css-146c3p1 r-dnmrzs r-1udh08x r-1udbk01 r-3s2u2q r-1iln25a r-vnw8o6 r-ubezar r-14yzgew r-1ozqkpa\" style=\"color: rgb(21, 41, 40);\">prix a. veil-picard</h3></div><div class=\"css-175oi2r r-1habvwh r-18u37iz r-1q142lx r-17s6mgv r-13hce6t r-1ttlgze\"><div class=\"css-175oi2r r-obd0qt r-eqz5dr r-1777fci\"><div dir=\"auto\" class=\"css-146c3p1 r-vnw8o6 r-djgu52 r-1b43r93 r-1cwl3u0\">16h07</div></div></div></div><div class=\"css-175oi2r r-obd0qt r-18u37iz r-1wtj0ep\"><div class=\"css-175oi2r r-eqz5dr r-16y2uox r-1wbh5a2 r-14gqq1x\"><div dir=\"auto\" class=\"css-146c3p1 r-dnmrzs r-1udh08x r-1udbk01 r-3s2u2q r-1iln25a r-vnw8o6 r-1enofrn r-1f529hi\" style=\"color: rgb(128, 128, 128);\">Haies - 3900m - 13 partants</div></div><div class=\"css-175oi2r r-1awozwy r-18u37iz r-1q142lx\"></div></div></div></div></div></button></div></div></div><div class=\"css-175oi2r\"><div style=\"padding-right: 16px; padding-left: 16px;\"><div class=\"course-link\" title=\"PRIX DU ROUERGUE\" role=\"link\" aria-label=\"Sélectionnez une course\"><button role=\"button\" tabindex=\"0\" class=\"css-175oi2r r-1loqt21 r-1otgn73 r-14lw9ot r-1q9bdsx r-1dt9a7j r-5oul0u r-13qz1uu\" style=\"opacity: 1;\" type=\"button\"><div class=\"css-175oi2r r-1q9bdsx r-1udh08x\"><div class=\"css-175oi2r r-18u37iz r-xyw6el r-1qhn6m8\" style=\"background-color: rgb(255, 255, 255); height: 80px; user-select: none;\" data-testid=\"CourseCardContainer\"><div class=\"css-175oi2r r-5t7aoe r-eqz5dr r-102gzdx r-1777fci r-1kz6sp r-vb8uwu r-88pszg r-1bymd8e\" data-testid=\"courseNumberCard\"><div dir=\"auto\" class=\"css-146c3p1 r-rdjlrx r-adyw6z r-135wba7 r-q4m81j r-jwli3a\">R1</div><div dir=\"auto\" class=\"css-146c3p1 r-rdjlrx r-adyw6z r-135wba7 r-q4m81j r-jwli3a r-q3we1\">C6</div></div><div class=\"css-175oi2r r-13awgt0 r-eqz5dr\"><div class=\"css-175oi2r r-1habvwh r-13awgt0 r-18u37iz\"><div class=\"css-175oi2r r-eqz5dr r-16y2uox r-1wbh5a2\"><h3 dir=\"auto\" aria-level=\"3\" role=\"heading\" class=\"css-146c3p1 r-dnmrzs r-1udh08x r-1udbk01 r-3s2u2q r-1iln25a r-vnw8o6 r-ubezar r-14yzgew r-1ozqkpa\" style=\"color: rgb(21, 41, 40);\">vincennes</h3><h3 dir=\"auto\" aria-level=\"3\" role=\"heading\" class=\"css-146c3p1 r-dnmrzs r-1udh08x r-1udbk01 r-3s2u2q r-1iln25a r-vnw8o6 r-ubezar r-14yzgew r-1ozqkpa\" style=\"color: rgb(21, 41, 40);\">prix du rouergue</h3></div><div class=\"css-175oi2r r-1habvwh r-18u37iz r-1q142lx r-17s6mgv r-13hce6t r-1ttlgze\"><div class=\"css-175oi2r r-obd0qt r-eqz5dr r-1777fci\"><div dir=\"auto\" class=\"css-146c3p1 r-vnw8o6 r-djgu52 r-1b43r93 r-1cwl3u0\">16h25</div></div></div></div><div class=\"css-175oi2r r-obd0qt r-18u37iz r-1wtj0ep\"><div class=\"css-175oi2r r-eqz5dr r-16y2uox r-1wbh5a2 r-14gqq1x\"><div dir=\"auto\" class=\"css-146c3p1 r-dnmrzs r-1udh08x r-1udbk01 r-3s2u2q r-1iln25a r-vnw8o6 r-1enofrn r-1f529hi\" style=\"color: rgb(128, 128, 128);\">Attelé - 2100m - 13 partants</div></div><div class=\"css-175oi2r r-1awozwy r-18u37iz r-1q142lx\"><div class=\"css-175oi2r r-13hce6t\"><div class=\"css-175oi2r\" style=\"aspect-ratio: 1.70588 / 1;\"><svg height=\"20\" viewBox=\"0 0 29 17\" fill=\"none\" title=\"e_pick5\" data-testid=\"E_PICK5_mini\"><path fill=\"#FF0\" fill-rule=\"evenodd\" d=\"M8.565 16.233c-4.296 0-7.792-3.47-7.792-7.733C.773 4.236 4.27.768 8.565.768h11.87c4.297 0 7.792 3.468 7.792 7.732s-3.495 7.733-7.792 7.733H8.565z\" clip-rule=\"evenodd\"></path><path fill=\"#D40227\" fill-rule=\"evenodd\" d=\"M17.491 5.471h-.488l-.52 2.952c1.54 0 2.028-.907 2.028-2.003 0-.896-.457-.949-1.02-.949zm-1.19 3.985l-.403 2.255h-1.487l1.306-7.378h1.827c1.625 0 2.475.516 2.475 2.055 0 2.098-1.38 3.057-3.717 3.068zm9.123-3.869h-2.57l-.34 1.497s.446-.263 1.115-.263c.807 0 1.604.453 1.604 1.686 0 1.223-.648 2.045-1.551 2.509-.956.495-2.21.643-3.314.643l.202-1.139c.818 0 1.689-.126 2.315-.474.5-.284.84-.664.84-1.36 0-.495-.256-.706-.787-.706-.594 0-1.274.411-1.274.411l-.754-.263.786-3.795h4.089l-.361 1.254zM5.507 8.301c.184-1.687 1-2.68 1.967-2.68.634 0 .934.348.934.96 0 1.538-1.484 1.67-2.9 1.72zm2.284-4.35c-1.167 0-2.2.347-2.984 1.108-1.017.976-1.65 2.564-1.65 4.517 0 2.811 1.6 3.473 3.384 3.473 1.684 0 2.868-.628 2.868-.628l.25-1.903s-1.602.695-2.752.695c-.983 0-1.433-.347-1.45-1.44 2.718-.049 5.251-.512 5.251-3.258 0-1.688-1.434-2.564-2.917-2.564z\" clip-rule=\"evenodd\"></path><path fill=\"#fff\" fill-rule=\"evenodd\" d=\"M7.475 5.39c-.553 0-1.073.285-1.463.8-.388.512-.642 1.234-.735 2.087l-.029.264.268-.01c.72-.025 1.474-.07 2.064-.32.704-.297 1.06-.845 1.06-1.63 0-.756-.425-1.19-1.165-1.19zm-.934 7.43c-.978 0-1.702-.206-2.212-.63-.623-.517-.94-1.397-.94-2.614 0-1.829.562-3.374 1.58-4.351.713-.693 1.662-1.044 2.823-1.044 1.293 0 2.684.73 2.684 2.334 0 1.163-.482 1.959-1.475 2.433-1.023.49-2.433.575-3.548.596l-.23.004.003.23c.018 1.167.521 1.666 1.682 1.666.852 0 1.915-.355 2.47-.565l-.183 1.389a6.663 6.663 0 01-2.654.551z\" clip-rule=\"evenodd\"></path><path fill=\"#D40227\" fill-rule=\"evenodd\" d=\"M11.964 13.071a1.169 1.169 0 01-1.172-1.186c0-.644.51-1.174 1.172-1.174.672 0 1.16.541 1.16 1.174 0 .633-.488 1.186-1.16 1.186z\" clip-rule=\"evenodd\"></path><path fill=\"#fff\" fill-rule=\"evenodd\" d=\"M11.963 12.84a.938.938 0 01-.94-.955c0-.53.413-.944.94-.944.52 0 .928.415.928.944 0 .536-.408.956-.928.956z\" clip-rule=\"evenodd\"></path></svg></div></div><div class=\"css-175oi2r r-13hce6t\"><svg width=\"30\" height=\"20\" fill=\"none\"><rect width=\"30\" height=\"20\" rx=\"4\" fill=\"#2E3AD8\"></rect><path fill-rule=\"evenodd\" clip-rule=\"evenodd\" d=\"M23.008 6.293h2.731l.38-1.383h-4.33l-.83 4.189.8.293s.713-.455 1.346-.455c.556 0 .83.233.83.778 0 .767-.361 1.19-.888 1.503-.673.384-1.59.525-2.458.525l-.214 1.262c1.17 0 2.497-.162 3.51-.707.957-.514 1.64-1.413 1.64-2.775 0-1.363-.84-1.867-1.698-1.867-.712 0-1.18.292-1.18.292l.361-1.655zm-10.868.963c-.447 0-.79-.376-.79-.82 0-.443.343-.819.79-.819s.79.376.79.82c0 .443-.343.819-.79.819zm-.41 5.784h-1.416l.885-5.11h1.416l-.885 5.11zM8.882 9.17a3.032 3.032 0 01-.251.09c.09.031.176.07.256.114.249.133.438.322.567.566.13.245.182.539.158.882-.034.53-.189.959-.464 1.285a2.378 2.378 0 01-1.057.714c-.425.15-.88.222-1.362.219H3.88l1.286-7.423 2.44.005c.32.004.629.041.928.112.3.072.565.184.796.337.232.153.41.355.536.607.13.251.182.56.159.927-.024.401-.14.731-.347.99a1.929 1.929 0 01-.797.575zM7.72 8.645c-.176.053-.36.083-.55.09l-1.044-.003.333-1.917 1.103.005c.21.004.393.036.546.097.156.058.27.153.342.286.071.132.091.314.06.545-.037.245-.127.44-.27.586a1.22 1.22 0 01-.52.311zm-2.136 3.203l.36-2.065 1.408.004c.211.01.38.058.506.143.129.082.217.199.265.352.048.15.056.324.025.525a1.112 1.112 0 01-.25.586 1.256 1.256 0 01-.495.347 1.73 1.73 0 01-.627.112l-1.192-.004zm13.073-4.502h-1.327l-.19.674a1.594 1.594 0 00-.438-.5c-.23-.174-.53-.266-.9-.276a2.059 2.059 0 00-1.054.23 2.346 2.346 0 00-.767.668c-.209.28-.375.593-.499.939a4.655 4.655 0 00-.247 1.036l-.015.108c-.03.311-.024.63.02.954.045.322.136.62.273.893.14.27.333.49.576.662.247.17.558.261.931.272.36.01.68-.067.962-.231.117-.067.226-.144.329-.229l-.03.178c-.045.26-.134.484-.268.672a1.36 1.36 0 01-.51.436c-.205.102-.442.15-.71.144a1.486 1.486 0 01-.683-.18 1.633 1.633 0 01-.535-.462l-.715.852c.154.195.336.357.545.487.21.134.434.235.674.303a3.204 3.204 0 002.114-.149 2.576 2.576 0 001.034-.816c.27-.359.44-.793.509-1.303l.92-5.362zm-1.75 1.695l-.392 2.304c-.098.129-.216.238-.353.327a1.126 1.126 0 01-.694.17c-.206-.008-.367-.064-.484-.17a.933.933 0 01-.252-.416 2.198 2.198 0 01-.082-.523 3.944 3.944 0 01.02-.508l.016-.113c.02-.188.063-.383.128-.585a2.39 2.39 0 01.263-.56c.11-.174.247-.314.411-.42.168-.106.367-.154.597-.144a.834.834 0 01.478.134.798.798 0 01.278.333c.026.055.048.112.067.171z\" fill=\"#fff\"></path></svg></div></div></div></div></div></div></button></div></div></div><div class=\"css-175oi2r\"><div style=\"padding-right: 16px; padding-left: 16px;\"><div class=\"course-link\" title=\"BETFRED 2000 GUINEAS STAKES - WORLD POOL\" role=\"link\" aria-label=\"Sélectionnez une course\"><button role=\"button\" tabindex=\"0\" class=\"css-175oi2r r-1loqt21 r-1otgn73 r-14lw9ot r-1q9bdsx r-1dt9a7j r-5oul0u r-13qz1uu\" style=\"opacity: 1;\" type=\"button\"><div class=\"css-175oi2r r-1q9bdsx r-1udh08x\"><div class=\"css-175oi2r r-18u37iz r-xyw6el r-1qhn6m8\" style=\"background-color: rgb(255, 255, 255); height: 80px; user-select: none;\" data-testid=\"CourseCardContainer\"><div class=\"css-175oi2r r-5t7aoe r-eqz5dr r-102gzdx r-1777fci r-1kz6sp r-vb8uwu r-88pszg r-1bymd8e\" data-testid=\"courseNumberCard\"><div dir=\"auto\" class=\"css-146c3p1 r-rdjlrx r-adyw6z r-135wba7 r-q4m81j r-jwli3a\">R6</div><div dir=\"auto\" class=\"css-146c3p1 r-rdjlrx r-adyw6z r-135wba7 r-q4m81j r-jwli3a r-q3we1\">C5</div></div><div class=\"css-175oi2r r-13awgt0 r-eqz5dr\"><div class=\"css-175oi2r r-1habvwh r-13awgt0 r-18u37iz\"><div class=\"css-175oi2r r-eqz5dr r-16y2uox r-1wbh5a2\"><h3 dir=\"auto\" aria-level=\"3\" role=\"heading\" class=\"css-146c3p1 r-dnmrzs r-1udh08x r-1udbk01 r-3s2u2q r-1iln25a r-vnw8o6 r-ubezar r-14yzgew r-1ozqkpa\" style=\"color: rgb(21, 41, 40);\">newmarket</h3><h3 dir=\"auto\" aria-level=\"3\" role=\"heading\" class=\"css-146c3p1 r-dnmrzs r-1udh08x r-1udbk01 r-3s2u2q r-1iln25a r-vnw8o6 r-ubezar r-14yzgew r-1ozqkpa\" style=\"color: rgb(21, 41, 40);\">prix 2000 guineas</h3></div><div class=\"css-175oi2r r-1habvwh r-18u37iz r-1q142lx r-17s6mgv r-13hce6t r-1ttlgze\"><div class=\"css-175oi2r r-obd0qt r-eqz5dr r-1777fci\"><div dir=\"auto\" class=\"css-146c3p1 r-vnw8o6 r-djgu52 r-1b43r93 r-1cwl3u0\">16h35</div></div></div></div><div class=\"css-175oi2r r-obd0qt r-18u37iz r-1wtj0ep\"><div class=\"css-175oi2r r-eqz5dr r-16y2uox r-1wbh5a2 r-14gqq1x\"><div dir=\"auto\" class=\"css-146c3p1 r-dnmrzs r-1udh08x r-1udbk01 r-3s2u2q r-1iln25a r-vnw8o6 r-1enofrn r-1f529hi\" style=\"color: rgb(128, 128, 128);\">Plat - 1600m - 11 partants</div></div><div class=\"css-175oi2r r-1awozwy r-18u37iz r-1q142lx\"><div class=\"css-175oi2r r-13hce6t r-1afez2q r-z2wwpe r-tuq35u\"><div dir=\"auto\" class=\"css-146c3p1 r-11o462g r-rdjlrx r-10x49cs\">GROUPE 1</div></div></div></div></div></div></div></button></div></div></div><div class=\"css-175oi2r\"><div style=\"padding-right: 16px; padding-left: 16px;\"><div class=\"course-link\" title=\"THE SBK IRISH EBF MARES CHAMPION HURDLE (GRADE 1)\" role=\"link\" aria-label=\"Sélectionnez une course\"><button role=\"button\" tabindex=\"0\" class=\"css-175oi2r r-1loqt21 r-1otgn73 r-14lw9ot r-1q9bdsx r-1dt9a7j r-5oul0u r-13qz1uu\" style=\"opacity: 1;\" type=\"button\"><div class=\"css-175oi2r r-1q9bdsx r-1udh08x\"><div class=\"css-175oi2r r-18u37iz r-xyw6el r-1qhn6m8\" style=\"background-color: rgb(255, 255, 255); height: 80px; user-select: none;\" data-testid=\"CourseCardContainer\"><div class=\"css-175oi2r r-5t7aoe r-eqz5dr r-102gzdx r-1777fci r-1kz6sp r-vb8uwu r-88pszg r-1bymd8e\" data-testid=\"courseNumberCard\"><div dir=\"auto\" class=\"css-146c3p1 r-rdjlrx r-adyw6z r-135wba7 r-q4m81j r-jwli3a\">R8</div><div dir=\"auto\" class=\"css-146c3p1 r-rdjlrx r-adyw6z r-135wba7 r-q4m81j r-jwli3a r-q3we1\">C3</div></div><div class=\"css-175oi2r r-13awgt0 r-eqz5dr\"><div class=\"css-175oi2r r-1habvwh r-13awgt0 r-18u37iz\"><div class=\"css-175oi2r r-eqz5dr r-16y2uox r-1wbh5a2\"><h3 dir=\"auto\" aria-level=\"3\" role=\"heading\" class=\"css-146c3p1 r-dnmrzs r-1udh08x r-1udbk01 r-3s2u2q r-1iln25a r-vnw8o6 r-ubezar r-14yzgew r-1ozqkpa\" style=\"color: rgb(21, 41, 40);\">punchestown</h3><h3 dir=\"auto\" aria-level=\"3\" role=\"heading\" class=\"css-146c3p1 r-dnmrzs r-1udh08x r-1udbk01 r-3s2u2q r-1iln25a r-vnw8o6 r-ubezar r-14yzgew r-1ozqkpa\" style=\"color: rgb(21, 41, 40);\">prix mares hurdle</h3></div><div class=\"css-175oi2r r-1habvwh r-18u37iz r-1q142lx r-17s6mgv r-13hce6t r-1ttlgze\"><div class=\"css-175oi2r r-obd0qt r-eqz5dr r-1777fci\"><div dir=\"auto\" class=\"css-146c3p1 r-vnw8o6 r-djgu52 r-1b43r93 r-1cwl3u0\">16h42</div></div></div></div><div class=\"css-175oi2r r-obd0qt r-18u37iz r-1wtj0ep\"><div class=\"css-175oi2r r-eqz5dr r-16y2uox r-1wbh5a2 r-14gqq1x\"><div dir=\"auto\" class=\"css-146c3p1 r-dnmrzs r-1udh08x r-1udbk01 r-3s2u2q r-1iln25a r-vnw8o6 r-1enofrn r-1f529hi\" style=\"color: rgb(128, 128, 128);\">Haies - 4100m - 6 partants</div></div><div class=\"css-175oi2r r-1awozwy r-18u37iz r-1q142lx\"><div class=\"css-175oi2r r-13hce6t r-1afez2q r-z2wwpe r-tuq35u\"><div dir=\"auto\" class=\"css-146c3p1 r-11o462g r-rdjlrx r-10x49cs\">GROUPE 1</div></div><div class=\"css-175oi2r r-13hce6t r-1afez2q r-z2wwpe r-tuq35u\"><div dir=\"auto\" class=\"css-146c3p1 r-11o462g r-rdjlrx r-10x49cs\">Exclu web</div></div></div></div></div></div></div></button></div></div></div><div class=\"css-175oi2r\"><div style=\"padding-right: 16px; padding-left: 16px;\"><div class=\"course-link\" title=\"PRIX DE LA SOCIETE DES COURSES DE CHATEAU-DU-LOIR\" role=\"link\" aria-label=\"Sélectionnez une course\"><button role=\"button\" tabindex=\"0\" class=\"css-175oi2r r-1loqt21 r-1otgn73 r-14lw9ot r-1q9bdsx r-1dt9a7j r-5oul0u r-13qz1uu\" style=\"opacity: 1;\" type=\"button\"><div class=\"css-175oi2r r-1q9bdsx r-1udh08x\"><div class=\"css-175oi2r r-18u37iz r-xyw6el r-1qhn6m8\" style=\"background-color: rgb(255, 255, 255); height: 80px; user-select: none;\" data-testid=\"CourseCardContainer\"><div class=\"css-175oi2r r-5t7aoe r-eqz5dr r-102gzdx r-1777fci r-1kz6sp r-vb8uwu r-88pszg r-1bymd8e\" data-testid=\"courseNumberCard\"><div dir=\"auto\" class=\"css-146c3p1 r-rdjlrx r-adyw6z r-135wba7 r-q4m81j r-jwli3a\">R4</div><div dir=\"auto\" class=\"css-146c3p1 r-rdjlrx r-adyw6z r-135wba7 r-q4m81j r-jwli3a r-q3we1\">C1</div></div><div class=\"css-175oi2r r-13awgt0 r-eqz5dr\"><div class=\"css-175oi2r r-1habvwh r-13awgt0 r-18u37iz\"><div class=\"css-175oi2r r-eqz5dr r-16y2uox r-1wbh5a2\"><h3 dir=\"auto\" aria-level=\"3\" role=\"heading\" class=\"css-146c3p1 r-dnmrzs r-1udh08x r-1udbk01 r-3s2u2q r-1iln25a r-vnw8o6 r-ubezar r-14yzgew r-1ozqkpa\" style=\"color: rgb(21, 41, 40);\">le mans</h3><h3 dir=\"auto\" aria-level=\"3\" role=\"heading\" class=\"css-146c3p1 r-dnmrzs r-1udh08x r-1udbk01 r-3s2u2q r-1iln25a r-vnw8o6 r-ubezar r-14yzgew r-1ozqkpa\" style=\"color: rgb(21, 41, 40);\">prix chateau du loir</h3></div><div class=\"css-175oi2r r-1habvwh r-18u37iz r-1q142lx r-17s6mgv r-13hce6t r-1ttlgze\"><div class=\"css-175oi2r r-obd0qt r-eqz5dr r-1777fci\"><div dir=\"auto\" class=\"css-146c3p1 r-vnw8o6 r-djgu52 r-1b43r93 r-1cwl3u0\">16h50</div></div></div></div><div class=\"css-175oi2r r-obd0qt r-18u37iz r-1wtj0ep\"><div class=\"css-175oi2r r-eqz5dr r-16y2uox r-1wbh5a2 r-14gqq1x\"><div dir=\"auto\" class=\"css-146c3p1 r-dnmrzs r-1udh08x r-1udbk01 r-3s2u2q r-1iln25a r-vnw8o6 r-1enofrn r-1f529hi\" style=\"color: rgb(128, 128, 128);\">Plat - 2300m - 14 partants</div></div><div class=\"css-175oi2r r-1awozwy r-18u37iz r-1q142lx\"></div></div></div></div></div></button></div></div></div><div class=\"css-175oi2r\"><div style=\"padding-right: 16px; padding-left: 16px;\"><div class=\"course-link\" title=\"PRIX DE RENNES\" role=\"link\" aria-label=\"Sélectionnez une course\"><button role=\"button\" tabindex=\"0\" class=\"css-175oi2r r-1loqt21 r-1otgn73 r-14lw9ot r-1q9bdsx r-1dt9a7j r-5oul0u r-13qz1uu\" style=\"opacity: 1;\" type=\"button\"><div class=\"css-175oi2r r-1q9bdsx r-1udh08x\"><div class=\"css-175oi2r r-18u37iz r-xyw6el r-1qhn6m8\" style=\"background-color: rgb(255, 255, 255); height: 80px; user-select: none;\" data-testid=\"CourseCardContainer\"><div class=\"css-175oi2r r-5t7aoe r-eqz5dr r-102gzdx r-1777fci r-1kz6sp r-vb8uwu r-88pszg r-1bymd8e\" data-testid=\"courseNumberCard\"><div dir=\"auto\" class=\"css-146c3p1 r-rdjlrx r-adyw6z r-135wba7 r-q4m81j r-jwli3a\">R1</div><div dir=\"auto\" class=\"css-146c3p1 r-rdjlrx r-adyw6z r-135wba7 r-q4m81j r-jwli3a r-q3we1\">C7</div></div><div class=\"css-175oi2r r-13awgt0 r-eqz5dr\"><div class=\"css-175oi2r r-1habvwh r-13awgt0 r-18u37iz\"><div class=\"css-175oi2r r-eqz5dr r-16y2uox r-1wbh5a2\"><h3 dir=\"auto\" aria-level=\"3\" role=\"heading\" class=\"css-146c3p1 r-dnmrzs r-1udh08x r-1udbk01 r-3s2u2q r-1iln25a r-vnw8o6 r-ubezar r-14yzgew r-1ozqkpa\" style=\"color: rgb(21, 41, 40);\">vincennes</h3><h3 dir=\"auto\" aria-level=\"3\" role=\"heading\" class=\"css-146c3p1 r-dnmrzs r-1udh08x r-1udbk01 r-3s2u2q r-1iln25a r-vnw8o6 r-ubezar r-14yzgew r-1ozqkpa\" style=\"color: rgb(21, 41, 40);\">prix de rennes</h3></div><div class=\"css-175oi2r r-1habvwh r-18u37iz r-1q142lx r-17s6mgv r-13hce6t r-1ttlgze\"><div class=\"css-175oi2r r-obd0qt r-eqz5dr r-1777fci\"><div dir=\"auto\" class=\"css-146c3p1 r-vnw8o6 r-djgu52 r-1b43r93 r-1cwl3u0\">17h08</div></div></div></div><div class=\"css-175oi2r r-obd0qt r-18u37iz r-1wtj0ep\"><div class=\"css-175oi2r r-eqz5dr r-16y2uox r-1wbh5a2 r-14gqq1x\"><div dir=\"auto\" class=\"css-146c3p1 r-dnmrzs r-1udh08x r-1udbk01 r-3s2u2q r-1iln25a r-vnw8o6 r-1enofrn r-1f529hi\" style=\"color: rgb(128, 128, 128);\">Attelé - 2700m - 12 partants</div></div><div class=\"css-175oi2r r-1awozwy r-18u37iz r-1q142lx\"><div class=\"css-175oi2r r-13hce6t\"><svg width=\"30\" height=\"20\" fill=\"none\"><rect width=\"30\" height=\"20\" rx=\"4\" fill=\"#2E3AD8\"></rect><path fill-rule=\"evenodd\" clip-rule=\"evenodd\" d=\"M23.008 6.293h2.731l.38-1.383h-4.33l-.83 4.189.8.293s.713-.455 1.346-.455c.556 0 .83.233.83.778 0 .767-.361 1.19-.888 1.503-.673.384-1.59.525-2.458.525l-.214 1.262c1.17 0 2.497-.162 3.51-.707.957-.514 1.64-1.413 1.64-2.775 0-1.363-.84-1.867-1.698-1.867-.712 0-1.18.292-1.18.292l.361-1.655zm-10.868.963c-.447 0-.79-.376-.79-.82 0-.443.343-.819.79-.819s.79.376.79.82c0 .443-.343.819-.79.819zm-.41 5.784h-1.416l.885-5.11h1.416l-.885 5.11zM8.882 9.17a3.032 3.032 0 01-.251.09c.09.031.176.07.256.114.249.133.438.322.567.566.13.245.182.539.158.882-.034.53-.189.959-.464 1.285a2.378 2.378 0 01-1.057.714c-.425.15-.88.222-1.362.219H3.88l1.286-7.423 2.44.005c.32.004.629.041.928.112.3.072.565.184.796.337.232.153.41.355.536.607.13.251.182.56.159.927-.024.401-.14.731-.347.99a1.929 1.929 0 01-.797.575zM7.72 8.645c-.176.053-.36.083-.55.09l-1.044-.003.333-1.917 1.103.005c.21.004.393.036.546.097.156.058.27.153.342.286.071.132.091.314.06.545-.037.245-.127.44-.27.586a1.22 1.22 0 01-.52.311zm-2.136 3.203l.36-2.065 1.408.004c.211.01.38.058.506.143.129.082.217.199.265.352.048.15.056.324.025.525a1.112 1.112 0 01-.25.586 1.256 1.256 0 01-.495.347 1.73 1.73 0 01-.627.112l-1.192-.004zm13.073-4.502h-1.327l-.19.674a1.594 1.594 0 00-.438-.5c-.23-.174-.53-.266-.9-.276a2.059 2.059 0 00-1.054.23 2.346 2.346 0 00-.767.668c-.209.28-.375.593-.499.939a4.655 4.655 0 00-.247 1.036l-.015.108c-.03.311-.024.63.02.954.045.322.136.62.273.893.14.27.333.49.576.662.247.17.558.261.931.272.36.01.68-.067.962-.231.117-.067.226-.144.329-.229l-.03.178c-.045.26-.134.484-.268.672a1.36 1.36 0 01-.51.436c-.205.102-.442.15-.71.144a1.486 1.486 0 01-.683-.18 1.633 1.633 0 01-.535-.462l-.715.852c.154.195.336.357.545.487.21.134.434.235.674.303a3.204 3.204 0 002.114-.149 2.576 2.576 0 001.034-.816c.27-.359.44-.793.509-1.303l.92-5.362zm-1.75 1.695l-.392 2.304c-.098.129-.216.238-.353.327a1.126 1.126 0 01-.694.17c-.206-.008-.367-.064-.484-.17a.933.933 0 01-.252-.416 2.198 2.198 0 01-.082-.523 3.944 3.944 0 01.02-.508l.016-.113c.02-.188.063-.383.128-.585a2.39 2.39 0 01.263-.56c.11-.174.247-.314.411-.42.168-.106.367-.154.597-.144a.834.834 0 01.478.134.798.798 0 01.278.333c.026.055.048.112.067.171z\" fill=\"#fff\"></path></svg></div></div></div></div></div></div></button></div></div></div><div class=\"css-175oi2r\"><div style=\"padding-right: 16px; padding-left: 16px;\"><div class=\"course-link\" title=\"PRIX DU CANTON DE SABLE-SUR-SARTHE\" role=\"link\" aria-label=\"Sélectionnez une course\"><button role=\"button\" tabindex=\"0\" class=\"css-175oi2r r-1loqt21 r-1otgn73 r-14lw9ot r-1q9bdsx r-1dt9a7j r-5oul0u r-13qz1uu\" style=\"opacity: 1;\" type=\"button\"><div class=\"css-175oi2r r-1q9bdsx r-1udh08x\"><div class=\"css-175oi2r r-18u37iz r-xyw6el r-1qhn6m8\" style=\"background-color: rgb(255, 255, 255); height: 80px; user-select: none;\" data-testid=\"CourseCardContainer\"><div class=\"css-175oi2r r-5t7aoe r-eqz5dr r-102gzdx r-1777fci r-1kz6sp r-vb8uwu r-88pszg r-1bymd8e\" data-testid=\"courseNumberCard\"><div dir=\"auto\" class=\"css-146c3p1 r-rdjlrx r-adyw6z r-135wba7 r-q4m81j r-jwli3a\">R4</div><div dir=\"auto\" class=\"css-146c3p1 r-rdjlrx r-adyw6z r-135wba7 r-q4m81j r-jwli3a r-q3we1\">C2</div></div><div class=\"css-175oi2r r-13awgt0 r-eqz5dr\"><div class=\"css-175oi2r r-1habvwh r-13awgt0 r-18u37iz\"><div class=\"css-175oi2r r-eqz5dr r-16y2uox r-1wbh5a2\"><h3 dir=\"auto\" aria-level=\"3\" role=\"heading\" class=\"css-146c3p1 r-dnmrzs r-1udh08x r-1udbk01 r-3s2u2q r-1iln25a r-vnw8o6 r-ubezar r-14yzgew r-1ozqkpa\" style=\"color: rgb(21, 41, 40);\">le mans</h3><h3 dir=\"auto\" aria-level=\"3\" role=\"heading\" class=\"css-146c3p1 r-dnmrzs r-1udh08x r-1udbk01 r-3s2u2q r-1iln25a r-vnw8o6 r-ubezar r-14yzgew r-1ozqkpa\" style=\"color: rgb(21, 41, 40);\">prix sable/sarthe</h3></div><div class=\"css-175oi2r r-1habvwh r-18u37iz r-1q142lx r-17s6mgv r-13hce6t r-1ttlgze\"><div class=\"css-175oi2r r-obd0qt r-eqz5dr r-1777fci\"><div dir=\"auto\" class=\"css-146c3p1 r-vnw8o6 r-djgu52 r-1b43r93 r-1cwl3u0\">17h25</div></div></div></div><div class=\"css-175oi2r r-obd0qt r-18u37iz r-1wtj0ep\"><div class=\"css-175oi2r r-eqz5dr r-16y2uox r-1wbh5a2 r-14gqq1x\"><div dir=\"auto\" class=\"css-146c3p1 r-dnmrzs r-1udh08x r-1udbk01 r-3s2u2q r-1iln25a r-vnw8o6 r-1enofrn r-1f529hi\" style=\"color: rgb(128, 128, 128);\">Plat - 1600m - 15 partants</div></div><div class=\"css-175oi2r r-1awozwy r-18u37iz r-1q142lx\"></div></div></div></div></div></button></div></div></div><div class=\"css-175oi2r\"><div style=\"padding-right: 16px; padding-left: 16px;\"><div class=\"course-link\" title=\"PRIX DE COMBREE\" role=\"link\" aria-label=\"Sélectionnez une course\"><button role=\"button\" tabindex=\"0\" class=\"css-175oi2r r-1loqt21 r-1otgn73 r-14lw9ot r-1q9bdsx r-1dt9a7j r-5oul0u r-13qz1uu\" style=\"opacity: 1;\" type=\"button\"><div class=\"css-175oi2r r-1q9bdsx r-1udh08x\"><div class=\"css-175oi2r r-18u37iz r-xyw6el r-1qhn6m8\" style=\"background-color: rgb(255, 255, 255); height: 80px; user-select: none;\" data-testid=\"CourseCardContainer\"><div class=\"css-175oi2r r-5t7aoe r-eqz5dr r-102gzdx r-1777fci r-1kz6sp r-vb8uwu r-88pszg r-1bymd8e\" data-testid=\"courseNumberCard\"><div dir=\"auto\" class=\"css-146c3p1 r-rdjlrx r-adyw6z r-135wba7 r-q4m81j r-jwli3a\">R1</div><div dir=\"auto\" class=\"css-146c3p1 r-rdjlrx r-adyw6z r-135wba7 r-q4m81j r-jwli3a r-q3we1\">C8</div></div><div class=\"css-175oi2r r-13awgt0 r-eqz5dr\"><div class=\"css-175oi2r r-1habvwh r-13awgt0 r-18u37iz\"><div class=\"css-175oi2r r-eqz5dr r-16y2uox r-1wbh5a2\"><h3 dir=\"auto\" aria-level=\"3\" role=\"heading\" class=\"css-146c3p1 r-dnmrzs r-1udh08x r-1udbk01 r-3s2u2q r-1iln25a r-vnw8o6 r-ubezar r-14yzgew r-1ozqkpa\" style=\"color: rgb(21, 41, 40);\">vincennes</h3><h3 dir=\"auto\" aria-level=\"3\" role=\"heading\" class=\"css-146c3p1 r-dnmrzs r-1udh08x r-1udbk01 r-3s2u2q r-1iln25a r-vnw8o6 r-ubezar r-14yzgew r-1ozqkpa\" style=\"color: rgb(21, 41, 40);\">prix de combree</h3></div><div class=\"css-175oi2r r-1habvwh r-18u37iz r-1q142lx r-17s6mgv r-13hce6t r-1ttlgze\"><div class=\"css-175oi2r r-obd0qt r-eqz5dr r-1777fci\"><div dir=\"auto\" class=\"css-146c3p1 r-vnw8o6 r-djgu52 r-1b43r93 r-1cwl3u0\">17h43</div></div></div></div><div class=\"css-175oi2r r-obd0qt r-18u37iz r-1wtj0ep\"><div class=\"css-175oi2r r-eqz5dr r-16y2uox r-1wbh5a2 r-14gqq1x\"><div dir=\"auto\" class=\"css-146c3p1 r-dnmrzs r-1udh08x r-1udbk01 r-3s2u2q r-1iln25a r-vnw8o6 r-1enofrn r-1f529hi\" style=\"color: rgb(128, 128, 128);\">Attelé - 2700m - 12 partants</div></div><div class=\"css-175oi2r r-1awozwy r-18u37iz r-1q142lx\"><div class=\"css-175oi2r r-13hce6t\"><div class=\"css-175oi2r\" style=\"aspect-ratio: 1.70588 / 1;\"><svg height=\"20\" viewBox=\"0 0 29 17\" fill=\"none\" title=\"e_pick5\" data-testid=\"E_PICK5_mini\"><path fill=\"#FF0\" fill-rule=\"evenodd\" d=\"M8.565 16.233c-4.296 0-7.792-3.47-7.792-7.733C.773 4.236 4.27.768 8.565.768h11.87c4.297 0 7.792 3.468 7.792 7.732s-3.495 7.733-7.792 7.733H8.565z\" clip-rule=\"evenodd\"></path><path fill=\"#D40227\" fill-rule=\"evenodd\" d=\"M17.491 5.471h-.488l-.52 2.952c1.54 0 2.028-.907 2.028-2.003 0-.896-.457-.949-1.02-.949zm-1.19 3.985l-.403 2.255h-1.487l1.306-7.378h1.827c1.625 0 2.475.516 2.475 2.055 0 2.098-1.38 3.057-3.717 3.068zm9.123-3.869h-2.57l-.34 1.497s.446-.263 1.115-.263c.807 0 1.604.453 1.604 1.686 0 1.223-.648 2.045-1.551 2.509-.956.495-2.21.643-3.314.643l.202-1.139c.818 0 1.689-.126 2.315-.474.5-.284.84-.664.84-1.36 0-.495-.256-.706-.787-.706-.594 0-1.274.411-1.274.411l-.754-.263.786-3.795h4.089l-.361 1.254zM5.507 8.301c.184-1.687 1-2.68 1.967-2.68.634 0 .934.348.934.96 0 1.538-1.484 1.67-2.9 1.72zm2.284-4.35c-1.167 0-2.2.347-2.984 1.108-1.017.976-1.65 2.564-1.65 4.517 0 2.811 1.6 3.473 3.384 3.473 1.684 0 2.868-.628 2.868-.628l.25-1.903s-1.602.695-2.752.695c-.983 0-1.433-.347-1.45-1.44 2.718-.049 5.251-.512 5.251-3.258 0-1.688-1.434-2.564-2.917-2.564z\" clip-rule=\"evenodd\"></path><path fill=\"#fff\" fill-rule=\"evenodd\" d=\"M7.475 5.39c-.553 0-1.073.285-1.463.8-.388.512-.642 1.234-.735 2.087l-.029.264.268-.01c.72-.025 1.474-.07 2.064-.32.704-.297 1.06-.845 1.06-1.63 0-.756-.425-1.19-1.165-1.19zm-.934 7.43c-.978 0-1.702-.206-2.212-.63-.623-.517-.94-1.397-.94-2.614 0-1.829.562-3.374 1.58-4.351.713-.693 1.662-1.044 2.823-1.044 1.293 0 2.684.73 2.684 2.334 0 1.163-.482 1.959-1.475 2.433-1.023.49-2.433.575-3.548.596l-.23.004.003.23c.018 1.167.521 1.666 1.682 1.666.852 0 1.915-.355 2.47-.565l-.183 1.389a6.663 6.663 0 01-2.654.551z\" clip-rule=\"evenodd\"></path><path fill=\"#D40227\" fill-rule=\"evenodd\" d=\"M11.964 13.071a1.169 1.169 0 01-1.172-1.186c0-.644.51-1.174 1.172-1.174.672 0 1.16.541 1.16 1.174 0 .633-.488 1.186-1.16 1.186z\" clip-rule=\"evenodd\"></path><path fill=\"#fff\" fill-rule=\"evenodd\" d=\"M11.963 12.84a.938.938 0 01-.94-.955c0-.53.413-.944.94-.944.52 0 .928.415.928.944 0 .536-.408.956-.928.956z\" clip-rule=\"evenodd\"></path></svg></div></div><div class=\"css-175oi2r r-13hce6t\"><svg width=\"30\" height=\"20\" fill=\"none\"><rect width=\"30\" height=\"20\" rx=\"4\" fill=\"#2E3AD8\"></rect><path fill-rule=\"evenodd\" clip-rule=\"evenodd\" d=\"M23.008 6.293h2.731l.38-1.383h-4.33l-.83 4.189.8.293s.713-.455 1.346-.455c.556 0 .83.233.83.778 0 .767-.361 1.19-.888 1.503-.673.384-1.59.525-2.458.525l-.214 1.262c1.17 0 2.497-.162 3.51-.707.957-.514 1.64-1.413 1.64-2.775 0-1.363-.84-1.867-1.698-1.867-.712 0-1.18.292-1.18.292l.361-1.655zm-10.868.963c-.447 0-.79-.376-.79-.82 0-.443.343-.819.79-.819s.79.376.79.82c0 .443-.343.819-.79.819zm-.41 5.784h-1.416l.885-5.11h1.416l-.885 5.11zM8.882 9.17a3.032 3.032 0 01-.251.09c.09.031.176.07.256.114.249.133.438.322.567.566.13.245.182.539.158.882-.034.53-.189.959-.464 1.285a2.378 2.378 0 01-1.057.714c-.425.15-.88.222-1.362.219H3.88l1.286-7.423 2.44.005c.32.004.629.041.928.112.3.072.565.184.796.337.232.153.41.355.536.607.13.251.182.56.159.927-.024.401-.14.731-.347.99a1.929 1.929 0 01-.797.575zM7.72 8.645c-.176.053-.36.083-.55.09l-1.044-.003.333-1.917 1.103.005c.21.004.393.036.546.097.156.058.27.153.342.286.071.132.091.314.06.545-.037.245-.127.44-.27.586a1.22 1.22 0 01-.52.311zm-2.136 3.203l.36-2.065 1.408.004c.211.01.38.058.506.143.129.082.217.199.265.352.048.15.056.324.025.525a1.112 1.112 0 01-.25.586 1.256 1.256 0 01-.495.347 1.73 1.73 0 01-.627.112l-1.192-.004zm13.073-4.502h-1.327l-.19.674a1.594 1.594 0 00-.438-.5c-.23-.174-.53-.266-.9-.276a2.059 2.059 0 00-1.054.23 2.346 2.346 0 00-.767.668c-.209.28-.375.593-.499.939a4.655 4.655 0 00-.247 1.036l-.015.108c-.03.311-.024.63.02.954.045.322.136.62.273.893.14.27.333.49.576.662.247.17.558.261.931.272.36.01.68-.067.962-.231.117-.067.226-.144.329-.229l-.03.178c-.045.26-.134.484-.268.672a1.36 1.36 0 01-.51.436c-.205.102-.442.15-.71.144a1.486 1.486 0 01-.683-.18 1.633 1.633 0 01-.535-.462l-.715.852c.154.195.336.357.545.487.21.134.434.235.674.303a3.204 3.204 0 002.114-.149 2.576 2.576 0 001.034-.816c.27-.359.44-.793.509-1.303l.92-5.362zm-1.75 1.695l-.392 2.304c-.098.129-.216.238-.353.327a1.126 1.126 0 01-.694.17c-.206-.008-.367-.064-.484-.17a.933.933 0 01-.252-.416 2.198 2.198 0 01-.082-.523 3.944 3.944 0 01.02-.508l.016-.113c.02-.188.063-.383.128-.585a2.39 2.39 0 01.263-.56c.11-.174.247-.314.411-.42.168-.106.367-.154.597-.144a.834.834 0 01.478.134.798.798 0 01.278.333c.026.055.048.112.067.171z\" fill=\"#fff\"></path></svg></div></div></div></div></div></div></button></div></div></div><div class=\"css-175oi2r\"><div style=\"padding-right: 16px; padding-left: 16px;\"><div class=\"course-link\" title=\"THE BALLYMORE CHAMPION FOUR YEAR OLD HURDLE (GRADE 1)\" role=\"link\" aria-label=\"Sélectionnez une course\"><button role=\"button\" tabindex=\"0\" class=\"css-175oi2r r-1loqt21 r-1otgn73 r-14lw9ot r-1q9bdsx r-1dt9a7j r-5oul0u r-13qz1uu\" style=\"opacity: 1;\" type=\"button\"><div class=\"css-175oi2r r-1q9bdsx r-1udh08x\"><div class=\"css-175oi2r r-18u37iz r-xyw6el r-1qhn6m8\" style=\"background-color: rgb(255, 255, 255); height: 80px; user-select: none;\" data-testid=\"CourseCardContainer\"><div class=\"css-175oi2r r-5t7aoe r-eqz5dr r-102gzdx r-1777fci r-1kz6sp r-vb8uwu r-88pszg r-1bymd8e\" data-testid=\"courseNumberCard\"><div dir=\"auto\" class=\"css-146c3p1 r-rdjlrx r-adyw6z r-135wba7 r-q4m81j r-jwli3a\">R8</div><div dir=\"auto\" class=\"css-146c3p1 r-rdjlrx r-adyw6z r-135wba7 r-q4m81j r-jwli3a r-q3we1\">C5</div></div><div class=\"css-175oi2r r-13awgt0 r-eqz5dr\"><div class=\"css-175oi2r r-1habvwh r-13awgt0 r-18u37iz\"><div class=\"css-175oi2r r-eqz5dr r-16y2uox r-1wbh5a2\"><h3 dir=\"auto\" aria-level=\"3\" role=\"heading\" class=\"css-146c3p1 r-dnmrzs r-1udh08x r-1udbk01 r-3s2u2q r-1iln25a r-vnw8o6 r-ubezar r-14yzgew r-1ozqkpa\" style=\"color: rgb(21, 41, 40);\">punchestown</h3><h3 dir=\"auto\" aria-level=\"3\" role=\"heading\" class=\"css-146c3p1 r-dnmrzs r-1udh08x r-1udbk01 r-3s2u2q r-1iln25a r-vnw8o6 r-ubezar r-14yzgew r-1ozqkpa\" style=\"color: rgb(21, 41, 40);\">prix the ballymore</h3></div><div class=\"css-175oi2r r-1habvwh r-18u37iz r-1q142lx r-17s6mgv r-13hce6t r-1ttlgze\"><div class=\"css-175oi2r r-obd0qt r-eqz5dr r-1777fci\"><div dir=\"auto\" class=\"css-146c3p1 r-vnw8o6 r-djgu52 r-1b43r93 r-1cwl3u0\">17h50</div></div></div></div><div class=\"css-175oi2r r-obd0qt r-18u37iz r-1wtj0ep\"><div class=\"css-175oi2r r-eqz5dr r-16y2uox r-1wbh5a2 r-14gqq1x\"><div dir=\"auto\" class=\"css-146c3p1 r-dnmrzs r-1udh08x r-1udbk01 r-3s2u2q r-1iln25a r-vnw8o6 r-1enofrn r-1f529hi\" style=\"color: rgb(128, 128, 128);\">Haies - 3200m - 12 partants</div></div><div class=\"css-175oi2r r-1awozwy r-18u37iz r-1q142lx\"><div class=\"css-175oi2r r-13hce6t r-1afez2q r-z2wwpe r-tuq35u\"><div dir=\"auto\" class=\"css-146c3p1 r-11o462g r-rdjlrx r-10x49cs\">GROUPE 1</div></div><div class=\"css-175oi2r r-13hce6t r-1afez2q r-z2wwpe r-tuq35u\"><div dir=\"auto\" class=\"css-146c3p1 r-11o462g r-rdjlrx r-10x49cs\">Exclu web</div></div></div></div></div></div></div></button></div></div></div><div class=\"css-175oi2r\"><div style=\"padding-right: 16px; padding-left: 16px;\"><div class=\"course-link\" title=\"PRIX DE LA SOCIETE DES COURSES DE MONTMIRAIL\" role=\"link\" aria-label=\"Sélectionnez une course\"><button role=\"button\" tabindex=\"0\" class=\"css-175oi2r r-1loqt21 r-1otgn73 r-14lw9ot r-1q9bdsx r-1dt9a7j r-5oul0u r-13qz1uu\" style=\"opacity: 1;\" type=\"button\"><div class=\"css-175oi2r r-1q9bdsx r-1udh08x\"><div class=\"css-175oi2r r-18u37iz r-xyw6el r-1qhn6m8\" style=\"background-color: rgb(255, 255, 255); height: 80px; user-select: none;\" data-testid=\"CourseCardContainer\"><div class=\"css-175oi2r r-5t7aoe r-eqz5dr r-102gzdx r-1777fci r-1kz6sp r-vb8uwu r-88pszg r-1bymd8e\" data-testid=\"courseNumberCard\"><div dir=\"auto\" class=\"css-146c3p1 r-rdjlrx r-adyw6z r-135wba7 r-q4m81j r-jwli3a\">R4</div><div dir=\"auto\" class=\"css-146c3p1 r-rdjlrx r-adyw6z r-135wba7 r-q4m81j r-jwli3a r-q3we1\">C3</div></div><div class=\"css-175oi2r r-13awgt0 r-eqz5dr\"><div class=\"css-175oi2r r-1habvwh r-13awgt0 r-18u37iz\"><div class=\"css-175oi2r r-eqz5dr r-16y2uox r-1wbh5a2\"><h3 dir=\"auto\" aria-level=\"3\" role=\"heading\" class=\"css-146c3p1 r-dnmrzs r-1udh08x r-1udbk01 r-3s2u2q r-1iln25a r-vnw8o6 r-ubezar r-14yzgew r-1ozqkpa\" style=\"color: rgb(21, 41, 40);\">le mans</h3><h3 dir=\"auto\" aria-level=\"3\" role=\"heading\" class=\"css-146c3p1 r-dnmrzs r-1udh08x r-1udbk01 r-3s2u2q r-1iln25a r-vnw8o6 r-ubezar r-14yzgew r-1ozqkpa\" style=\"color: rgb(21, 41, 40);\">prix montmirail</h3></div><div class=\"css-175oi2r r-1habvwh r-18u37iz r-1q142lx r-17s6mgv r-13hce6t r-1ttlgze\"><div class=\"css-175oi2r r-obd0qt r-eqz5dr r-1777fci\"><div dir=\"auto\" class=\"css-146c3p1 r-vnw8o6 r-djgu52 r-1b43r93 r-1cwl3u0\">18h00</div></div></div></div><div class=\"css-175oi2r r-obd0qt r-18u37iz r-1wtj0ep\"><div class=\"css-175oi2r r-eqz5dr r-16y2uox r-1wbh5a2 r-14gqq1x\"><div dir=\"auto\" class=\"css-146c3p1 r-dnmrzs r-1udh08x r-1udbk01 r-3s2u2q r-1iln25a r-vnw8o6 r-1enofrn r-1f529hi\" style=\"color: rgb(128, 128, 128);\">Plat - 1600m - 15 partants</div></div><div class=\"css-175oi2r r-1awozwy r-18u37iz r-1q142lx\"></div></div></div></div></div></button></div></div></div><div class=\"css-175oi2r\"><div style=\"padding-right: 16px; padding-left: 16px;\"><div class=\"course-link\" title=\"PRIX DE MENTON\" role=\"link\" aria-label=\"Sélectionnez une course\"><button role=\"button\" tabindex=\"0\" class=\"css-175oi2r r-1loqt21 r-1otgn73 r-14lw9ot r-1q9bdsx r-1dt9a7j r-5oul0u r-13qz1uu\" style=\"opacity: 1;\" type=\"button\"><div class=\"css-175oi2r r-1q9bdsx r-1udh08x\"><div class=\"css-175oi2r r-18u37iz r-xyw6el r-1qhn6m8\" style=\"background-color: rgb(255, 255, 255); height: 80px; user-select: none;\" data-testid=\"CourseCardContainer\"><div class=\"css-175oi2r r-5t7aoe r-eqz5dr r-102gzdx r-1777fci r-1kz6sp r-vb8uwu r-88pszg r-1bymd8e\" data-testid=\"courseNumberCard\"><div dir=\"auto\" class=\"css-146c3p1 r-rdjlrx r-adyw6z r-135wba7 r-q4m81j r-jwli3a\">R1</div><div dir=\"auto\" class=\"css-146c3p1 r-rdjlrx r-adyw6z r-135wba7 r-q4m81j r-jwli3a r-q3we1\">C9</div></div><div class=\"css-175oi2r r-13awgt0 r-eqz5dr\"><div class=\"css-175oi2r r-1habvwh r-13awgt0 r-18u37iz\"><div class=\"css-175oi2r r-eqz5dr r-16y2uox r-1wbh5a2\"><h3 dir=\"auto\" aria-level=\"3\" role=\"heading\" class=\"css-146c3p1 r-dnmrzs r-1udh08x r-1udbk01 r-3s2u2q r-1iln25a r-vnw8o6 r-ubezar r-14yzgew r-1ozqkpa\" style=\"color: rgb(21, 41, 40);\">vincennes</h3><h3 dir=\"auto\" aria-level=\"3\" role=\"heading\" class=\"css-146c3p1 r-dnmrzs r-1udh08x r-1udbk01 r-3s2u2q r-1iln25a r-vnw8o6 r-ubezar r-14yzgew r-1ozqkpa\" style=\"color: rgb(21, 41, 40);\">prix de menton</h3></div><div class=\"css-175oi2r r-1habvwh r-18u37iz r-1q142lx r-17s6mgv r-13hce6t r-1ttlgze\"><div class=\"css-175oi2r r-obd0qt r-eqz5dr r-1777fci\"><div dir=\"auto\" class=\"css-146c3p1 r-vnw8o6 r-djgu52 r-1b43r93 r-1cwl3u0\">18h18</div></div></div></div><div class=\"css-175oi2r r-obd0qt r-18u37iz r-1wtj0ep\"><div class=\"css-175oi2r r-eqz5dr r-16y2uox r-1wbh5a2 r-14gqq1x\"><div dir=\"auto\" class=\"css-146c3p1 r-dnmrzs r-1udh08x r-1udbk01 r-3s2u2q r-1iln25a r-vnw8o6 r-1enofrn r-1f529hi\" style=\"color: rgb(128, 128, 128);\">Attelé - 2700m - 10 partants</div></div><div class=\"css-175oi2r r-1awozwy r-18u37iz r-1q142lx\"></div></div></div></div></div></button></div></div></div><div class=\"css-175oi2r\"><div style=\"padding-right: 16px; padding-left: 16px;\"><div class=\"course-link\" title=\"PRIX DE LA FETE DE L'HIPPODROME\" role=\"link\" aria-label=\"Sélectionnez une course\"><button role=\"button\" tabindex=\"0\" class=\"css-175oi2r r-1loqt21 r-1otgn73 r-14lw9ot r-1q9bdsx r-1dt9a7j r-5oul0u r-13qz1uu\" style=\"opacity: 1;\" type=\"button\"><div class=\"css-175oi2r r-1q9bdsx r-1udh08x\"><div class=\"css-175oi2r r-18u37iz r-xyw6el r-1qhn6m8\" style=\"background-color: rgb(255, 255, 255); height: 80px; user-select: none;\" data-testid=\"CourseCardContainer\"><div class=\"css-175oi2r r-5t7aoe r-eqz5dr r-102gzdx r-1777fci r-1kz6sp r-vb8uwu r-88pszg r-1bymd8e\" data-testid=\"courseNumberCard\"><div dir=\"auto\" class=\"css-146c3p1 r-rdjlrx r-adyw6z r-135wba7 r-q4m81j r-jwli3a\">R11</div><div dir=\"auto\" class=\"css-146c3p1 r-rdjlrx r-adyw6z r-135wba7 r-q4m81j r-jwli3a r-q3we1\">C1</div></div><div class=\"css-175oi2r r-13awgt0 r-eqz5dr\"><div class=\"css-175oi2r r-1habvwh r-13awgt0 r-18u37iz\"><div class=\"css-175oi2r r-eqz5dr r-16y2uox r-1wbh5a2\"><h3 dir=\"auto\" aria-level=\"3\" role=\"heading\" class=\"css-146c3p1 r-dnmrzs r-1udh08x r-1udbk01 r-3s2u2q r-1iln25a r-vnw8o6 r-ubezar r-14yzgew r-1ozqkpa\" style=\"color: rgb(21, 41, 40);\">amiens</h3><h3 dir=\"auto\" aria-level=\"3\" role=\"heading\" class=\"css-146c3p1 r-dnmrzs r-1udh08x r-1udbk01 r-3s2u2q r-1iln25a r-vnw8o6 r-ubezar r-14yzgew r-1ozqkpa\" style=\"color: rgb(21, 41, 40);\">prix fete de l'hipp.</h3></div><div class=\"css-175oi2r r-1habvwh r-18u37iz r-1q142lx r-17s6mgv r-13hce6t r-1ttlgze\"><div class=\"css-175oi2r r-obd0qt r-eqz5dr r-1777fci\"><div dir=\"auto\" class=\"css-146c3p1 r-vnw8o6 r-djgu52 r-1b43r93 r-1cwl3u0\">18h30</div></div></div></div><div class=\"css-175oi2r r-obd0qt r-18u37iz r-1wtj0ep\"><div class=\"css-175oi2r r-eqz5dr r-16y2uox r-1wbh5a2 r-14gqq1x\"><div dir=\"auto\" class=\"css-146c3p1 r-dnmrzs r-1udh08x r-1udbk01 r-3s2u2q r-1iln25a r-vnw8o6 r-1enofrn r-1f529hi\" style=\"color: rgb(128, 128, 128);\">Monté - 2400m - 12 partants</div></div><div class=\"css-175oi2r r-1awozwy r-18u37iz r-1q142lx\"><div class=\"css-175oi2r r-13hce6t r-1afez2q r-z2wwpe r-tuq35u\"><div dir=\"auto\" class=\"css-146c3p1 r-11o462g r-rdjlrx r-10x49cs\">Locale</div></div></div></div></div></div></div></button></div></div></div><div class=\"css-175oi2r\"><div style=\"padding-right: 16px; padding-left: 16px;\"><div class=\"course-link\" title=\"PRIX DU CANTON DE SILLE-LE-GUILLAUME\" role=\"link\" aria-label=\"Sélectionnez une course\"><button role=\"button\" tabindex=\"0\" class=\"css-175oi2r r-1loqt21 r-1otgn73 r-14lw9ot r-1q9bdsx r-1dt9a7j r-5oul0u r-13qz1uu\" style=\"opacity: 1;\" type=\"button\"><div class=\"css-175oi2r r-1q9bdsx r-1udh08x\"><div class=\"css-175oi2r r-18u37iz r-xyw6el r-1qhn6m8\" style=\"background-color: rgb(255, 255, 255); height: 80px; user-select: none;\" data-testid=\"CourseCardContainer\"><div class=\"css-175oi2r r-5t7aoe r-eqz5dr r-102gzdx r-1777fci r-1kz6sp r-vb8uwu r-88pszg r-1bymd8e\" data-testid=\"courseNumberCard\"><div dir=\"auto\" class=\"css-146c3p1 r-rdjlrx r-adyw6z r-135wba7 r-q4m81j r-jwli3a\">R4</div><div dir=\"auto\" class=\"css-146c3p1 r-rdjlrx r-adyw6z r-135wba7 r-q4m81j r-jwli3a r-q3we1\">C4</div></div><div class=\"css-175oi2r r-13awgt0 r-eqz5dr\"><div class=\"css-175oi2r r-1habvwh r-13awgt0 r-18u37iz\"><div class=\"css-175oi2r r-eqz5dr r-16y2uox r-1wbh5a2\"><h3 dir=\"auto\" aria-level=\"3\" role=\"heading\" class=\"css-146c3p1 r-dnmrzs r-1udh08x r-1udbk01 r-3s2u2q r-1iln25a r-vnw8o6 r-ubezar r-14yzgew r-1ozqkpa\" style=\"color: rgb(21, 41, 40);\">le mans</h3><h3 dir=\"auto\" aria-level=\"3\" role=\"heading\" class=\"css-146c3p1 r-dnmrzs r-1udh08x r-1udbk01 r-3s2u2q r-1iln25a r-vnw8o6 r-ubezar r-14yzgew r-1ozqkpa\" style=\"color: rgb(21, 41, 40);\">prix sille-le-guil.</h3></div><div class=\"css-175oi2r r-1habvwh r-18u37iz r-1q142lx r-17s6mgv r-13hce6t r-1ttlgze\"><div class=\"css-175oi2r r-obd0qt r-eqz5dr r-1777fci\"><div dir=\"auto\" class=\"css-146c3p1 r-vnw8o6 r-djgu52 r-1b43r93 r-1cwl3u0\">18h33</div></div></div></div><div class=\"css-175oi2r r-obd0qt r-18u37iz r-1wtj0ep\"><div class=\"css-175oi2r r-eqz5dr r-16y2uox r-1wbh5a2 r-14gqq1x\"><div dir=\"auto\" class=\"css-146c3p1 r-dnmrzs r-1udh08x r-1udbk01 r-3s2u2q r-1iln25a r-vnw8o6 r-1enofrn r-1f529hi\" style=\"color: rgb(128, 128, 128);\">Plat - 1400m - 8 partants</div></div><div class=\"css-175oi2r r-1awozwy r-18u37iz r-1q142lx\"></div></div></div></div></div></button></div></div></div><div class=\"css-175oi2r\"><div style=\"padding-right: 16px; padding-left: 16px;\"><div class=\"course-link\" title=\"PARALYMPIATRAVET FINAL                  SUEDE\" role=\"link\" aria-label=\"Sélectionnez une course\"><button role=\"button\" tabindex=\"0\" class=\"css-175oi2r r-1loqt21 r-1otgn73 r-14lw9ot r-1q9bdsx r-1dt9a7j r-5oul0u r-13qz1uu\" style=\"opacity: 1;\" type=\"button\"><div class=\"css-175oi2r r-1q9bdsx r-1udh08x\"><div class=\"css-175oi2r r-18u37iz r-xyw6el r-1qhn6m8\" style=\"background-color: rgb(255, 255, 255); height: 80px; user-select: none;\" data-testid=\"CourseCardContainer\"><div class=\"css-175oi2r r-5t7aoe r-eqz5dr r-102gzdx r-1777fci r-1kz6sp r-vb8uwu r-88pszg r-1bymd8e\" data-testid=\"courseNumberCard\"><div dir=\"auto\" class=\"css-146c3p1 r-rdjlrx r-adyw6z r-135wba7 r-q4m81j r-jwli3a\">R7</div><div dir=\"auto\" class=\"css-146c3p1 r-rdjlrx r-adyw6z r-135wba7 r-q4m81j r-jwli3a r-q3we1\">C11</div></div><div class=\"css-175oi2r r-13awgt0 r-eqz5dr\"><div class=\"css-175oi2r r-1habvwh r-13awgt0 r-18u37iz\"><div class=\"css-175oi2r r-eqz5dr r-16y2uox r-1wbh5a2\"><h3 dir=\"auto\" aria-level=\"3\" role=\"heading\" class=\"css-146c3p1 r-dnmrzs r-1udh08x r-1udbk01 r-3s2u2q r-1iln25a r-vnw8o6 r-ubezar r-14yzgew r-1ozqkpa\" style=\"color: rgb(21, 41, 40);\">aby goteborg</h3><h3 dir=\"auto\" aria-level=\"3\" role=\"heading\" class=\"css-146c3p1 r-dnmrzs r-1udh08x r-1udbk01 r-3s2u2q r-1iln25a r-vnw8o6 r-ubezar r-14yzgew r-1ozqkpa\" style=\"color: rgb(21, 41, 40);\">prix paralymp. final</h3></div><div class=\"css-175oi2r r-1habvwh r-18u37iz r-1q142lx r-17s6mgv r-13hce6t r-1ttlgze\"><div class=\"css-175oi2r r-obd0qt r-eqz5dr r-1777fci\"><div dir=\"auto\" class=\"css-146c3p1 r-vnw8o6 r-djgu52 r-1b43r93 r-1cwl3u0\">18h43</div></div></div></div><div class=\"css-175oi2r r-obd0qt r-18u37iz r-1wtj0ep\"><div class=\"css-175oi2r r-eqz5dr r-16y2uox r-1wbh5a2 r-14gqq1x\"><div dir=\"auto\" class=\"css-146c3p1 r-dnmrzs r-1udh08x r-1udbk01 r-3s2u2q r-1iln25a r-vnw8o6 r-1enofrn r-1f529hi\" style=\"color: rgb(128, 128, 128);\">Attelé - 2140m - 10 partants</div></div><div class=\"css-175oi2r r-1awozwy r-18u37iz r-1q142lx\"></div></div></div></div></div></button></div></div></div><div class=\"css-175oi2r\"><div style=\"padding-right: 16px; padding-left: 16px;\"><div class=\"course-link\" title=\"PRIX TOPKIP                             PAYS BAS\" role=\"link\" aria-label=\"Sélectionnez une course\"><button role=\"button\" tabindex=\"0\" class=\"css-175oi2r r-1loqt21 r-1otgn73 r-14lw9ot r-1q9bdsx r-1dt9a7j r-5oul0u r-13qz1uu\" style=\"opacity: 1;\" type=\"button\"><div class=\"css-175oi2r r-1q9bdsx r-1udh08x\"><div class=\"css-175oi2r r-18u37iz r-xyw6el r-1qhn6m8\" style=\"background-color: rgb(255, 255, 255); height: 80px; user-select: none;\" data-testid=\"CourseCardContainer\"><div class=\"css-175oi2r r-5t7aoe r-eqz5dr r-102gzdx r-1777fci r-1kz6sp r-vb8uwu r-88pszg r-1bymd8e\" data-testid=\"courseNumberCard\"><div dir=\"auto\" class=\"css-146c3p1 r-rdjlrx r-adyw6z r-135wba7 r-q4m81j r-jwli3a\">R5</div><div dir=\"auto\" class=\"css-146c3p1 r-rdjlrx r-adyw6z r-135wba7 r-q4m81j r-jwli3a r-q3we1\">C2</div></div><div class=\"css-175oi2r r-13awgt0 r-eqz5dr\"><div class=\"css-175oi2r r-1habvwh r-13awgt0 r-18u37iz\"><div class=\"css-175oi2r r-eqz5dr r-16y2uox r-1wbh5a2\"><h3 dir=\"auto\" aria-level=\"3\" role=\"heading\" class=\"css-146c3p1 r-dnmrzs r-1udh08x r-1udbk01 r-3s2u2q r-1iln25a r-vnw8o6 r-ubezar r-14yzgew r-1ozqkpa\" style=\"color: rgb(21, 41, 40);\">wolvega</h3><h3 dir=\"auto\" aria-level=\"3\" role=\"heading\" class=\"css-146c3p1 r-dnmrzs r-1udh08x r-1udbk01 r-3s2u2q r-1iln25a r-vnw8o6 r-ubezar r-14yzgew r-1ozqkpa\" style=\"color: rgb(21, 41, 40);\">prix topkip</h3></div><div class=\"css-175oi2r r-1habvwh r-18u37iz r-1q142lx r-17s6mgv r-13hce6t r-1ttlgze\"><div class=\"css-175oi2r r-obd0qt r-eqz5dr r-1777fci\"><div dir=\"auto\" class=\"css-146c3p1 r-vnw8o6 r-djgu52 r-1b43r93 r-1cwl3u0\">18h58</div></div></div></div><div class=\"css-175oi2r r-obd0qt r-18u37iz r-1wtj0ep\"><div class=\"css-175oi2r r-eqz5dr r-16y2uox r-1wbh5a2 r-14gqq1x\"><div dir=\"auto\" class=\"css-146c3p1 r-dnmrzs r-1udh08x r-1udbk01 r-3s2u2q r-1iln25a r-vnw8o6 r-1enofrn r-1f529hi\" style=\"color: rgb(128, 128, 128);\">Attelé - 2600m - 12 partants</div></div><div class=\"css-175oi2r r-1awozwy r-18u37iz r-1q142lx\"></div></div></div></div></div></button></div></div></div><div class=\"css-175oi2r\"><div style=\"padding-right: 16px; padding-left: 16px;\"><div class=\"course-link\" title=\"PRIX JEAN-PIERRE LEMAIRE\" role=\"link\" aria-label=\"Sélectionnez une course\"><button role=\"button\" tabindex=\"0\" class=\"css-175oi2r r-1loqt21 r-1otgn73 r-14lw9ot r-1q9bdsx r-1dt9a7j r-5oul0u r-13qz1uu\" style=\"opacity: 1;\" type=\"button\"><div class=\"css-175oi2r r-1q9bdsx r-1udh08x\"><div class=\"css-175oi2r r-18u37iz r-xyw6el r-1qhn6m8\" style=\"background-color: rgb(255, 255, 255); height: 80px; user-select: none;\" data-testid=\"CourseCardContainer\"><div class=\"css-175oi2r r-5t7aoe r-eqz5dr r-102gzdx r-1777fci r-1kz6sp r-vb8uwu r-88pszg r-1bymd8e\" data-testid=\"courseNumberCard\"><div dir=\"auto\" class=\"css-146c3p1 r-rdjlrx r-adyw6z r-135wba7 r-q4m81j r-jwli3a\">R11</div><div dir=\"auto\" class=\"css-146c3p1 r-rdjlrx r-adyw6z r-135wba7 r-q4m81j r-jwli3a r-q3we1\">C2</div></div><div class=\"css-175oi2r r-13awgt0 r-eqz5dr\"><div class=\"css-175oi2r r-1habvwh r-13awgt0 r-18u37iz\"><div class=\"css-175oi2r r-eqz5dr r-16y2uox r-1wbh5a2\"><h3 dir=\"auto\" aria-level=\"3\" role=\"heading\" class=\"css-146c3p1 r-dnmrzs r-1udh08x r-1udbk01 r-3s2u2q r-1iln25a r-vnw8o6 r-ubezar r-14yzgew r-1ozqkpa\" style=\"color: rgb(21, 41, 40);\">amiens</h3><h3 dir=\"auto\" aria-level=\"3\" role=\"heading\" class=\"css-146c3p1 r-dnmrzs r-1udh08x r-1udbk01 r-3s2u2q r-1iln25a r-vnw8o6 r-ubezar r-14yzgew r-1ozqkpa\" style=\"color: rgb(21, 41, 40);\">prix j-p. lemaire</h3></div><div class=\"css-175oi2r r-1habvwh r-18u37iz r-1q142lx r-17s6mgv r-13hce6t r-1ttlgze\"><div class=\"css-175oi2r r-obd0qt r-eqz5dr r-1777fci\"><div dir=\"auto\" class=\"css-146c3p1 r-vnw8o6 r-djgu52 r-1b43r93 r-1cwl3u0\">19h00</div></div></div></div><div class=\"css-175oi2r r-obd0qt r-18u37iz r-1wtj0ep\"><div class=\"css-175oi2r r-eqz5dr r-16y2uox r-1wbh5a2 r-14gqq1x\"><div dir=\"auto\" class=\"css-146c3p1 r-dnmrzs r-1udh08x r-1udbk01 r-3s2u2q r-1iln25a r-vnw8o6 r-1enofrn r-1f529hi\" style=\"color: rgb(128, 128, 128);\">Attelé - 2400m - 14 partants</div></div><div class=\"css-175oi2r r-1awozwy r-18u37iz r-1q142lx\"><div class=\"css-175oi2r r-13hce6t r-1afez2q r-z2wwpe r-tuq35u\"><div dir=\"auto\" class=\"css-146c3p1 r-11o462g r-rdjlrx r-10x49cs\">Locale</div></div></div></div></div></div></div></button></div></div></div><div class=\"css-175oi2r\"><div style=\"padding-right: 16px; padding-left: 16px;\"><div class=\"course-link\" title=\"PRIX DU CANTON DE LA-SUZE-SUR-SARTHE\" role=\"link\" aria-label=\"Sélectionnez une course\"><button role=\"button\" tabindex=\"0\" class=\"css-175oi2r r-1loqt21 r-1otgn73 r-14lw9ot r-1q9bdsx r-1dt9a7j r-5oul0u r-13qz1uu\" style=\"opacity: 1;\" type=\"button\"><div class=\"css-175oi2r r-1q9bdsx r-1udh08x\"><div class=\"css-175oi2r r-18u37iz r-xyw6el r-1qhn6m8\" style=\"background-color: rgb(255, 255, 255); height: 80px; user-select: none;\" data-testid=\"CourseCardContainer\"><div class=\"css-175oi2r r-5t7aoe r-eqz5dr r-102gzdx r-1777fci r-1kz6sp r-vb8uwu r-88pszg r-1bymd8e\" data-testid=\"courseNumberCard\"><div dir=\"auto\" class=\"css-146c3p1 r-rdjlrx r-adyw6z r-135wba7 r-q4m81j r-jwli3a\">R4</div><div dir=\"auto\" class=\"css-146c3p1 r-rdjlrx r-adyw6z r-135wba7 r-q4m81j r-jwli3a r-q3we1\">C5</div></div><div class=\"css-175oi2r r-13awgt0 r-eqz5dr\"><div class=\"css-175oi2r r-1habvwh r-13awgt0 r-18u37iz\"><div class=\"css-175oi2r r-eqz5dr r-16y2uox r-1wbh5a2\"><h3 dir=\"auto\" aria-level=\"3\" role=\"heading\" class=\"css-146c3p1 r-dnmrzs r-1udh08x r-1udbk01 r-3s2u2q r-1iln25a r-vnw8o6 r-ubezar r-14yzgew r-1ozqkpa\" style=\"color: rgb(21, 41, 40);\">le mans</h3><h3 dir=\"auto\" aria-level=\"3\" role=\"heading\" class=\"css-146c3p1 r-dnmrzs r-1udh08x r-1udbk01 r-3s2u2q r-1iln25a r-vnw8o6 r-ubezar r-14yzgew r-1ozqkpa\" style=\"color: rgb(21, 41, 40);\">prix la-suze/sarthe</h3></div><div class=\"css-175oi2r r-1habvwh r-18u37iz r-1q142lx r-17s6mgv r-13hce6t r-1ttlgze\"><div class=\"css-175oi2r r-obd0qt r-eqz5dr r-1777fci\"><div dir=\"auto\" class=\"css-146c3p1 r-vnw8o6 r-djgu52 r-1b43r93 r-1cwl3u0\">19h15</div></div></div></div><div class=\"css-175oi2r r-obd0qt r-18u37iz r-1wtj0ep\"><div class=\"css-175oi2r r-eqz5dr r-16y2uox r-1wbh5a2 r-14gqq1x\"><div dir=\"auto\" class=\"css-146c3p1 r-dnmrzs r-1udh08x r-1udbk01 r-3s2u2q r-1iln25a r-vnw8o6 r-1enofrn r-1f529hi\" style=\"color: rgb(128, 128, 128);\">Plat - 3200m - 15 partants</div></div><div class=\"css-175oi2r r-1awozwy r-18u37iz r-1q142lx\"></div></div></div></div></div></button></div></div></div><div class=\"css-175oi2r\"><div style=\"padding-right: 16px; padding-left: 16px;\"><div class=\"course-link\" title=\"PRIX HRV DRACHTEN                       PAYS BAS\" role=\"link\" aria-label=\"Sélectionnez une course\"><button role=\"button\" tabindex=\"0\" class=\"css-175oi2r r-1loqt21 r-1otgn73 r-14lw9ot r-1q9bdsx r-1dt9a7j r-5oul0u r-13qz1uu\" style=\"opacity: 1;\" type=\"button\"><div class=\"css-175oi2r r-1q9bdsx r-1udh08x\"><div class=\"css-175oi2r r-18u37iz r-xyw6el r-1qhn6m8\" style=\"background-color: rgb(255, 255, 255); height: 80px; user-select: none;\" data-testid=\"CourseCardContainer\"><div class=\"css-175oi2r r-5t7aoe r-eqz5dr r-102gzdx r-1777fci r-1kz6sp r-vb8uwu r-88pszg r-1bymd8e\" data-testid=\"courseNumberCard\"><div dir=\"auto\" class=\"css-146c3p1 r-rdjlrx r-adyw6z r-135wba7 r-q4m81j r-jwli3a\">R5</div><div dir=\"auto\" class=\"css-146c3p1 r-rdjlrx r-adyw6z r-135wba7 r-q4m81j r-jwli3a r-q3we1\">C3</div></div><div class=\"css-175oi2r r-13awgt0 r-eqz5dr\"><div class=\"css-175oi2r r-1habvwh r-13awgt0 r-18u37iz\"><div class=\"css-175oi2r r-eqz5dr r-16y2uox r-1wbh5a2\"><h3 dir=\"auto\" aria-level=\"3\" role=\"heading\" class=\"css-146c3p1 r-dnmrzs r-1udh08x r-1udbk01 r-3s2u2q r-1iln25a r-vnw8o6 r-ubezar r-14yzgew r-1ozqkpa\" style=\"color: rgb(21, 41, 40);\">wolvega</h3><h3 dir=\"auto\" aria-level=\"3\" role=\"heading\" class=\"css-146c3p1 r-dnmrzs r-1udh08x r-1udbk01 r-3s2u2q r-1iln25a r-vnw8o6 r-ubezar r-14yzgew r-1ozqkpa\" style=\"color: rgb(21, 41, 40);\">prix hrv drachten</h3></div><div class=\"css-175oi2r r-1habvwh r-18u37iz r-1q142lx r-17s6mgv r-13hce6t r-1ttlgze\"><div class=\"css-175oi2r r-obd0qt r-eqz5dr r-1777fci\"><div dir=\"auto\" class=\"css-146c3p1 r-vnw8o6 r-djgu52 r-1b43r93 r-1cwl3u0\">19h30</div></div></div></div><div class=\"css-175oi2r r-obd0qt r-18u37iz r-1wtj0ep\"><div class=\"css-175oi2r r-eqz5dr r-16y2uox r-1wbh5a2 r-14gqq1x\"><div dir=\"auto\" class=\"css-146c3p1 r-dnmrzs r-1udh08x r-1udbk01 r-3s2u2q r-1iln25a r-vnw8o6 r-1enofrn r-1f529hi\" style=\"color: rgb(128, 128, 128);\">Attelé - 2100m - 12 partants</div></div><div class=\"css-175oi2r r-1awozwy r-18u37iz r-1q142lx\"></div></div></div></div></div></button></div></div></div><div class=\"css-175oi2r\"><div style=\"padding-right: 16px; padding-left: 16px;\"><div class=\"course-link\" title=\"PRIX AUCHAN AMIENS\" role=\"link\" aria-label=\"Sélectionnez une course\"><button role=\"button\" tabindex=\"0\" class=\"css-175oi2r r-1loqt21 r-1otgn73 r-14lw9ot r-1q9bdsx r-1dt9a7j r-5oul0u r-13qz1uu\" style=\"opacity: 1;\" type=\"button\"><div class=\"css-175oi2r r-1q9bdsx r-1udh08x\"><div class=\"css-175oi2r r-18u37iz r-xyw6el r-1qhn6m8\" style=\"background-color: rgb(255, 255, 255); height: 80px; user-select: none;\" data-testid=\"CourseCardContainer\"><div class=\"css-175oi2r r-5t7aoe r-eqz5dr r-102gzdx r-1777fci r-1kz6sp r-vb8uwu r-88pszg r-1bymd8e\" data-testid=\"courseNumberCard\"><div dir=\"auto\" class=\"css-146c3p1 r-rdjlrx r-adyw6z r-135wba7 r-q4m81j r-jwli3a\">R11</div><div dir=\"auto\" class=\"css-146c3p1 r-rdjlrx r-adyw6z r-135wba7 r-q4m81j r-jwli3a r-q3we1\">C3</div></div><div class=\"css-175oi2r r-13awgt0 r-eqz5dr\"><div class=\"css-175oi2r r-1habvwh r-13awgt0 r-18u37iz\"><div class=\"css-175oi2r r-eqz5dr r-16y2uox r-1wbh5a2\"><h3 dir=\"auto\" aria-level=\"3\" role=\"heading\" class=\"css-146c3p1 r-dnmrzs r-1udh08x r-1udbk01 r-3s2u2q r-1iln25a r-vnw8o6 r-ubezar r-14yzgew r-1ozqkpa\" style=\"color: rgb(21, 41, 40);\">amiens</h3><h3 dir=\"auto\" aria-level=\"3\" role=\"heading\" class=\"css-146c3p1 r-dnmrzs r-1udh08x r-1udbk01 r-3s2u2q r-1iln25a r-vnw8o6 r-ubezar r-14yzgew r-1ozqkpa\" style=\"color: rgb(21, 41, 40);\">prix auchan amiens</h3></div><div class=\"css-175oi2r r-1habvwh r-18u37iz r-1q142lx r-17s6mgv r-13hce6t r-1ttlgze\"><div class=\"css-175oi2r r-obd0qt r-eqz5dr r-1777fci\"><div dir=\"auto\" class=\"css-146c3p1 r-vnw8o6 r-djgu52 r-1b43r93 r-1cwl3u0\">19h30</div></div></div></div><div class=\"css-175oi2r r-obd0qt r-18u37iz r-1wtj0ep\"><div class=\"css-175oi2r r-eqz5dr r-16y2uox r-1wbh5a2 r-14gqq1x\"><div dir=\"auto\" class=\"css-146c3p1 r-dnmrzs r-1udh08x r-1udbk01 r-3s2u2q r-1iln25a r-vnw8o6 r-1enofrn r-1f529hi\" style=\"color: rgb(128, 128, 128);\">Attelé - 2900m - 12 partants</div></div><div class=\"css-175oi2r r-1awozwy r-18u37iz r-1q142lx\"><div class=\"css-175oi2r r-13hce6t r-1afez2q r-z2wwpe r-tuq35u\"><div dir=\"auto\" class=\"css-146c3p1 r-11o462g r-rdjlrx r-10x49cs\">Locale</div></div></div></div></div></div></div></button></div></div></div><div class=\"css-175oi2r\"><div style=\"padding-right: 16px; padding-left: 16px;\"><div class=\"course-link\" title=\"PRIX DU CANTON DE LA FLECHE\" role=\"link\" aria-label=\"Sélectionnez une course\"><button role=\"button\" tabindex=\"0\" class=\"css-175oi2r r-1loqt21 r-1otgn73 r-14lw9ot r-1q9bdsx r-1dt9a7j r-5oul0u r-13qz1uu\" style=\"opacity: 1;\" type=\"button\"><div class=\"css-175oi2r r-1q9bdsx r-1udh08x\"><div class=\"css-175oi2r r-18u37iz r-xyw6el r-1qhn6m8\" style=\"background-color: rgb(255, 255, 255); height: 80px; user-select: none;\" data-testid=\"CourseCardContainer\"><div class=\"css-175oi2r r-5t7aoe r-eqz5dr r-102gzdx r-1777fci r-1kz6sp r-vb8uwu r-88pszg r-1bymd8e\" data-testid=\"courseNumberCard\"><div dir=\"auto\" class=\"css-146c3p1 r-rdjlrx r-adyw6z r-135wba7 r-q4m81j r-jwli3a\">R4</div><div dir=\"auto\" class=\"css-146c3p1 r-rdjlrx r-adyw6z r-135wba7 r-q4m81j r-jwli3a r-q3we1\">C6</div></div><div class=\"css-175oi2r r-13awgt0 r-eqz5dr\"><div class=\"css-175oi2r r-1habvwh r-13awgt0 r-18u37iz\"><div class=\"css-175oi2r r-eqz5dr r-16y2uox r-1wbh5a2\"><h3 dir=\"auto\" aria-level=\"3\" role=\"heading\" class=\"css-146c3p1 r-dnmrzs r-1udh08x r-1udbk01 r-3s2u2q r-1iln25a r-vnw8o6 r-ubezar r-14yzgew r-1ozqkpa\" style=\"color: rgb(21, 41, 40);\">le mans</h3><h3 dir=\"auto\" aria-level=\"3\" role=\"heading\" class=\"css-146c3p1 r-dnmrzs r-1udh08x r-1udbk01 r-3s2u2q r-1iln25a r-vnw8o6 r-ubezar r-14yzgew r-1ozqkpa\" style=\"color: rgb(21, 41, 40);\">prix la fleche</h3></div><div class=\"css-175oi2r r-1habvwh r-18u37iz r-1q142lx r-17s6mgv r-13hce6t r-1ttlgze\"><div class=\"css-175oi2r r-obd0qt r-eqz5dr r-1777fci\"><div dir=\"auto\" class=\"css-146c3p1 r-vnw8o6 r-djgu52 r-1b43r93 r-1cwl3u0\">19h45</div></div></div></div><div class=\"css-175oi2r r-obd0qt r-18u37iz r-1wtj0ep\"><div class=\"css-175oi2r r-eqz5dr r-16y2uox r-1wbh5a2 r-14gqq1x\"><div dir=\"auto\" class=\"css-146c3p1 r-dnmrzs r-1udh08x r-1udbk01 r-3s2u2q r-1iln25a r-vnw8o6 r-1enofrn r-1f529hi\" style=\"color: rgb(128, 128, 128);\">Plat - 3200m - 10 partants</div></div><div class=\"css-175oi2r r-1awozwy r-18u37iz r-1q142lx\"></div></div></div></div></div></button></div></div></div><div class=\"css-175oi2r\"><div style=\"padding-right: 16px; padding-left: 16px;\"><div class=\"course-link\" title=\"STAYERSKAMPIOENSCHAP VAN FRIESLAND      PAYS BAS\" role=\"link\" aria-label=\"Sélectionnez une course\"><button role=\"button\" tabindex=\"0\" class=\"css-175oi2r r-1loqt21 r-1otgn73 r-14lw9ot r-1q9bdsx r-1dt9a7j r-5oul0u r-13qz1uu\" style=\"opacity: 1;\" type=\"button\"><div class=\"css-175oi2r r-1q9bdsx r-1udh08x\"><div class=\"css-175oi2r r-18u37iz r-xyw6el r-1qhn6m8\" style=\"background-color: rgb(255, 255, 255); height: 80px; user-select: none;\" data-testid=\"CourseCardContainer\"><div class=\"css-175oi2r r-5t7aoe r-eqz5dr r-102gzdx r-1777fci r-1kz6sp r-vb8uwu r-88pszg r-1bymd8e\" data-testid=\"courseNumberCard\"><div dir=\"auto\" class=\"css-146c3p1 r-rdjlrx r-adyw6z r-135wba7 r-q4m81j r-jwli3a\">R5</div><div dir=\"auto\" class=\"css-146c3p1 r-rdjlrx r-adyw6z r-135wba7 r-q4m81j r-jwli3a r-q3we1\">C4</div></div><div class=\"css-175oi2r r-13awgt0 r-eqz5dr\"><div class=\"css-175oi2r r-1habvwh r-13awgt0 r-18u37iz\"><div class=\"css-175oi2r r-eqz5dr r-16y2uox r-1wbh5a2\"><h3 dir=\"auto\" aria-level=\"3\" role=\"heading\" class=\"css-146c3p1 r-dnmrzs r-1udh08x r-1udbk01 r-3s2u2q r-1iln25a r-vnw8o6 r-ubezar r-14yzgew r-1ozqkpa\" style=\"color: rgb(21, 41, 40);\">wolvega</h3><h3 dir=\"auto\" aria-level=\"3\" role=\"heading\" class=\"css-146c3p1 r-dnmrzs r-1udh08x r-1udbk01 r-3s2u2q r-1iln25a r-vnw8o6 r-ubezar r-14yzgew r-1ozqkpa\" style=\"color: rgb(21, 41, 40);\">prix stayerskampioen</h3></div><div class=\"css-175oi2r r-1habvwh r-18u37iz r-1q142lx r-17s6mgv r-13hce6t r-1ttlgze\"><div class=\"css-175oi2r r-obd0qt r-eqz5dr r-1777fci\"><div dir=\"auto\" class=\"css-146c3p1 r-vnw8o6 r-djgu52 r-1b43r93 r-1cwl3u0\">20h00</div></div></div></div><div class=\"css-175oi2r r-obd0qt r-18u37iz r-1wtj0ep\"><div class=\"css-175oi2r r-eqz5dr r-16y2uox r-1wbh5a2 r-14gqq1x\"><div dir=\"auto\" class=\"css-146c3p1 r-dnmrzs r-1udh08x r-1udbk01 r-3s2u2q r-1iln25a r-vnw8o6 r-1enofrn r-1f529hi\" style=\"color: rgb(128, 128, 128);\">Attelé - 3100m - 9 partants</div></div><div class=\"css-175oi2r r-1awozwy r-18u37iz r-1q142lx\"></div></div></div></div></div></button></div></div></div><div class=\"css-175oi2r\"><div style=\"padding-right: 16px; padding-left: 16px;\"><div class=\"course-link\" title=\"PRIX ARDENNES REMORQUE\" role=\"link\" aria-label=\"Sélectionnez une course\"><button role=\"button\" tabindex=\"0\" class=\"css-175oi2r r-1loqt21 r-1otgn73 r-14lw9ot r-1q9bdsx r-1dt9a7j r-5oul0u r-13qz1uu\" style=\"opacity: 1;\" type=\"button\"><div class=\"css-175oi2r r-1q9bdsx r-1udh08x\"><div class=\"css-175oi2r r-18u37iz r-xyw6el r-1qhn6m8\" style=\"background-color: rgb(255, 255, 255); height: 80px; user-select: none;\" data-testid=\"CourseCardContainer\"><div class=\"css-175oi2r r-5t7aoe r-eqz5dr r-102gzdx r-1777fci r-1kz6sp r-vb8uwu r-88pszg r-1bymd8e\" data-testid=\"courseNumberCard\"><div dir=\"auto\" class=\"css-146c3p1 r-rdjlrx r-adyw6z r-135wba7 r-q4m81j r-jwli3a\">R11</div><div dir=\"auto\" class=\"css-146c3p1 r-rdjlrx r-adyw6z r-135wba7 r-q4m81j r-jwli3a r-q3we1\">C4</div></div><div class=\"css-175oi2r r-13awgt0 r-eqz5dr\"><div class=\"css-175oi2r r-1habvwh r-13awgt0 r-18u37iz\"><div class=\"css-175oi2r r-eqz5dr r-16y2uox r-1wbh5a2\"><h3 dir=\"auto\" aria-level=\"3\" role=\"heading\" class=\"css-146c3p1 r-dnmrzs r-1udh08x r-1udbk01 r-3s2u2q r-1iln25a r-vnw8o6 r-ubezar r-14yzgew r-1ozqkpa\" style=\"color: rgb(21, 41, 40);\">amiens</h3><h3 dir=\"auto\" aria-level=\"3\" role=\"heading\" class=\"css-146c3p1 r-dnmrzs r-1udh08x r-1udbk01 r-3s2u2q r-1iln25a r-vnw8o6 r-ubezar r-14yzgew r-1ozqkpa\" style=\"color: rgb(21, 41, 40);\">prix arden. remorque</h3></div><div class=\"css-175oi2r r-1habvwh r-18u37iz r-1q142lx r-17s6mgv r-13hce6t r-1ttlgze\"><div class=\"css-175oi2r r-obd0qt r-eqz5dr r-1777fci\"><div dir=\"auto\" class=\"css-146c3p1 r-vnw8o6 r-djgu52 r-1b43r93 r-1cwl3u0\">20h00</div></div></div></div><div class=\"css-175oi2r r-obd0qt r-18u37iz r-1wtj0ep\"><div class=\"css-175oi2r r-eqz5dr r-16y2uox r-1wbh5a2 r-14gqq1x\"><div dir=\"auto\" class=\"css-146c3p1 r-dnmrzs r-1udh08x r-1udbk01 r-3s2u2q r-1iln25a r-vnw8o6 r-1enofrn r-1f529hi\" style=\"color: rgb(128, 128, 128);\">Attelé - 2400m - 12 partants</div></div><div class=\"css-175oi2r r-1awozwy r-18u37iz r-1q142lx\"><div class=\"css-175oi2r r-13hce6t r-1afez2q r-z2wwpe r-tuq35u\"><div dir=\"auto\" class=\"css-146c3p1 r-11o462g r-rdjlrx r-10x49cs\">Locale</div></div></div></div></div></div></div></button></div></div></div><div class=\"css-175oi2r\"><div style=\"padding-right: 16px; padding-left: 16px;\"><div class=\"course-link\" title=\"PRIX DU CANTON D'ECOMMOY\" role=\"link\" aria-label=\"Sélectionnez une course\"><button role=\"button\" tabindex=\"0\" class=\"css-175oi2r r-1loqt21 r-1otgn73 r-14lw9ot r-1q9bdsx r-1dt9a7j r-5oul0u r-13qz1uu\" style=\"opacity: 1;\" type=\"button\"><div class=\"css-175oi2r r-1q9bdsx r-1udh08x\"><div class=\"css-175oi2r r-18u37iz r-xyw6el r-1qhn6m8\" style=\"background-color: rgb(255, 255, 255); height: 80px; user-select: none;\" data-testid=\"CourseCardContainer\"><div class=\"css-175oi2r r-5t7aoe r-eqz5dr r-102gzdx r-1777fci r-1kz6sp r-vb8uwu r-88pszg r-1bymd8e\" data-testid=\"courseNumberCard\"><div dir=\"auto\" class=\"css-146c3p1 r-rdjlrx r-adyw6z r-135wba7 r-q4m81j r-jwli3a\">R4</div><div dir=\"auto\" class=\"css-146c3p1 r-rdjlrx r-adyw6z r-135wba7 r-q4m81j r-jwli3a r-q3we1\">C7</div></div><div class=\"css-175oi2r r-13awgt0 r-eqz5dr\"><div class=\"css-175oi2r r-1habvwh r-13awgt0 r-18u37iz\"><div class=\"css-175oi2r r-eqz5dr r-16y2uox r-1wbh5a2\"><h3 dir=\"auto\" aria-level=\"3\" role=\"heading\" class=\"css-146c3p1 r-dnmrzs r-1udh08x r-1udbk01 r-3s2u2q r-1iln25a r-vnw8o6 r-ubezar r-14yzgew r-1ozqkpa\" style=\"color: rgb(21, 41, 40);\">le mans</h3><h3 dir=\"auto\" aria-level=\"3\" role=\"heading\" class=\"css-146c3p1 r-dnmrzs r-1udh08x r-1udbk01 r-3s2u2q r-1iln25a r-vnw8o6 r-ubezar r-14yzgew r-1ozqkpa\" style=\"color: rgb(21, 41, 40);\">prix d'ecommoy</h3></div><div class=\"css-175oi2r r-1habvwh r-18u37iz r-1q142lx r-17s6mgv r-13hce6t r-1ttlgze\"><div class=\"css-175oi2r r-obd0qt r-eqz5dr r-1777fci\"><div dir=\"auto\" class=\"css-146c3p1 r-vnw8o6 r-djgu52 r-1b43r93 r-1cwl3u0\">20h15</div></div></div></div><div class=\"css-175oi2r r-obd0qt r-18u37iz r-1wtj0ep\"><div class=\"css-175oi2r r-eqz5dr r-16y2uox r-1wbh5a2 r-14gqq1x\"><div dir=\"auto\" class=\"css-146c3p1 r-dnmrzs r-1udh08x r-1udbk01 r-3s2u2q r-1iln25a r-vnw8o6 r-1enofrn r-1f529hi\" style=\"color: rgb(128, 128, 128);\">Plat - 1100m - 7 partants</div></div><div class=\"css-175oi2r r-1awozwy r-18u37iz r-1q142lx\"></div></div></div></div></div></button></div></div></div><div class=\"css-175oi2r\"><div style=\"padding-right: 16px; padding-left: 16px;\"><div class=\"course-link\" title=\"PRIX PAARDENSPORTCENTRUM ALTENA         PAYS BAS\" role=\"link\" aria-label=\"Sélectionnez une course\"><button role=\"button\" tabindex=\"0\" class=\"css-175oi2r r-1loqt21 r-1otgn73 r-14lw9ot r-1q9bdsx r-1dt9a7j r-5oul0u r-13qz1uu\" style=\"opacity: 1;\" type=\"button\"><div class=\"css-175oi2r r-1q9bdsx r-1udh08x\"><div class=\"css-175oi2r r-18u37iz r-xyw6el r-1qhn6m8\" style=\"background-color: rgb(255, 255, 255); height: 80px; user-select: none;\" data-testid=\"CourseCardContainer\"><div class=\"css-175oi2r r-5t7aoe r-eqz5dr r-102gzdx r-1777fci r-1kz6sp r-vb8uwu r-88pszg r-1bymd8e\" data-testid=\"courseNumberCard\"><div dir=\"auto\" class=\"css-146c3p1 r-rdjlrx r-adyw6z r-135wba7 r-q4m81j r-jwli3a\">R5</div><div dir=\"auto\" class=\"css-146c3p1 r-rdjlrx r-adyw6z r-135wba7 r-q4m81j r-jwli3a r-q3we1\">C5</div></div><div class=\"css-175oi2r r-13awgt0 r-eqz5dr\"><div class=\"css-175oi2r r-1habvwh r-13awgt0 r-18u37iz\"><div class=\"css-175oi2r r-eqz5dr r-16y2uox r-1wbh5a2\"><h3 dir=\"auto\" aria-level=\"3\" role=\"heading\" class=\"css-146c3p1 r-dnmrzs r-1udh08x r-1udbk01 r-3s2u2q r-1iln25a r-vnw8o6 r-ubezar r-14yzgew r-1ozqkpa\" style=\"color: rgb(21, 41, 40);\">wolvega</h3><h3 dir=\"auto\" aria-level=\"3\" role=\"heading\" class=\"css-146c3p1 r-dnmrzs r-1udh08x r-1udbk01 r-3s2u2q r-1iln25a r-vnw8o6 r-ubezar r-14yzgew r-1ozqkpa\" style=\"color: rgb(21, 41, 40);\">prix paardensportc.a</h3></div><div class=\"css-175oi2r r-1habvwh r-18u37iz r-1q142lx r-17s6mgv r-13hce6t r-1ttlgze\"><div class=\"css-175oi2r r-obd0qt r-eqz5dr r-1777fci\"><div dir=\"auto\" class=\"css-146c3p1 r-vnw8o6 r-djgu52 r-1b43r93 r-1cwl3u0\">20h30</div></div></div></div><div class=\"css-175oi2r r-obd0qt r-18u37iz r-1wtj0ep\"><div class=\"css-175oi2r r-eqz5dr r-16y2uox r-1wbh5a2 r-14gqq1x\"><div dir=\"auto\" class=\"css-146c3p1 r-dnmrzs r-1udh08x r-1udbk01 r-3s2u2q r-1iln25a r-vnw8o6 r-1enofrn r-1f529hi\" style=\"color: rgb(128, 128, 128);\">Monté - 2100m - 9 partants</div></div><div class=\"css-175oi2r r-1awozwy r-18u37iz r-1q142lx\"></div></div></div></div></div></button></div></div></div><div class=\"css-175oi2r\"><div style=\"padding-right: 16px; padding-left: 16px;\"><div class=\"course-link\" title=\"GRAND PRIX DE LA VILLE D'AMIENS\" role=\"link\" aria-label=\"Sélectionnez une course\"><button role=\"button\" tabindex=\"0\" class=\"css-175oi2r r-1loqt21 r-1otgn73 r-14lw9ot r-1q9bdsx r-1dt9a7j r-5oul0u r-13qz1uu\" style=\"opacity: 1;\" type=\"button\"><div class=\"css-175oi2r r-1q9bdsx r-1udh08x\"><div class=\"css-175oi2r r-18u37iz r-xyw6el r-1qhn6m8\" style=\"background-color: rgb(255, 255, 255); height: 80px; user-select: none;\" data-testid=\"CourseCardContainer\"><div class=\"css-175oi2r r-5t7aoe r-eqz5dr r-102gzdx r-1777fci r-1kz6sp r-vb8uwu r-88pszg r-1bymd8e\" data-testid=\"courseNumberCard\"><div dir=\"auto\" class=\"css-146c3p1 r-rdjlrx r-adyw6z r-135wba7 r-q4m81j r-jwli3a\">R11</div><div dir=\"auto\" class=\"css-146c3p1 r-rdjlrx r-adyw6z r-135wba7 r-q4m81j r-jwli3a r-q3we1\">C5</div></div><div class=\"css-175oi2r r-13awgt0 r-eqz5dr\"><div class=\"css-175oi2r r-1habvwh r-13awgt0 r-18u37iz\"><div class=\"css-175oi2r r-eqz5dr r-16y2uox r-1wbh5a2\"><h3 dir=\"auto\" aria-level=\"3\" role=\"heading\" class=\"css-146c3p1 r-dnmrzs r-1udh08x r-1udbk01 r-3s2u2q r-1iln25a r-vnw8o6 r-ubezar r-14yzgew r-1ozqkpa\" style=\"color: rgb(21, 41, 40);\">amiens</h3><h3 dir=\"auto\" aria-level=\"3\" role=\"heading\" class=\"css-146c3p1 r-dnmrzs r-1udh08x r-1udbk01 r-3s2u2q r-1iln25a r-vnw8o6 r-ubezar r-14yzgew r-1ozqkpa\" style=\"color: rgb(21, 41, 40);\">prix ville d'amiens</h3></div><div class=\"css-175oi2r r-1habvwh r-18u37iz r-1q142lx r-17s6mgv r-13hce6t r-1ttlgze\"><div class=\"css-175oi2r r-obd0qt r-eqz5dr r-1777fci\"><div dir=\"auto\" class=\"css-146c3p1 r-vnw8o6 r-djgu52 r-1b43r93 r-1cwl3u0\">20h30</div></div></div></div><div class=\"css-175oi2r r-obd0qt r-18u37iz r-1wtj0ep\"><div class=\"css-175oi2r r-eqz5dr r-16y2uox r-1wbh5a2 r-14gqq1x\"><div dir=\"auto\" class=\"css-146c3p1 r-dnmrzs r-1udh08x r-1udbk01 r-3s2u2q r-1iln25a r-vnw8o6 r-1enofrn r-1f529hi\" style=\"color: rgb(128, 128, 128);\">Attelé - 2400m - 13 partants</div></div><div class=\"css-175oi2r r-1awozwy r-18u37iz r-1q142lx\"><div class=\"css-175oi2r r-13hce6t r-1afez2q r-z2wwpe r-tuq35u\"><div dir=\"auto\" class=\"css-146c3p1 r-11o462g r-rdjlrx r-10x49cs\">Régionale</div></div></div></div></div></div></div></button></div></div></div><div class=\"css-175oi2r\"><div style=\"padding-right: 16px; padding-left: 16px;\"><div class=\"course-link\" title=\"PRIX DE PRUILLE-LE-CHETIF\" role=\"link\" aria-label=\"Sélectionnez une course\"><button role=\"button\" tabindex=\"0\" class=\"css-175oi2r r-1loqt21 r-1otgn73 r-14lw9ot r-1q9bdsx r-1dt9a7j r-5oul0u r-13qz1uu\" style=\"opacity: 1;\" type=\"button\"><div class=\"css-175oi2r r-1q9bdsx r-1udh08x\"><div class=\"css-175oi2r r-18u37iz r-xyw6el r-1qhn6m8\" style=\"background-color: rgb(255, 255, 255); height: 80px; user-select: none;\" data-testid=\"CourseCardContainer\"><div class=\"css-175oi2r r-5t7aoe r-eqz5dr r-102gzdx r-1777fci r-1kz6sp r-vb8uwu r-88pszg r-1bymd8e\" data-testid=\"courseNumberCard\"><div dir=\"auto\" class=\"css-146c3p1 r-rdjlrx r-adyw6z r-135wba7 r-q4m81j r-jwli3a\">R4</div><div dir=\"auto\" class=\"css-146c3p1 r-rdjlrx r-adyw6z r-135wba7 r-q4m81j r-jwli3a r-q3we1\">C8</div></div><div class=\"css-175oi2r r-13awgt0 r-eqz5dr\"><div class=\"css-175oi2r r-1habvwh r-13awgt0 r-18u37iz\"><div class=\"css-175oi2r r-eqz5dr r-16y2uox r-1wbh5a2\"><h3 dir=\"auto\" aria-level=\"3\" role=\"heading\" class=\"css-146c3p1 r-dnmrzs r-1udh08x r-1udbk01 r-3s2u2q r-1iln25a r-vnw8o6 r-ubezar r-14yzgew r-1ozqkpa\" style=\"color: rgb(21, 41, 40);\">le mans</h3><h3 dir=\"auto\" aria-level=\"3\" role=\"heading\" class=\"css-146c3p1 r-dnmrzs r-1udh08x r-1udbk01 r-3s2u2q r-1iln25a r-vnw8o6 r-ubezar r-14yzgew r-1ozqkpa\" style=\"color: rgb(21, 41, 40);\">prix pruille chetif</h3></div><div class=\"css-175oi2r r-1habvwh r-18u37iz r-1q142lx r-17s6mgv r-13hce6t r-1ttlgze\"><div class=\"css-175oi2r r-obd0qt r-eqz5dr r-1777fci\"><div dir=\"auto\" class=\"css-146c3p1 r-vnw8o6 r-djgu52 r-1b43r93 r-1cwl3u0\">20h45</div></div></div></div><div class=\"css-175oi2r r-obd0qt r-18u37iz r-1wtj0ep\"><div class=\"css-175oi2r r-eqz5dr r-16y2uox r-1wbh5a2 r-14gqq1x\"><div dir=\"auto\" class=\"css-146c3p1 r-dnmrzs r-1udh08x r-1udbk01 r-3s2u2q r-1iln25a r-vnw8o6 r-1enofrn r-1f529hi\" style=\"color: rgb(128, 128, 128);\">Plat - 2300m - 10 partants</div></div><div class=\"css-175oi2r r-1awozwy r-18u37iz r-1q142lx\"></div></div></div></div></div></button></div></div></div><div class=\"css-175oi2r\"><div style=\"padding-right: 16px; padding-left: 16px;\"><div class=\"course-link\" title=\"PRIX WEERSMA GROEP                      PAYS BAS\" role=\"link\" aria-label=\"Sélectionnez une course\"><button role=\"button\" tabindex=\"0\" class=\"css-175oi2r r-1loqt21 r-1otgn73 r-14lw9ot r-1q9bdsx r-1dt9a7j r-5oul0u r-13qz1uu\" style=\"opacity: 1;\" type=\"button\"><div class=\"css-175oi2r r-1q9bdsx r-1udh08x\"><div class=\"css-175oi2r r-18u37iz r-xyw6el r-1qhn6m8\" style=\"background-color: rgb(255, 255, 255); height: 80px; user-select: none;\" data-testid=\"CourseCardContainer\"><div class=\"css-175oi2r r-5t7aoe r-eqz5dr r-102gzdx r-1777fci r-1kz6sp r-vb8uwu r-88pszg r-1bymd8e\" data-testid=\"courseNumberCard\"><div dir=\"auto\" class=\"css-146c3p1 r-rdjlrx r-adyw6z r-135wba7 r-q4m81j r-jwli3a\">R5</div><div dir=\"auto\" class=\"css-146c3p1 r-rdjlrx r-adyw6z r-135wba7 r-q4m81j r-jwli3a r-q3we1\">C6</div></div><div class=\"css-175oi2r r-13awgt0 r-eqz5dr\"><div class=\"css-175oi2r r-1habvwh r-13awgt0 r-18u37iz\"><div class=\"css-175oi2r r-eqz5dr r-16y2uox r-1wbh5a2\"><h3 dir=\"auto\" aria-level=\"3\" role=\"heading\" class=\"css-146c3p1 r-dnmrzs r-1udh08x r-1udbk01 r-3s2u2q r-1iln25a r-vnw8o6 r-ubezar r-14yzgew r-1ozqkpa\" style=\"color: rgb(21, 41, 40);\">wolvega</h3><h3 dir=\"auto\" aria-level=\"3\" role=\"heading\" class=\"css-146c3p1 r-dnmrzs r-1udh08x r-1udbk01 r-3s2u2q r-1iln25a r-vnw8o6 r-ubezar r-14yzgew r-1ozqkpa\" style=\"color: rgb(21, 41, 40);\">prix weersma groep</h3></div><div class=\"css-175oi2r r-1habvwh r-18u37iz r-1q142lx r-17s6mgv r-13hce6t r-1ttlgze\"><div class=\"css-175oi2r r-obd0qt r-eqz5dr r-1777fci\"><div dir=\"auto\" class=\"css-146c3p1 r-vnw8o6 r-djgu52 r-1b43r93 r-1cwl3u0\">21h00</div></div></div></div><div class=\"css-175oi2r r-obd0qt r-18u37iz r-1wtj0ep\"><div class=\"css-175oi2r r-eqz5dr r-16y2uox r-1wbh5a2 r-14gqq1x\"><div dir=\"auto\" class=\"css-146c3p1 r-dnmrzs r-1udh08x r-1udbk01 r-3s2u2q r-1iln25a r-vnw8o6 r-1enofrn r-1f529hi\" style=\"color: rgb(128, 128, 128);\">Attelé - 2100m - 9 partants</div></div><div class=\"css-175oi2r r-1awozwy r-18u37iz r-1q142lx\"><div class=\"css-175oi2r r-13hce6t r-1afez2q r-z2wwpe r-tuq35u\"><div dir=\"auto\" class=\"css-146c3p1 r-11o462g r-rdjlrx r-10x49cs\">Exclu web</div></div></div></div></div></div></div></button></div></div></div><div class=\"css-175oi2r\"><div style=\"padding-right: 16px; padding-left: 16px;\"><div class=\"course-link\" title=\"PRIX JACQUES VAGNIEZ\" role=\"link\" aria-label=\"Sélectionnez une course\"><button role=\"button\" tabindex=\"0\" class=\"css-175oi2r r-1loqt21 r-1otgn73 r-14lw9ot r-1q9bdsx r-1dt9a7j r-5oul0u r-13qz1uu\" style=\"opacity: 1;\" type=\"button\"><div class=\"css-175oi2r r-1q9bdsx r-1udh08x\"><div class=\"css-175oi2r r-18u37iz r-xyw6el r-1qhn6m8\" style=\"background-color: rgb(255, 255, 255); height: 80px; user-select: none;\" data-testid=\"CourseCardContainer\"><div class=\"css-175oi2r r-5t7aoe r-eqz5dr r-102gzdx r-1777fci r-1kz6sp r-vb8uwu r-88pszg r-1bymd8e\" data-testid=\"courseNumberCard\"><div dir=\"auto\" class=\"css-146c3p1 r-rdjlrx r-adyw6z r-135wba7 r-q4m81j r-jwli3a\">R11</div><div dir=\"auto\" class=\"css-146c3p1 r-rdjlrx r-adyw6z r-135wba7 r-q4m81j r-jwli3a r-q3we1\">C6</div></div><div class=\"css-175oi2r r-13awgt0 r-eqz5dr\"><div class=\"css-175oi2r r-1habvwh r-13awgt0 r-18u37iz\"><div class=\"css-175oi2r r-eqz5dr r-16y2uox r-1wbh5a2\"><h3 dir=\"auto\" aria-level=\"3\" role=\"heading\" class=\"css-146c3p1 r-dnmrzs r-1udh08x r-1udbk01 r-3s2u2q r-1iln25a r-vnw8o6 r-ubezar r-14yzgew r-1ozqkpa\" style=\"color: rgb(21, 41, 40);\">amiens</h3><h3 dir=\"auto\" aria-level=\"3\" role=\"heading\" class=\"css-146c3p1 r-dnmrzs r-1udh08x r-1udbk01 r-3s2u2q r-1iln25a r-vnw8o6 r-ubezar r-14yzgew r-1ozqkpa\" style=\"color: rgb(21, 41, 40);\">prix jacques vagniez</h3></div><div class=\"css-175oi2r r-1habvwh r-18u37iz r-1q142lx r-17s6mgv r-13hce6t r-1ttlgze\"><div class=\"css-175oi2r r-obd0qt r-eqz5dr r-1777fci\"><div dir=\"auto\" class=\"css-146c3p1 r-vnw8o6 r-djgu52 r-1b43r93 r-1cwl3u0\">21h00</div></div></div></div><div class=\"css-175oi2r r-obd0qt r-18u37iz r-1wtj0ep\"><div class=\"css-175oi2r r-eqz5dr r-16y2uox r-1wbh5a2 r-14gqq1x\"><div dir=\"auto\" class=\"css-146c3p1 r-dnmrzs r-1udh08x r-1udbk01 r-3s2u2q r-1iln25a r-vnw8o6 r-1enofrn r-1f529hi\" style=\"color: rgb(128, 128, 128);\">Attelé - 2400m - 13 partants</div></div><div class=\"css-175oi2r r-1awozwy r-18u37iz r-1q142lx\"><div class=\"css-175oi2r r-13hce6t r-1afez2q r-z2wwpe r-tuq35u\"><div dir=\"auto\" class=\"css-146c3p1 r-11o462g r-rdjlrx r-10x49cs\">Locale</div></div></div></div></div></div></div></button></div></div></div><div class=\"css-175oi2r\"><div style=\"padding-right: 16px; padding-left: 16px;\"><div class=\"course-link\" title=\"CHURCHILL DOWNS S.\" role=\"link\" aria-label=\"Sélectionnez une course\"><button role=\"button\" tabindex=\"0\" class=\"css-175oi2r r-1loqt21 r-1otgn73 r-14lw9ot r-1q9bdsx r-1dt9a7j r-5oul0u r-13qz1uu\" style=\"opacity: 1;\" type=\"button\"><div class=\"css-175oi2r r-1q9bdsx r-1udh08x\"><div class=\"css-175oi2r r-18u37iz r-xyw6el r-1qhn6m8\" style=\"background-color: rgb(255, 255, 255); height: 80px; user-select: none;\" data-testid=\"CourseCardContainer\"><div class=\"css-175oi2r r-5t7aoe r-eqz5dr r-102gzdx r-1777fci r-1kz6sp r-vb8uwu r-88pszg r-1bymd8e\" data-testid=\"courseNumberCard\"><div dir=\"auto\" class=\"css-146c3p1 r-rdjlrx r-adyw6z r-135wba7 r-q4m81j r-jwli3a\">R9</div><div dir=\"auto\" class=\"css-146c3p1 r-rdjlrx r-adyw6z r-135wba7 r-q4m81j r-jwli3a r-q3we1\">C8</div></div><div class=\"css-175oi2r r-13awgt0 r-eqz5dr\"><div class=\"css-175oi2r r-1habvwh r-13awgt0 r-18u37iz\"><div class=\"css-175oi2r r-eqz5dr r-16y2uox r-1wbh5a2\"><h3 dir=\"auto\" aria-level=\"3\" role=\"heading\" class=\"css-146c3p1 r-dnmrzs r-1udh08x r-1udbk01 r-3s2u2q r-1iln25a r-vnw8o6 r-ubezar r-14yzgew r-1ozqkpa\" style=\"color: rgb(21, 41, 40);\">churchill downs</h3><h3 dir=\"auto\" aria-level=\"3\" role=\"heading\" class=\"css-146c3p1 r-dnmrzs r-1udh08x r-1udbk01 r-3s2u2q r-1iln25a r-vnw8o6 r-ubezar r-14yzgew r-1ozqkpa\" style=\"color: rgb(21, 41, 40);\">prix churchill downs</h3></div><div class=\"css-175oi2r r-1habvwh r-18u37iz r-1q142lx r-17s6mgv r-13hce6t r-1ttlgze\"><div class=\"css-175oi2r r-obd0qt r-eqz5dr r-1777fci\"><div dir=\"auto\" class=\"css-146c3p1 r-vnw8o6 r-djgu52 r-1b43r93 r-1cwl3u0\">21h23</div></div></div></div><div class=\"css-175oi2r r-obd0qt r-18u37iz r-1wtj0ep\"><div class=\"css-175oi2r r-eqz5dr r-16y2uox r-1wbh5a2 r-14gqq1x\"><div dir=\"auto\" class=\"css-146c3p1 r-dnmrzs r-1udh08x r-1udbk01 r-3s2u2q r-1iln25a r-vnw8o6 r-1enofrn r-1f529hi\" style=\"color: rgb(128, 128, 128);\">Plat - 1400m - 11 partants</div></div><div class=\"css-175oi2r r-1awozwy r-18u37iz r-1q142lx\"><div class=\"css-175oi2r r-13hce6t r-1afez2q r-z2wwpe r-tuq35u\"><div dir=\"auto\" class=\"css-146c3p1 r-11o462g r-rdjlrx r-10x49cs\">GROUPE 1</div></div><div class=\"css-175oi2r r-13hce6t r-1afez2q r-z2wwpe r-tuq35u\"><div dir=\"auto\" class=\"css-146c3p1 r-11o462g r-rdjlrx r-10x49cs\">Exclu web</div></div></div></div></div></div></div></button></div></div></div><div class=\"css-175oi2r\"><div style=\"padding-right: 16px; padding-left: 16px;\"><div class=\"course-link\" title=\"PRIX YOUR GIFT CARDS                    PAYS BAS\" role=\"link\" aria-label=\"Sélectionnez une course\"><button role=\"button\" tabindex=\"0\" class=\"css-175oi2r r-1loqt21 r-1otgn73 r-14lw9ot r-1q9bdsx r-1dt9a7j r-5oul0u r-13qz1uu\" style=\"opacity: 1;\" type=\"button\"><div class=\"css-175oi2r r-1q9bdsx r-1udh08x\"><div class=\"css-175oi2r r-18u37iz r-xyw6el r-1qhn6m8\" style=\"background-color: rgb(255, 255, 255); height: 80px; user-select: none;\" data-testid=\"CourseCardContainer\"><div class=\"css-175oi2r r-5t7aoe r-eqz5dr r-102gzdx r-1777fci r-1kz6sp r-vb8uwu r-88pszg r-1bymd8e\" data-testid=\"courseNumberCard\"><div dir=\"auto\" class=\"css-146c3p1 r-rdjlrx r-adyw6z r-135wba7 r-q4m81j r-jwli3a\">R5</div><div dir=\"auto\" class=\"css-146c3p1 r-rdjlrx r-adyw6z r-135wba7 r-q4m81j r-jwli3a r-q3we1\">C7</div></div><div class=\"css-175oi2r r-13awgt0 r-eqz5dr\"><div class=\"css-175oi2r r-1habvwh r-13awgt0 r-18u37iz\"><div class=\"css-175oi2r r-eqz5dr r-16y2uox r-1wbh5a2\"><h3 dir=\"auto\" aria-level=\"3\" role=\"heading\" class=\"css-146c3p1 r-dnmrzs r-1udh08x r-1udbk01 r-3s2u2q r-1iln25a r-vnw8o6 r-ubezar r-14yzgew r-1ozqkpa\" style=\"color: rgb(21, 41, 40);\">wolvega</h3><h3 dir=\"auto\" aria-level=\"3\" role=\"heading\" class=\"css-146c3p1 r-dnmrzs r-1udh08x r-1udbk01 r-3s2u2q r-1iln25a r-vnw8o6 r-ubezar r-14yzgew r-1ozqkpa\" style=\"color: rgb(21, 41, 40);\">prix your gift cards</h3></div><div class=\"css-175oi2r r-1habvwh r-18u37iz r-1q142lx r-17s6mgv r-13hce6t r-1ttlgze\"><div class=\"css-175oi2r r-obd0qt r-eqz5dr r-1777fci\"><div dir=\"auto\" class=\"css-146c3p1 r-vnw8o6 r-djgu52 r-1b43r93 r-1cwl3u0\">21h25</div></div></div></div><div class=\"css-175oi2r r-obd0qt r-18u37iz r-1wtj0ep\"><div class=\"css-175oi2r r-eqz5dr r-16y2uox r-1wbh5a2 r-14gqq1x\"><div dir=\"auto\" class=\"css-146c3p1 r-dnmrzs r-1udh08x r-1udbk01 r-3s2u2q r-1iln25a r-vnw8o6 r-1enofrn r-1f529hi\" style=\"color: rgb(128, 128, 128);\">Attelé - 1609m - 7 partants</div></div><div class=\"css-175oi2r r-1awozwy r-18u37iz r-1q142lx\"><div class=\"css-175oi2r r-13hce6t r-1afez2q r-z2wwpe r-tuq35u\"><div dir=\"auto\" class=\"css-146c3p1 r-11o462g r-rdjlrx r-10x49cs\">Exclu web</div></div></div></div></div></div></div></button></div></div></div><div class=\"css-175oi2r\"><div style=\"padding-right: 16px; padding-left: 16px;\"><div class=\"course-link\" title=\"PRIX ICI PICARDIE (GR A)\" role=\"link\" aria-label=\"Sélectionnez une course\"><button role=\"button\" tabindex=\"0\" class=\"css-175oi2r r-1loqt21 r-1otgn73 r-14lw9ot r-1q9bdsx r-1dt9a7j r-5oul0u r-13qz1uu\" style=\"opacity: 1;\" type=\"button\"><div class=\"css-175oi2r r-1q9bdsx r-1udh08x\"><div class=\"css-175oi2r r-18u37iz r-xyw6el r-1qhn6m8\" style=\"background-color: rgb(255, 255, 255); height: 80px; user-select: none;\" data-testid=\"CourseCardContainer\"><div class=\"css-175oi2r r-5t7aoe r-eqz5dr r-102gzdx r-1777fci r-1kz6sp r-vb8uwu r-88pszg r-1bymd8e\" data-testid=\"courseNumberCard\"><div dir=\"auto\" class=\"css-146c3p1 r-rdjlrx r-adyw6z r-135wba7 r-q4m81j r-jwli3a\">R11</div><div dir=\"auto\" class=\"css-146c3p1 r-rdjlrx r-adyw6z r-135wba7 r-q4m81j r-jwli3a r-q3we1\">C7</div></div><div class=\"css-175oi2r r-13awgt0 r-eqz5dr\"><div class=\"css-175oi2r r-1habvwh r-13awgt0 r-18u37iz\"><div class=\"css-175oi2r r-eqz5dr r-16y2uox r-1wbh5a2\"><h3 dir=\"auto\" aria-level=\"3\" role=\"heading\" class=\"css-146c3p1 r-dnmrzs r-1udh08x r-1udbk01 r-3s2u2q r-1iln25a r-vnw8o6 r-ubezar r-14yzgew r-1ozqkpa\" style=\"color: rgb(21, 41, 40);\">amiens</h3><h3 dir=\"auto\" aria-level=\"3\" role=\"heading\" class=\"css-146c3p1 r-dnmrzs r-1udh08x r-1udbk01 r-3s2u2q r-1iln25a r-vnw8o6 r-ubezar r-14yzgew r-1ozqkpa\" style=\"color: rgb(21, 41, 40);\">prix ici picard-gr.a</h3></div><div class=\"css-175oi2r r-1habvwh r-18u37iz r-1q142lx r-17s6mgv r-13hce6t r-1ttlgze\"><div class=\"css-175oi2r r-obd0qt r-eqz5dr r-1777fci\"><div dir=\"auto\" class=\"css-146c3p1 r-vnw8o6 r-djgu52 r-1b43r93 r-1cwl3u0\">21h30</div></div></div></div><div class=\"css-175oi2r r-obd0qt r-18u37iz r-1wtj0ep\"><div class=\"css-175oi2r r-eqz5dr r-16y2uox r-1wbh5a2 r-14gqq1x\"><div dir=\"auto\" class=\"css-146c3p1 r-dnmrzs r-1udh08x r-1udbk01 r-3s2u2q r-1iln25a r-vnw8o6 r-1enofrn r-1f529hi\" style=\"color: rgb(128, 128, 128);\">Attelé - 2400m - 12 partants</div></div><div class=\"css-175oi2r r-1awozwy r-18u37iz r-1q142lx\"><div class=\"css-175oi2r r-13hce6t r-1afez2q r-z2wwpe r-tuq35u\"><div dir=\"auto\" class=\"css-146c3p1 r-11o462g r-rdjlrx r-10x49cs\">Locale</div></div></div></div></div></div></div></button></div></div></div><div class=\"css-175oi2r\"><div style=\"padding-right: 16px; padding-left: 16px;\"><div class=\"course-link\" title=\"PRIX DU PMU (GR B)\" role=\"link\" aria-label=\"Sélectionnez une course\"><button role=\"button\" tabindex=\"0\" class=\"css-175oi2r r-1loqt21 r-1otgn73 r-14lw9ot r-1q9bdsx r-1dt9a7j r-5oul0u r-13qz1uu\" style=\"opacity: 1;\" type=\"button\"><div class=\"css-175oi2r r-1q9bdsx r-1udh08x\"><div class=\"css-175oi2r r-18u37iz r-xyw6el r-1qhn6m8\" style=\"background-color: rgb(255, 255, 255); height: 80px; user-select: none;\" data-testid=\"CourseCardContainer\"><div class=\"css-175oi2r r-5t7aoe r-eqz5dr r-102gzdx r-1777fci r-1kz6sp r-vb8uwu r-88pszg r-1bymd8e\" data-testid=\"courseNumberCard\"><div dir=\"auto\" class=\"css-146c3p1 r-rdjlrx r-adyw6z r-135wba7 r-q4m81j r-jwli3a\">R11</div><div dir=\"auto\" class=\"css-146c3p1 r-rdjlrx r-adyw6z r-135wba7 r-q4m81j r-jwli3a r-q3we1\">C8</div></div><div class=\"css-175oi2r r-13awgt0 r-eqz5dr\"><div class=\"css-175oi2r r-1habvwh r-13awgt0 r-18u37iz\"><div class=\"css-175oi2r r-eqz5dr r-16y2uox r-1wbh5a2\"><h3 dir=\"auto\" aria-level=\"3\" role=\"heading\" class=\"css-146c3p1 r-dnmrzs r-1udh08x r-1udbk01 r-3s2u2q r-1iln25a r-vnw8o6 r-ubezar r-14yzgew r-1ozqkpa\" style=\"color: rgb(21, 41, 40);\">amiens</h3><h3 dir=\"auto\" aria-level=\"3\" role=\"heading\" class=\"css-146c3p1 r-dnmrzs r-1udh08x r-1udbk01 r-3s2u2q r-1iln25a r-vnw8o6 r-ubezar r-14yzgew r-1ozqkpa\" style=\"color: rgb(21, 41, 40);\">prix du pmu-gr.b</h3></div><div class=\"css-175oi2r r-1habvwh r-18u37iz r-1q142lx r-17s6mgv r-13hce6t r-1ttlgze\"><div class=\"css-175oi2r r-obd0qt r-eqz5dr r-1777fci\"><div dir=\"auto\" class=\"css-146c3p1 r-vnw8o6 r-djgu52 r-1b43r93 r-1cwl3u0\">22h00</div></div></div></div><div class=\"css-175oi2r r-obd0qt r-18u37iz r-1wtj0ep\"><div class=\"css-175oi2r r-eqz5dr r-16y2uox r-1wbh5a2 r-14gqq1x\"><div dir=\"auto\" class=\"css-146c3p1 r-dnmrzs r-1udh08x r-1udbk01 r-3s2u2q r-1iln25a r-vnw8o6 r-1enofrn r-1f529hi\" style=\"color: rgb(128, 128, 128);\">Attelé - 2400m - 12 partants</div></div><div class=\"css-175oi2r r-1awozwy r-18u37iz r-1q142lx\"><div class=\"css-175oi2r r-13hce6t r-1afez2q r-z2wwpe r-tuq35u\"><div dir=\"auto\" class=\"css-146c3p1 r-11o462g r-rdjlrx r-10x49cs\">Locale</div></div></div></div></div></div></div></button></div></div></div><div class=\"css-175oi2r\"><div style=\"padding-right: 16px; padding-left: 16px;\"><div class=\"course-link\" title=\"AMERICAN TURF S.\" role=\"link\" aria-label=\"Sélectionnez une course\"><button role=\"button\" tabindex=\"0\" class=\"css-175oi2r r-1loqt21 r-1otgn73 r-14lw9ot r-1q9bdsx r-1dt9a7j r-5oul0u r-13qz1uu\" style=\"opacity: 1;\" type=\"button\"><div class=\"css-175oi2r r-1q9bdsx r-1udh08x\"><div class=\"css-175oi2r r-18u37iz r-xyw6el r-1qhn6m8\" style=\"background-color: rgb(255, 255, 255); height: 80px; user-select: none;\" data-testid=\"CourseCardContainer\"><div class=\"css-175oi2r r-5t7aoe r-eqz5dr r-102gzdx r-1777fci r-1kz6sp r-vb8uwu r-88pszg r-1bymd8e\" data-testid=\"courseNumberCard\"><div dir=\"auto\" class=\"css-146c3p1 r-rdjlrx r-adyw6z r-135wba7 r-q4m81j r-jwli3a\">R9</div><div dir=\"auto\" class=\"css-146c3p1 r-rdjlrx r-adyw6z r-135wba7 r-q4m81j r-jwli3a r-q3we1\">C9</div></div><div class=\"css-175oi2r r-13awgt0 r-eqz5dr\"><div class=\"css-175oi2r r-1habvwh r-13awgt0 r-18u37iz\"><div class=\"css-175oi2r r-eqz5dr r-16y2uox r-1wbh5a2\"><h3 dir=\"auto\" aria-level=\"3\" role=\"heading\" class=\"css-146c3p1 r-dnmrzs r-1udh08x r-1udbk01 r-3s2u2q r-1iln25a r-vnw8o6 r-ubezar r-14yzgew r-1ozqkpa\" style=\"color: rgb(21, 41, 40);\">churchill downs</h3><h3 dir=\"auto\" aria-level=\"3\" role=\"heading\" class=\"css-146c3p1 r-dnmrzs r-1udh08x r-1udbk01 r-3s2u2q r-1iln25a r-vnw8o6 r-ubezar r-14yzgew r-1ozqkpa\" style=\"color: rgb(21, 41, 40);\">prix american turf s</h3></div><div class=\"css-175oi2r r-1habvwh r-18u37iz r-1q142lx r-17s6mgv r-13hce6t r-1ttlgze\"><div class=\"css-175oi2r r-obd0qt r-eqz5dr r-1777fci\"><div dir=\"auto\" class=\"css-146c3p1 r-vnw8o6 r-djgu52 r-1b43r93 r-1cwl3u0\">22h06</div></div></div></div><div class=\"css-175oi2r r-obd0qt r-18u37iz r-1wtj0ep\"><div class=\"css-175oi2r r-eqz5dr r-16y2uox r-1wbh5a2 r-14gqq1x\"><div dir=\"auto\" class=\"css-146c3p1 r-dnmrzs r-1udh08x r-1udbk01 r-3s2u2q r-1iln25a r-vnw8o6 r-1enofrn r-1f529hi\" style=\"color: rgb(128, 128, 128);\">Plat - 1700m - 18 partants</div></div><div class=\"css-175oi2r r-1awozwy r-18u37iz r-1q142lx\"><div class=\"css-175oi2r r-13hce6t r-1afez2q r-z2wwpe r-tuq35u\"><div dir=\"auto\" class=\"css-146c3p1 r-11o462g r-rdjlrx r-10x49cs\">GROUPE 1</div></div><div class=\"css-175oi2r r-13hce6t r-1afez2q r-z2wwpe r-tuq35u\"><div dir=\"auto\" class=\"css-146c3p1 r-11o462g r-rdjlrx r-10x49cs\">Exclu web</div></div></div></div></div></div></div></button></div></div></div><div class=\"css-175oi2r\"><div style=\"padding-right: 16px; padding-left: 16px;\"><div class=\"course-link\" title=\"HIJA ATREVIDA (2017)\" role=\"link\" aria-label=\"Sélectionnez une course\"><button role=\"button\" tabindex=\"0\" class=\"css-175oi2r r-1loqt21 r-1otgn73 r-14lw9ot r-1q9bdsx r-1dt9a7j r-5oul0u r-13qz1uu\" style=\"opacity: 1;\" type=\"button\"><div class=\"css-175oi2r r-1q9bdsx r-1udh08x\"><div class=\"css-175oi2r r-18u37iz r-xyw6el r-1qhn6m8\" style=\"background-color: rgb(255, 255, 255); height: 80px; user-select: none;\" data-testid=\"CourseCardContainer\"><div class=\"css-175oi2r r-5t7aoe r-eqz5dr r-102gzdx r-1777fci r-1kz6sp r-vb8uwu r-88pszg r-1bymd8e\" data-testid=\"courseNumberCard\"><div dir=\"auto\" class=\"css-146c3p1 r-rdjlrx r-adyw6z r-135wba7 r-q4m81j r-jwli3a\">R10</div><div dir=\"auto\" class=\"css-146c3p1 r-rdjlrx r-adyw6z r-135wba7 r-q4m81j r-jwli3a r-q3we1\">C4</div></div><div class=\"css-175oi2r r-13awgt0 r-eqz5dr\"><div class=\"css-175oi2r r-1habvwh r-13awgt0 r-18u37iz\"><div class=\"css-175oi2r r-eqz5dr r-16y2uox r-1wbh5a2\"><h3 dir=\"auto\" aria-level=\"3\" role=\"heading\" class=\"css-146c3p1 r-dnmrzs r-1udh08x r-1udbk01 r-3s2u2q r-1iln25a r-vnw8o6 r-ubezar r-14yzgew r-1ozqkpa\" style=\"color: rgb(21, 41, 40);\">maronas</h3><h3 dir=\"auto\" aria-level=\"3\" role=\"heading\" class=\"css-146c3p1 r-dnmrzs r-1udh08x r-1udbk01 r-3s2u2q r-1iln25a r-vnw8o6 r-ubezar r-14yzgew r-1ozqkpa\" style=\"color: rgb(21, 41, 40);\">prix hija atrevida</h3></div><div class=\"css-175oi2r r-1habvwh r-18u37iz r-1q142lx r-17s6mgv r-13hce6t r-1ttlgze\"><div class=\"css-175oi2r r-obd0qt r-eqz5dr r-1777fci\"><div dir=\"auto\" class=\"css-146c3p1 r-vnw8o6 r-djgu52 r-1b43r93 r-1cwl3u0\">22h15</div></div></div></div><div class=\"css-175oi2r r-obd0qt r-18u37iz r-1wtj0ep\"><div class=\"css-175oi2r r-eqz5dr r-16y2uox r-1wbh5a2 r-14gqq1x\"><div dir=\"auto\" class=\"css-146c3p1 r-dnmrzs r-1udh08x r-1udbk01 r-3s2u2q r-1iln25a r-vnw8o6 r-1enofrn r-1f529hi\" style=\"color: rgb(128, 128, 128);\">Plat - 1500m - 9 partants</div></div><div class=\"css-175oi2r r-1awozwy r-18u37iz r-1q142lx\"><div class=\"css-175oi2r r-13hce6t r-1afez2q r-z2wwpe r-tuq35u\"><div dir=\"auto\" class=\"css-146c3p1 r-11o462g r-rdjlrx r-10x49cs\">Exclu web</div></div></div></div></div></div></div></button></div></div></div><div class=\"css-175oi2r\"><div style=\"padding-right: 16px; padding-left: 16px;\"><div class=\"course-link\" title=\"IN SALUTE (2018)\" role=\"link\" aria-label=\"Sélectionnez une course\"><button role=\"button\" tabindex=\"0\" class=\"css-175oi2r r-1loqt21 r-1otgn73 r-14lw9ot r-1q9bdsx r-1dt9a7j r-5oul0u r-13qz1uu\" style=\"opacity: 1;\" type=\"button\"><div class=\"css-175oi2r r-1q9bdsx r-1udh08x\"><div class=\"css-175oi2r r-18u37iz r-xyw6el r-1qhn6m8\" style=\"background-color: rgb(255, 255, 255); height: 80px; user-select: none;\" data-testid=\"CourseCardContainer\"><div class=\"css-175oi2r r-5t7aoe r-eqz5dr r-102gzdx r-1777fci r-1kz6sp r-vb8uwu r-88pszg r-1bymd8e\" data-testid=\"courseNumberCard\"><div dir=\"auto\" class=\"css-146c3p1 r-rdjlrx r-adyw6z r-135wba7 r-q4m81j r-jwli3a\">R10</div><div dir=\"auto\" class=\"css-146c3p1 r-rdjlrx r-adyw6z r-135wba7 r-q4m81j r-jwli3a r-q3we1\">C5</div></div><div class=\"css-175oi2r r-13awgt0 r-eqz5dr\"><div class=\"css-175oi2r r-1habvwh r-13awgt0 r-18u37iz\"><div class=\"css-175oi2r r-eqz5dr r-16y2uox r-1wbh5a2\"><h3 dir=\"auto\" aria-level=\"3\" role=\"heading\" class=\"css-146c3p1 r-dnmrzs r-1udh08x r-1udbk01 r-3s2u2q r-1iln25a r-vnw8o6 r-ubezar r-14yzgew r-1ozqkpa\" style=\"color: rgb(21, 41, 40);\">maronas</h3><h3 dir=\"auto\" aria-level=\"3\" role=\"heading\" class=\"css-146c3p1 r-dnmrzs r-1udh08x r-1udbk01 r-3s2u2q r-1iln25a r-vnw8o6 r-ubezar r-14yzgew r-1ozqkpa\" style=\"color: rgb(21, 41, 40);\">prix in salute</h3></div><div class=\"css-175oi2r r-1habvwh r-18u37iz r-1q142lx r-17s6mgv r-13hce6t r-1ttlgze\"><div class=\"css-175oi2r r-obd0qt r-eqz5dr r-1777fci\"><div dir=\"auto\" class=\"css-146c3p1 r-vnw8o6 r-djgu52 r-1b43r93 r-1cwl3u0\">22h45</div></div></div></div><div class=\"css-175oi2r r-obd0qt r-18u37iz r-1wtj0ep\"><div class=\"css-175oi2r r-eqz5dr r-16y2uox r-1wbh5a2 r-14gqq1x\"><div dir=\"auto\" class=\"css-146c3p1 r-dnmrzs r-1udh08x r-1udbk01 r-3s2u2q r-1iln25a r-vnw8o6 r-1enofrn r-1f529hi\" style=\"color: rgb(128, 128, 128);\">Plat - 1500m - 8 partants</div></div><div class=\"css-175oi2r r-1awozwy r-18u37iz r-1q142lx\"><div class=\"css-175oi2r r-13hce6t r-1afez2q r-z2wwpe r-tuq35u\"><div dir=\"auto\" class=\"css-146c3p1 r-11o462g r-rdjlrx r-10x49cs\">Exclu web</div></div></div></div></div></div></div></button></div></div></div><div class=\"css-175oi2r\"><div style=\"padding-right: 16px; padding-left: 16px;\"><div class=\"course-link\" title=\"DERBY CITY DISTAFF S.\" role=\"link\" aria-label=\"Sélectionnez une course\"><button role=\"button\" tabindex=\"0\" class=\"css-175oi2r r-1loqt21 r-1otgn73 r-14lw9ot r-1q9bdsx r-1dt9a7j r-5oul0u r-13qz1uu\" style=\"opacity: 1;\" type=\"button\"><div class=\"css-175oi2r r-1q9bdsx r-1udh08x\"><div class=\"css-175oi2r r-18u37iz r-xyw6el r-1qhn6m8\" style=\"background-color: rgb(255, 255, 255); height: 80px; user-select: none;\" data-testid=\"CourseCardContainer\"><div class=\"css-175oi2r r-5t7aoe r-eqz5dr r-102gzdx r-1777fci r-1kz6sp r-vb8uwu r-88pszg r-1bymd8e\" data-testid=\"courseNumberCard\"><div dir=\"auto\" class=\"css-146c3p1 r-rdjlrx r-adyw6z r-135wba7 r-q4m81j r-jwli3a\">R9</div><div dir=\"auto\" class=\"css-146c3p1 r-rdjlrx r-adyw6z r-135wba7 r-q4m81j r-jwli3a r-q3we1\">C10</div></div><div class=\"css-175oi2r r-13awgt0 r-eqz5dr\"><div class=\"css-175oi2r r-1habvwh r-13awgt0 r-18u37iz\"><div class=\"css-175oi2r r-eqz5dr r-16y2uox r-1wbh5a2\"><h3 dir=\"auto\" aria-level=\"3\" role=\"heading\" class=\"css-146c3p1 r-dnmrzs r-1udh08x r-1udbk01 r-3s2u2q r-1iln25a r-vnw8o6 r-ubezar r-14yzgew r-1ozqkpa\" style=\"color: rgb(21, 41, 40);\">churchill downs</h3><h3 dir=\"auto\" aria-level=\"3\" role=\"heading\" class=\"css-146c3p1 r-dnmrzs r-1udh08x r-1udbk01 r-3s2u2q r-1iln25a r-vnw8o6 r-ubezar r-14yzgew r-1ozqkpa\" style=\"color: rgb(21, 41, 40);\">prix derby city s.</h3></div><div class=\"css-175oi2r r-1habvwh r-18u37iz r-1q142lx r-17s6mgv r-13hce6t r-1ttlgze\"><div class=\"css-175oi2r r-obd0qt r-eqz5dr r-1777fci\"><div dir=\"auto\" class=\"css-146c3p1 r-vnw8o6 r-djgu52 r-1b43r93 r-1cwl3u0\">22h50</div></div></div></div><div class=\"css-175oi2r r-obd0qt r-18u37iz r-1wtj0ep\"><div class=\"css-175oi2r r-eqz5dr r-16y2uox r-1wbh5a2 r-14gqq1x\"><div dir=\"auto\" class=\"css-146c3p1 r-dnmrzs r-1udh08x r-1udbk01 r-3s2u2q r-1iln25a r-vnw8o6 r-1enofrn r-1f529hi\" style=\"color: rgb(128, 128, 128);\">Plat - 1400m - 16 partants</div></div><div class=\"css-175oi2r r-1awozwy r-18u37iz r-1q142lx\"><div class=\"css-175oi2r r-13hce6t r-1afez2q r-z2wwpe r-tuq35u\"><div dir=\"auto\" class=\"css-146c3p1 r-11o462g r-rdjlrx r-10x49cs\">GROUPE 1</div></div><div class=\"css-175oi2r r-13hce6t r-1afez2q r-z2wwpe r-tuq35u\"><div dir=\"auto\" class=\"css-146c3p1 r-11o462g r-rdjlrx r-10x49cs\">Exclu web</div></div></div></div></div></div></div></button></div></div></div><div class=\"css-175oi2r\"><div style=\"padding-right: 16px; padding-left: 16px;\"><div class=\"course-link\" title=\"FLASH MAS QUERIDA (2019)\" role=\"link\" aria-label=\"Sélectionnez une course\"><button role=\"button\" tabindex=\"0\" class=\"css-175oi2r r-1loqt21 r-1otgn73 r-14lw9ot r-1q9bdsx r-1dt9a7j r-5oul0u r-13qz1uu\" style=\"opacity: 1;\" type=\"button\"><div class=\"css-175oi2r r-1q9bdsx r-1udh08x\"><div class=\"css-175oi2r r-18u37iz r-xyw6el r-1qhn6m8\" style=\"background-color: rgb(255, 255, 255); height: 80px; user-select: none;\" data-testid=\"CourseCardContainer\"><div class=\"css-175oi2r r-5t7aoe r-eqz5dr r-102gzdx r-1777fci r-1kz6sp r-vb8uwu r-88pszg r-1bymd8e\" data-testid=\"courseNumberCard\"><div dir=\"auto\" class=\"css-146c3p1 r-rdjlrx r-adyw6z r-135wba7 r-q4m81j r-jwli3a\">R10</div><div dir=\"auto\" class=\"css-146c3p1 r-rdjlrx r-adyw6z r-135wba7 r-q4m81j r-jwli3a r-q3we1\">C6</div></div><div class=\"css-175oi2r r-13awgt0 r-eqz5dr\"><div class=\"css-175oi2r r-1habvwh r-13awgt0 r-18u37iz\"><div class=\"css-175oi2r r-eqz5dr r-16y2uox r-1wbh5a2\"><h3 dir=\"auto\" aria-level=\"3\" role=\"heading\" class=\"css-146c3p1 r-dnmrzs r-1udh08x r-1udbk01 r-3s2u2q r-1iln25a r-vnw8o6 r-ubezar r-14yzgew r-1ozqkpa\" style=\"color: rgb(21, 41, 40);\">maronas</h3><h3 dir=\"auto\" aria-level=\"3\" role=\"heading\" class=\"css-146c3p1 r-dnmrzs r-1udh08x r-1udbk01 r-3s2u2q r-1iln25a r-vnw8o6 r-ubezar r-14yzgew r-1ozqkpa\" style=\"color: rgb(21, 41, 40);\">prix querida</h3></div><div class=\"css-175oi2r r-1habvwh r-18u37iz r-1q142lx r-17s6mgv r-13hce6t r-1ttlgze\"><div class=\"css-175oi2r r-obd0qt r-eqz5dr r-1777fci\"><div dir=\"auto\" class=\"css-146c3p1 r-vnw8o6 r-djgu52 r-1b43r93 r-1cwl3u0\">23h15</div></div></div></div><div class=\"css-175oi2r r-obd0qt r-18u37iz r-1wtj0ep\"><div class=\"css-175oi2r r-eqz5dr r-16y2uox r-1wbh5a2 r-14gqq1x\"><div dir=\"auto\" class=\"css-146c3p1 r-dnmrzs r-1udh08x r-1udbk01 r-3s2u2q r-1iln25a r-vnw8o6 r-1enofrn r-1f529hi\" style=\"color: rgb(128, 128, 128);\">Plat - 1100m - 9 partants</div></div><div class=\"css-175oi2r r-1awozwy r-18u37iz r-1q142lx\"><div class=\"css-175oi2r r-13hce6t r-1afez2q r-z2wwpe r-tuq35u\"><div dir=\"auto\" class=\"css-146c3p1 r-11o462g r-rdjlrx r-10x49cs\">Exclu web</div></div></div></div></div></div></div></button></div></div></div><div class=\"css-175oi2r\"><div style=\"padding-right: 16px; padding-left: 16px;\"><div class=\"course-link\" title=\"TURF CLASSIC S.\" role=\"link\" aria-label=\"Sélectionnez une course\"><button role=\"button\" tabindex=\"0\" class=\"css-175oi2r r-1loqt21 r-1otgn73 r-14lw9ot r-1q9bdsx r-1dt9a7j r-5oul0u r-13qz1uu\" style=\"opacity: 1;\" type=\"button\"><div class=\"css-175oi2r r-1q9bdsx r-1udh08x\"><div class=\"css-175oi2r r-18u37iz r-xyw6el r-1qhn6m8\" style=\"background-color: rgb(255, 255, 255); height: 80px; user-select: none;\" data-testid=\"CourseCardContainer\"><div class=\"css-175oi2r r-5t7aoe r-eqz5dr r-102gzdx r-1777fci r-1kz6sp r-vb8uwu r-88pszg r-1bymd8e\" data-testid=\"courseNumberCard\"><div dir=\"auto\" class=\"css-146c3p1 r-rdjlrx r-adyw6z r-135wba7 r-q4m81j r-jwli3a\">R9</div><div dir=\"auto\" class=\"css-146c3p1 r-rdjlrx r-adyw6z r-135wba7 r-q4m81j r-jwli3a r-q3we1\">C11</div></div><div class=\"css-175oi2r r-13awgt0 r-eqz5dr\"><div class=\"css-175oi2r r-1habvwh r-13awgt0 r-18u37iz\"><div class=\"css-175oi2r r-eqz5dr r-16y2uox r-1wbh5a2\"><h3 dir=\"auto\" aria-level=\"3\" role=\"heading\" class=\"css-146c3p1 r-dnmrzs r-1udh08x r-1udbk01 r-3s2u2q r-1iln25a r-vnw8o6 r-ubezar r-14yzgew r-1ozqkpa\" style=\"color: rgb(21, 41, 40);\">churchill downs</h3><h3 dir=\"auto\" aria-level=\"3\" role=\"heading\" class=\"css-146c3p1 r-dnmrzs r-1udh08x r-1udbk01 r-3s2u2q r-1iln25a r-vnw8o6 r-ubezar r-14yzgew r-1ozqkpa\" style=\"color: rgb(21, 41, 40);\">prix turf classic</h3></div><div class=\"css-175oi2r r-1habvwh r-18u37iz r-1q142lx r-17s6mgv r-13hce6t r-1ttlgze\"><div class=\"css-175oi2r r-obd0qt r-eqz5dr r-1777fci\"><div dir=\"auto\" class=\"css-146c3p1 r-vnw8o6 r-djgu52 r-1b43r93 r-1cwl3u0\">23h39</div></div></div></div><div class=\"css-175oi2r r-obd0qt r-18u37iz r-1wtj0ep\"><div class=\"css-175oi2r r-eqz5dr r-16y2uox r-1wbh5a2 r-14gqq1x\"><div dir=\"auto\" class=\"css-146c3p1 r-dnmrzs r-1udh08x r-1udbk01 r-3s2u2q r-1iln25a r-vnw8o6 r-1enofrn r-1f529hi\" style=\"color: rgb(128, 128, 128);\">Plat - 1800m - 12 partants</div></div><div class=\"css-175oi2r r-1awozwy r-18u37iz r-1q142lx\"><div class=\"css-175oi2r r-13hce6t r-1afez2q r-z2wwpe r-tuq35u\"><div dir=\"auto\" class=\"css-146c3p1 r-11o462g r-rdjlrx r-10x49cs\">GROUPE 1</div></div><div class=\"css-175oi2r r-13hce6t r-1afez2q r-z2wwpe r-tuq35u\"><div dir=\"auto\" class=\"css-146c3p1 r-11o462g r-rdjlrx r-10x49cs\">Exclu web</div></div></div></div></div></div></div></button></div></div></div><div class=\"css-175oi2r\"><div style=\"padding-right: 16px; padding-left: 16px;\"><div class=\"course-link\" title=\"CALPURNIA (2021)\" role=\"link\" aria-label=\"Sélectionnez une course\"><button role=\"button\" tabindex=\"0\" class=\"css-175oi2r r-1loqt21 r-1otgn73 r-14lw9ot r-1q9bdsx r-1dt9a7j r-5oul0u r-13qz1uu\" style=\"opacity: 1;\" type=\"button\"><div class=\"css-175oi2r r-1q9bdsx r-1udh08x\"><div class=\"css-175oi2r r-18u37iz r-xyw6el r-1qhn6m8\" style=\"background-color: rgb(255, 255, 255); height: 80px; user-select: none;\" data-testid=\"CourseCardContainer\"><div class=\"css-175oi2r r-5t7aoe r-eqz5dr r-102gzdx r-1777fci r-1kz6sp r-vb8uwu r-88pszg r-1bymd8e\" data-testid=\"courseNumberCard\"><div dir=\"auto\" class=\"css-146c3p1 r-rdjlrx r-adyw6z r-135wba7 r-q4m81j r-jwli3a\">R10</div><div dir=\"auto\" class=\"css-146c3p1 r-rdjlrx r-adyw6z r-135wba7 r-q4m81j r-jwli3a r-q3we1\">C7</div></div><div class=\"css-175oi2r r-13awgt0 r-eqz5dr\"><div class=\"css-175oi2r r-1habvwh r-13awgt0 r-18u37iz\"><div class=\"css-175oi2r r-eqz5dr r-16y2uox r-1wbh5a2\"><h3 dir=\"auto\" aria-level=\"3\" role=\"heading\" class=\"css-146c3p1 r-dnmrzs r-1udh08x r-1udbk01 r-3s2u2q r-1iln25a r-vnw8o6 r-ubezar r-14yzgew r-1ozqkpa\" style=\"color: rgb(21, 41, 40);\">maronas</h3><h3 dir=\"auto\" aria-level=\"3\" role=\"heading\" class=\"css-146c3p1 r-dnmrzs r-1udh08x r-1udbk01 r-3s2u2q r-1iln25a r-vnw8o6 r-ubezar r-14yzgew r-1ozqkpa\" style=\"color: rgb(21, 41, 40);\">prix calpurnia</h3></div><div class=\"css-175oi2r r-1habvwh r-18u37iz r-1q142lx r-17s6mgv r-13hce6t r-1ttlgze\"><div class=\"css-175oi2r r-obd0qt r-eqz5dr r-1777fci\"><div dir=\"auto\" class=\"css-146c3p1 r-vnw8o6 r-djgu52 r-1b43r93 r-1cwl3u0\">23h45</div></div></div></div><div class=\"css-175oi2r r-obd0qt r-18u37iz r-1wtj0ep\"><div class=\"css-175oi2r r-eqz5dr r-16y2uox r-1wbh5a2 r-14gqq1x\"><div dir=\"auto\" class=\"css-146c3p1 r-dnmrzs r-1udh08x r-1udbk01 r-3s2u2q r-1iln25a r-vnw8o6 r-1enofrn r-1f529hi\" style=\"color: rgb(128, 128, 128);\">Plat - 1200m - 9 partants</div></div><div class=\"css-175oi2r r-1awozwy r-18u37iz r-1q142lx\"><div class=\"css-175oi2r r-13hce6t r-1afez2q r-z2wwpe r-tuq35u\"><div dir=\"auto\" class=\"css-146c3p1 r-11o462g r-rdjlrx r-10x49cs\">Exclu web</div></div></div></div></div></div></div></button></div></div></div><div class=\"css-175oi2r\"><div style=\"padding-right: 16px; padding-left: 16px;\"><div class=\"course-link\" title=\"SALIDORA AVE (2022)\" role=\"link\" aria-label=\"Sélectionnez une course\"><button role=\"button\" tabindex=\"0\" class=\"css-175oi2r r-1loqt21 r-1otgn73 r-14lw9ot r-1q9bdsx r-1dt9a7j r-5oul0u r-13qz1uu\" style=\"opacity: 1;\" type=\"button\"><div class=\"css-175oi2r r-1q9bdsx r-1udh08x\"><div class=\"css-175oi2r r-18u37iz r-xyw6el r-1qhn6m8\" style=\"background-color: rgb(255, 255, 255); height: 80px; user-select: none;\" data-testid=\"CourseCardContainer\"><div class=\"css-175oi2r r-5t7aoe r-eqz5dr r-102gzdx r-1777fci r-1kz6sp r-vb8uwu r-88pszg r-1bymd8e\" data-testid=\"courseNumberCard\"><div dir=\"auto\" class=\"css-146c3p1 r-rdjlrx r-adyw6z r-135wba7 r-q4m81j r-jwli3a\">R10</div><div dir=\"auto\" class=\"css-146c3p1 r-rdjlrx r-adyw6z r-135wba7 r-q4m81j r-jwli3a r-q3we1\">C8</div></div><div class=\"css-175oi2r r-13awgt0 r-eqz5dr\"><div class=\"css-175oi2r r-1habvwh r-13awgt0 r-18u37iz\"><div class=\"css-175oi2r r-eqz5dr r-16y2uox r-1wbh5a2\"><h3 dir=\"auto\" aria-level=\"3\" role=\"heading\" class=\"css-146c3p1 r-dnmrzs r-1udh08x r-1udbk01 r-3s2u2q r-1iln25a r-vnw8o6 r-ubezar r-14yzgew r-1ozqkpa\" style=\"color: rgb(21, 41, 40);\">maronas</h3><h3 dir=\"auto\" aria-level=\"3\" role=\"heading\" class=\"css-146c3p1 r-dnmrzs r-1udh08x r-1udbk01 r-3s2u2q r-1iln25a r-vnw8o6 r-ubezar r-14yzgew r-1ozqkpa\" style=\"color: rgb(21, 41, 40);\">prix salidora ave</h3></div><div class=\"css-175oi2r r-1habvwh r-18u37iz r-1q142lx r-17s6mgv r-13hce6t r-1ttlgze\"><div class=\"css-175oi2r r-obd0qt r-eqz5dr r-1777fci\"><div dir=\"auto\" class=\"css-146c3p1 r-vnw8o6 r-djgu52 r-1b43r93 r-1cwl3u0\">00h15</div></div></div></div><div class=\"css-175oi2r r-obd0qt r-18u37iz r-1wtj0ep\"><div class=\"css-175oi2r r-eqz5dr r-16y2uox r-1wbh5a2 r-14gqq1x\"><div dir=\"auto\" class=\"css-146c3p1 r-dnmrzs r-1udh08x r-1udbk01 r-3s2u2q r-1iln25a r-vnw8o6 r-1enofrn r-1f529hi\" style=\"color: rgb(128, 128, 128);\">Plat - 1200m - 9 partants</div></div><div class=\"css-175oi2r r-1awozwy r-18u37iz r-1q142lx\"><div class=\"css-175oi2r r-13hce6t r-1afez2q r-z2wwpe r-tuq35u\"><div dir=\"auto\" class=\"css-146c3p1 r-11o462g r-rdjlrx r-10x49cs\">Exclu web</div></div></div></div></div></div></div></button></div></div></div><div class=\"css-175oi2r\"><div style=\"padding-right: 16px; padding-left: 16px;\"><div class=\"course-link\" title=\"KENTUCKY DERBY\" role=\"link\" aria-label=\"Sélectionnez une course\"><button role=\"button\" tabindex=\"0\" class=\"css-175oi2r r-1loqt21 r-1otgn73 r-14lw9ot r-1q9bdsx r-1dt9a7j r-5oul0u r-13qz1uu\" style=\"opacity: 1;\" type=\"button\"><div class=\"css-175oi2r r-1q9bdsx r-1udh08x\"><div class=\"css-175oi2r r-18u37iz r-xyw6el r-1qhn6m8\" style=\"background-color: rgb(255, 255, 255); height: 80px; user-select: none;\" data-testid=\"CourseCardContainer\"><div class=\"css-175oi2r r-5t7aoe r-eqz5dr r-102gzdx r-1777fci r-1kz6sp r-vb8uwu r-88pszg r-1bymd8e\" data-testid=\"courseNumberCard\"><div dir=\"auto\" class=\"css-146c3p1 r-rdjlrx r-adyw6z r-135wba7 r-q4m81j r-jwli3a\">R9</div><div dir=\"auto\" class=\"css-146c3p1 r-rdjlrx r-adyw6z r-135wba7 r-q4m81j r-jwli3a r-q3we1\">C12</div></div><div class=\"css-175oi2r r-13awgt0 r-eqz5dr\"><div class=\"css-175oi2r r-1habvwh r-13awgt0 r-18u37iz\"><div class=\"css-175oi2r r-eqz5dr r-16y2uox r-1wbh5a2\"><h3 dir=\"auto\" aria-level=\"3\" role=\"heading\" class=\"css-146c3p1 r-dnmrzs r-1udh08x r-1udbk01 r-3s2u2q r-1iln25a r-vnw8o6 r-ubezar r-14yzgew r-1ozqkpa\" style=\"color: rgb(21, 41, 40);\">churchill downs</h3><h3 dir=\"auto\" aria-level=\"3\" role=\"heading\" class=\"css-146c3p1 r-dnmrzs r-1udh08x r-1udbk01 r-3s2u2q r-1iln25a r-vnw8o6 r-ubezar r-14yzgew r-1ozqkpa\" style=\"color: rgb(21, 41, 40);\">prix kentucky derby</h3></div><div class=\"css-175oi2r r-1habvwh r-18u37iz r-1q142lx r-17s6mgv r-13hce6t r-1ttlgze\"><div class=\"css-175oi2r r-obd0qt r-eqz5dr r-1777fci\"><div dir=\"auto\" class=\"css-146c3p1 r-vnw8o6 r-djgu52 r-1b43r93 r-1cwl3u0\">00h57</div></div></div></div><div class=\"css-175oi2r r-obd0qt r-18u37iz r-1wtj0ep\"><div class=\"css-175oi2r r-eqz5dr r-16y2uox r-1wbh5a2 r-14gqq1x\"><div dir=\"auto\" class=\"css-146c3p1 r-dnmrzs r-1udh08x r-1udbk01 r-3s2u2q r-1iln25a r-vnw8o6 r-1enofrn r-1f529hi\" style=\"color: rgb(128, 128, 128);\">Plat - 2000m - 21 partants</div></div><div class=\"css-175oi2r r-1awozwy r-18u37iz r-1q142lx\"><div class=\"css-175oi2r r-13hce6t r-1afez2q r-z2wwpe r-tuq35u\"><div dir=\"auto\" class=\"css-146c3p1 r-11o462g r-rdjlrx r-10x49cs\">GROUPE 1</div></div><div class=\"css-175oi2r r-13hce6t r-1afez2q r-z2wwpe r-tuq35u\"><div dir=\"auto\" class=\"css-146c3p1 r-11o462g r-rdjlrx r-10x49cs\">Exclu web</div></div></div></div></div></div></div></button></div></div></div></div>","payloadType":"str","x":430,"y":340,"wires":[["f960f7396d168830"]]},{"id":"6efb9db6cc74fb9e","type":"function","z":"9182f0c927a346f1","name":"function 2","func":"var items = msg.payload;\n\n\n//node.log(\"item ln \" + items.length);\nvar titles = [];\nvar result = {};\nvar courses = [];\nfor (var i = 0; i < items.length; i++) {\n    const $ = cheerio.load(items[i]);\n\n    // Sélection avec un sélecteur CSS\n    const title = $('.course-link').attr('title');\n\n    var course = {};\n    // Vérifie si l'objet a la propriété 'href'\n    node.log(\"title \" + title);\n\n        course.title = title;\n}\n// Assignez le tableau des hrefs à msg.payload\nresult.text = courses;\nmsg.payload = result;\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[{"var":"cheerio","module":"cheerio"}],"x":900,"y":300,"wires":[["0e2820700f93436e"]]},{"id":"0e2820700f93436e","type":"debug","z":"9182f0c927a346f1","name":"debug 5","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1080,"y":320,"wires":[]}]